<div>
    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Due Date</th>
                <th class="th">LASHMA ID</th>
                <th class="th">Amount Due</th>
                <th class="th">Duration Policy</th>
                <th class="th">Policy ID</th>
                <th class="th">Health Plan</th>
                <th class="th">Responsible HIA</th>
                <th class="th"></th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngIf="beneficiaries.length === 0 && !loading">
                <td class="text-center" colspan="9">No data available in table</td>
            </tr>
            <tr class="tr" *ngIf="beneficiaries.length === 0 && loading">
                <td class="text-center" colspan="9">
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>
            <tr *ngFor="let beneficiary of beneficiaries; let i = index;" class="tr">
                <td class="td">{{i+1}}</td>
                <td class="td">{{ beneficiary?.dueDate }}</td>
                <td class="td">{{ beneficiary?.principalBeneficiary?.platformOwnerNumber }}</td>
                <td class="td" style="color: red;">&#x20A6; {{ beneficiary?.premiumPackageId?.amount }}</td>
                <td class="td">{{ beneficiary?.premiumPackageId?.duration }} {{ beneficiary?.premiumPackageId?.unit?.name }}</td>
                <td class="td">{{ beneficiary?.beneficiaryId }}</td>
                <td class="td">{{ beneficiary?.planId?.name }}</td>
                <td class="td">{{ beneficiary?.hiaId?.name }}</td>
                <td class="td td-icos" routerLink="/modules/beneficiary/beneficiaries/{{policy?.principalBeneficiary?._id}}/payment">
                    <i class="fa fa-chevron-right"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
        <div class="btn btn-medium btn-yellow">Load More</div>
    </div>
</div>