<table class="table" cellpadding="0" cellspacing="0" border="0.5">
    <thead class="thead">
        <tr class="tr">
            <th class="th">No</th>
            <th class="th">Name</th>
            <th class="th">Gender</th>
            <th class="th">Type</th>
            <th class="th">LASHMA ID</th>
            <th class="th">DOB</th>
            <th class="th">L.G.A</th>
            <th class="th">HIA</th>
            <th class="th">Status</th>
            <td class="th">Action</td>
        </tr>
    </thead>

    <tbody class="tbody">
        <tr *ngFor="let policy of mainBeneficiaries; let i=index" class="tr">
            <td class="td hover">{{i+1}}</td>
            <td class="td hover">
                <span *ngIf="!isEdit" class="td-value">{{policy.personId?.lastName}} {{policy.personId?.lastName}}</span>
                <div *ngIf="isEdit" class="input-wrap">
                    <input [formControl]="nameControl" type="text">
                </div>
            </td>
            <td class="td hover">
                <span *ngIf="!isEdit" class="td-value">{{policy.personId?.gender.name}}</span>
                <div *ngIf="isEdit" class="input-wrap">
                    <select [formControl]="genderControl">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </td>
            <td class="td hover">
                <span *ngIf="!isEdit && policy.isPrincipal" class="baller td-value">P</span>
                <span *ngIf="!isEdit && !policy.isPrincipal" class="baller td-value">D</span>
                <div *ngIf="isEdit" class="input-wrap">
                    <select [formControl]="typeControl">
                        <option>P</option>
                        <option>D</option>
                    </select>
                </div>
                <!-- <span *ngIf="beneficiary?.isPrincipal" class="dep-count">+{{beneficiary.dependantCount}}</span>
                <span *ngIf="!beneficiary?.isPrincipal" class="baller">D</span>
                <span *ngIf="!beneficiary?.isPrincipal" class="dep-count"></span> -->
            </td>

            <td class="td hover" (click)="navigateDetailBeneficiary()">
                <span *ngIf="!isEdit" class="td-value">{{policy?.platformOwnerNumber}}</span>
                <div *ngIf="isEdit" class="input-wrap">
                    <input [formControl]="idControl" type="text">
                </div>
            </td>
            <td class="td hover" (click)="navigateDetailBeneficiary()">
                <span *ngIf="!isEdit" class="td-value">{{policy?.personId?.dateOfBirth|date}}</span>
                <div *ngIf="isEdit" class="input-wrap">
                    <my-date-picker name="dobControl" [options]="myDatePickerOptions" [selDate]="today" [formControl]="dobControl"></my-date-picker>
                </div>
            </td>
            <td class="td hover" (click)="navigateDetailBeneficiary()">
                <span *ngIf="!isEdit" class="td-value">Ikorodu</span>
                <div *ngIf="isEdit" class="input-wrap">
                    <select [formControl]="lgaControl">
                        <option>P</option>
                        <option>D</option>
                    </select>
                </div>
            </td>
            <td class="td hover" (click)="navigateDetailBeneficiary()">
                <span *ngIf="!isEdit" class="td-value">Hygia</span>
                <div *ngIf="isEdit" class="searchable-input">
                    <input type="text" [formControl]="hiaControl" class="form-control">
                    <ul *ngIf="hiaResult" class="search-results">
                        <li>Hygia</li>
                    </ul>
                </div>
            </td>
            <td class="td hover" (click)="navigateDetailBeneficiary()">
                <span *ngIf="!isEdit" class="tbl-status-active td-value">Active</span>
                <div *ngIf="isEdit" class="input-wrap">
                    <select [formControl]="statusControl">
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
            </td>
            <td class="td td-icos">
                <i *ngIf="!isEdit" class="fa fa-edit" (click)="editRow()"></i>
                <i *ngIf="isEdit" class="fa fa-check" (click)="editRow()"></i>
            </td>
        </tr>
    </tbody>
</table>