<section class="content">
    <div class="row">
        <section class="box">
            <div class="col-xs-12 col-sm-8 no-padding">

            </div>
            <div class="col-xs-12 col-sm-4 no-padding">
                <a class="btn btn-default border-gray btn-flat text-gray pull-right" routerLink="/modules/hia/hias">
                    <i class="fa fa-times"></i> CANCEL
                </a>
            </div>
        </section>
    </div>
    <div class="row pad-up">
        <section class="box border-top">
            <div class="col-xs-12">
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Provider name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Neighbourhood</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Phone number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label pad-left-2">- Contact number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label pad-left-2">- Contact position</label>
                        <div class="col-sm-8">
                            <select name="" id="" class="form-control">
								<option value="0">Select Position</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label pad-left-2">- Contact email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">IT Contact name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label pad-left-2">- Contact number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label pad-left-2">- Contact position</label>
                        <div class="col-sm-8">
                            <select name="" id="" class="form-control">
								<option value="0">Select Position</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label pad-left-2">- Contact email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Type</label>
                        <div class="col-sm-8">
                            <select class="form-control">
								<option value="HIA">Health Insurance Agency</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Bank account name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Bank account number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Plans</label>
                        <div class="col-sm-8">
                            <select class="form-control">
								<option value="State Government">Formal Sector plan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <select class="form-control">
								<option value="State Government">State Health plan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <select class="form-control">
								<option value="State Government">Private Medical Insurance</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">NHIS number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">CIN number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Registration Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Photos</label>
                        <div class="col-sm-8 no-padding">
                            <div class="col-xs-6">
                                <img src="assets/img/lagos-state-logo.jpg" class="img-square" alt="">
                            </div>
                            <div class="col-xs-6">
                                <img src="assets/img/lagos-state-logo.jpg" class="img-square" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad-all">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <button class="btn bg-yellow btn-flat text-white">DECLINE</button>
                        <button class="btn bg-brand btn-flat border-brand text-white">APPROVE</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>