@import "../../../../styles.scss";
.box-content-header {
    padding: 10px;
}

.box-body {
    .img-box {
        img {
            display: block;
            margin: 0 auto;
            height: 125px;
            width: 125px;
        }
    }
}
.nutTab-wrap{
    width: 25%;
}
.txt-link {
    color: #003c6b;
    text-align: right;
    cursor: pointer;
}
.txt-link:hover{
    text-decoration: underline;
}
.frm-inner-title {
    font-weight: bold;
    margin-top: 20px;
}
label{
    padding-left: 6px;
}