<div style="padding-top:2px;">
    <section class="app-content-wrap content shadow-RB">

        <div class="nut-tab-topSect-wrap"> 
            <div class="nutTabs-wrap">
    
                <div  [class.active-nut]="tab_personalData" class="nutTab-wrap">
                    <div class="nut-outer">
                        <div class="nut-inner"></div>
                        <!-- <div class="nut-stroke">
                            <div class="stroke-1" style="background:transparent;"></div>
                            <div class="stroke-2"></div>
                        </div> -->
                    </div>
                    <div class="nut-label">Principal</div>
                </div>
    
                <div  [class.active-nut]="tab_dependants" class="nutTab-wrap">
                    <div class="nut-outer">
                        <div class="nut-inner"></div>
                        <!-- <div class="nut-stroke">
                            <div class="stroke-1"></div>
                            <div class="stroke-2"></div>
                        </div> -->
                    </div>
                    <div class="nut-label">Dependants</div>
                </div>

                <div  [class.active-nut]="tab_nok" class="nutTab-wrap">
                    <div class="nut-outer">
                        <div class="nut-inner"></div>
                        <!-- <div class="nut-stroke">
                            <div class="stroke-1"></div>
                            <div class="stroke-2"></div>
                        </div> -->
                    </div>
                    <div class="nut-label">Next OF Kin</div>
                </div>
    
                <div (click)="tabProgram_click()" [class.active-nut]="tab_program" class="nutTab-wrap">
                    <div class="nut-outer">
                        <div class="nut-inner"></div>
                        <!-- <div class="nut-stroke">
                            <div class="stroke-1"></div>
                            <div class="stroke-2"></div>
                        </div> -->
                    </div>
                    <div class="nut-label">Program</div>
                </div>
    
                <div (click)="tabConfirm_click()" [class.active-nut]="tab_confirm" class="nutTab-wrap">
                    <div class="nut-outer">
                        <div class="nut-inner"></div>
                        <!-- <div class="nut-stroke">
                            <div class="stroke-1"></div>
                            <div class="stroke-2" style="display:none;"></div>
                        </div> -->
                    </div>
                    <div class="nut-label">Confirm</div>
                </div>
            </div>
        
            <div class="btn btn-medium btn-grey-outline" routerLink="/modules/beneficiary/beneficiaries">
                <i class="fa fa-times"></i> CANCEL
            </div>
        </div>

        <div *ngIf="tab_personalData">
            <app-new-beneficiary-data></app-new-beneficiary-data>
        </div>

        <div *ngIf="tab_dependants">
            <app-new-beneficiary-dependant [selectedBeneficiary]="selectedBeneficiary"></app-new-beneficiary-dependant>
        </div>

        <div *ngIf="tab_program">
            <app-new-beneficiary-program [selectedBeneficiary]="selectedBeneficiary" [dependants]="dependants"></app-new-beneficiary-program>
        </div>

        <div *ngIf="tab_nok">
            <app-new-beneficiary-nok></app-new-beneficiary-nok>
        </div>

        <div *ngIf="tab_confirm">
            <app-new-beneficiary-confirm [selectedBeneficiary]="selectedBeneficiary" [dependants]="dependants" [policy]="policy"></app-new-beneficiary-confirm>
        </div>
    </section>
</div>