@import "../../../../styles.scss";
.box-content-header {
    padding: 10px;
}

.box-body {
    .img-box {
        img {
            height: 100%;
            width: 100%;
        }
    }
}
.nutTab-wrap{
    width: 25%;
}
.txt-link {
    color: #003c6b;
    text-align: right;
    cursor: pointer;
}
.txt-link:hover{
    text-decoration: underline;
}
.frm-inner-title {
    font-weight: bold;
    margin-top: 20px;
}
label{
    padding-left: 6px;
}
.img-box {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person-wrap{
    position: relative;
}
.person-wrap button{
    position: absolute;
    top: 0;
    right: 0;
}
.box-content-header {
    font-weight: bold;
}
.confirm-sect1{
    border-bottom: 1px solid #DADADA;
}
.confirm-sect2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn-primary{
    background-color: #003c6b !important;
} 