<div class="app-content-wrap shadow-RB">
    <div class="list-search-wrap">
        <div class="search-wrap">
            <label class="label-xx">Search:</label>
            <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>

        <div class="btn btn-medium btn-grey-outline" routerLink="/modules/checkin/checkedin">
            <i class="fa fa-times"></i> CANCEL
        </div>
    </div>

    <div class="tbl-wrap">

        <table class="table" cellpadding="0" cellspacing="0" border="0.5">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">Name</th>
                    <th class="th">Gender</th>
                    <th class="th">LASHMA ID</th>
                    <th class="th">Date of Birth</th>
                    <th class="th">Status</th>
                </tr>
            </thead>

            <tbody class="tbody">
                <tr class="tr" *ngIf="beneficiaries.length === 0">
                    <td class="text-center" colspan="5">
                        <i class="text-center">No data available in table</i>
                    </td>
                </tr>
                <tr *ngFor="let beneficiary of beneficiaries" class="tr">
                    <td class="td">{{beneficiary?.person.lastName}} {{beneficiary?.person.firstName}}</td>
                    <td class="td">{{beneficiary?.person.gender.name}}</td>
                    <td class="td">{{beneficiary?.platformOwnerNumber}}</td>
                    <td class="td">{{beneficiary?.person.dateOfBirth | date}}</td>
                    <td class="td"><span class="green">Active</span></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>