<section class="content">
    <div class="row pad-all">
        <div class="col-12 no-padding">
            <button class="btn btn-default text-brand border-brand" style="margin-left: 5px;" routerLink="/modules/employer/employers">
				<i class="fa fa-chevron-left"></i> BACK TO EMPLOYERS
			</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Employer Details</a></li>
        <!--<li><a data-toggle="tab" href="#menu1">Pre-Authorization</a></li>
        <li><a data-toggle="tab" href="#menu2">List of Plans</a></li>
        <li><a data-toggle="tab" href="#menu3">Beneficiaries</a></li>-->
        <!--<li><a data-toggle="tab" href="#menu4">Employers</a></li>
        <li><a data-toggle="tab" href="#menu5">Payment History</a></li>
        <li><a data-toggle="tab" href="#menu6">Claims</a></li>
        <li><a data-toggle="tab" href="#menu7">Complaints</a></li>
        <li><a data-toggle="tab" href="#menu8">Referrals</a></li>-->
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade show active">
            <div class="row pad-all">
                <div class="col-sm-4 no-padding">
                    <div class="box-content-header">
                        <span>Industry Type: {{employerDetails?.employer?.industry?.name}}</span>
                    </div>
                    <div class="box-body">
                        <div class="row pad-all">
                            <div class="col-12 margin-bottom">
                                <b>Employer Details:</b>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-10 no-padding">
                                        <div class="img-box">
                                            <img src="assets/img/Chimamanda-Ngozi-Adichie-Natural-Hair-3.jpg" alt="" class="img-thumbnail img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-2 no-padding">
                                        <button routerLink="/modules/employer/edit-employer/{{ routeId }}" class="btn bg-brand btn-round text-white edit-item"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pad-all">
                            <div class="col-12">
                                <span>{{ employerDetails.name }}</span><br>
                                <span>{{employerDetails?.employer?.industry?.name}}</span><br>
                                <span>{{ employerDetails.address?.street }}, {{ employerDetails.address?.neighbourhood }}, {{ employerDetails.address?.city.name }}, {{ employerDetails.address?.state.name }} </span><br>
                                <span>{{employerDetails.phoneNumber}}</span><br>
                            </div>
                            <div class="col-12 pad-up">
                                <span><b>CAC: </b><br> {{ employerDetails?.employer?.cacNumber }}</span><br>
                                <span><b>CIN: </b><br> {{ employerDetails?.employer?.cin }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 no-padding">
                    <div class="box-content-header">
                        <span>Status:  <span class="{{ employerDetails.isTokenVerified ? 'text-success': 'text-red' }}"> 
                                    {{ employerDetails.isTokenVerified ? 'Active': 'Inactive' }}
                                </span></span>
                    </div>
                    <div class="box-body">
                        <div class="row pad-all">
                            <div class="col-12 margin-bottom">
                                <b>Business Contact:</b>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-10 no-padding">
                                        <div class="img-box">
                                            <img src="assets/img/Chimamanda-Ngozi-Adichie-Natural-Hair-3.jpg" alt="" class="img-thumbnail img-responsive img-circle"
                                                style="width: 125px;">
                                        </div>
                                    </div>
                                    <div class="col-2 no-padding">
                                        <button class="btn bg-brand btn-round text-white edit-item"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pad-all">
                            <div class="col-12">
                                <span>{{ employerDetails?.businessContact?.lastName }} {{ employerDetails?.businessContact?.lastName }}</span><br>
                                <span>{{ employerDetails?.businessContact?.phoneNumber }}</span><br>
                                <span>{{ employerDetails?.businessContact?.email }}</span><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 no-padding">
                    <div class="box-content-header">
                        <span class="pull-right" style="cursor: pointer; padding: 5px;">
                                <i class="fa fa-pencil-square-o"></i>
                            </span>&nbsp;
                    </div>
                    <div class="box-body">
                        <div class="row pad-all">
                            <div class="col-12 margin-bottom">
                                <b>Health Insurance Agents:</b>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-10 no-padding">
                                        <div class="img-box">
                                            <img src="assets/img/Chimamanda-Ngozi-Adichie-Natural-Hair-3.jpg" alt="" class="img-thumbnail img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-2 no-padding">
                                        <button class="btn bg-brand btn-round text-white edit-item"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pad-up">
                                <span>Hygeia</span><br>
                                <span>Ikeja</span><br>
                                <span>080490304030</span><br>
                                <span>www.goodle.com</span>
                            </div>
                            <div class="col-12 pad-up">
                                <button class="btn btn-default text-brand border-brand">
                                        To Details <i class="fa fa-chevron-right"></i>
                                    </button>
                            </div>
                            <div class="col-12 pad-up">
                                <button class="btn bg-brand btn-round text-white"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</section>