@import "../../../../styles.scss";
.box-content-header {
    background-color: $brand-primary;
    color: $white;
    padding: 10px;
}

// .nav-tabs>li.active>a,
// .nav-tabs>li.active>a:hover,
// .nav-tabs>li.active>a:focus {
//     color: #555;
//     cursor: default;
//     background-color: #fff;
//     border-bottom-color: transparent;
// }
.nav-tabs {
    border-bottom: 1px solid $brand-primary;
    >li {
        >a {
            margin-right: 0px;
            border-left: 1px solid $brand-primary;
            border-right: 1px solid $brand-primary;
            border-top: 1px solid $brand-primary;
            border-radius: 0px;
        }
        &.active {
            &:hover,
            &:focus {
                color: $brand-primary;
                background-color: $white;
                //border-bottom-color: transparent;
            }
        }
    }
}

.tab-content {
    background-color: $white;
    border-left: 1px solid $brand-primary;
    border-right: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
    padding: 10px;
}

.box-body {
    .img-box {
        .badge {
            position: absolute;
            left: 30px;
            top: 10px;
        }
        img {
            display: block;
            margin: 0 auto;
            height: 125px;
            width: 100%;
        }
    }
    .edit-item {
        position: absolute;
        left: -20px;
        top: -20px;
    }
}