<div class="list-search-wrap">
    <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="btn btn-medium btn-blue">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD ROLE
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="label-xx">Filters:</div>

        <div class="input-wrap">
            <label>Type</label>
            <select [formControl]="filterTypeControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Created By</label>
            <select [formControl]="createdByControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Utilized By</label>
            <select [formControl]="utilizedByControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Status</label>
            <select [formControl]="statusControl">
        <option>All</option>
      </select>
        </div>

        <div class="btn btn-medium btn-blue-outline">RESET</div>
    </div>

    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">Name</th>
                <th class="th">Type</th>
                <th class="th">Number of HIAs</th>
                <th class="th">Created By</th>
                <th class="th">Week</th>
                <th class="th">Premium Month</th>
                <th class="th">Year</th>
                <th class="th">Status</th>
                <th class="th"></th>
            </tr>
        </thead>

        <tbody class="tbody">
            <tr routerLink="/modules/plan/plans/87788" class="tr">
                <td class="td">kkk</td>
                <td class="td">mjjnnn nnn j</td>
                <td class="td">oijoim</td>
                <td class="td">090808080808</td>
                <td class="td">kjkhkhkhkh</td>
                <td class="td">oijoim</td>
                <td class="td">090808080808</td>
                <td class="td tbl-status-active">Active</td>
                <td><i class="fa fa-chevron-right"></i></td>
            </tr>

            <tr routerLink="/modules/plan/plans/87788" class="tr">
                <td class="td">kkk</td>
                <td class="td">mjjnnn nnn j</td>
                <td class="td">oijoim</td>
                <td class="td">090808080808</td>
                <td class="td">kjkhkhkhkh</td>
                <td class="td">oijoim</td>
                <td class="td">090808080808</td>
                <td class="td tbl-status-inactive">Inactive</td>
                <td><i class="fa fa-chevron-right"></i></td>
            </tr>

            <tr routerLink="/modules/plan/plans/87788" class="tr">
                <td class="td">kkk</td>
                <td class="td">mjjnnn nnn j</td>
                <td class="td">oijoim</td>
                <td class="td">090808080808</td>
                <td class="td">kjkhkhkhkh</td>
                <td class="td">oijoim</td>
                <td class="td">090808080808</td>
                <td class="td tbl-status-active">Active</td>
                <td><i class="fa fa-chevron-right"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
        <div class="btn btn-medium btn-yellow">Load More</div>
    </div>
</div>