<div class="list-search-wrap">
    <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="btn btn-medium btn-blue">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD ROLE
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="label-xx">Filters:</div>

        <div class="input-wrap">
            <label>Type</label>
            <select [formControl]="filterTypeControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Created By</label>
            <select [formControl]="createdByControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Utilized By</label>
            <select [formControl]="utilizedByControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Status</label>
            <select [formControl]="statusControl">
        <option>All</option>
      </select>
        </div>

        <div class="btn btn-medium btn-blue-outline">RESET</div>
    </div>

    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Name</th>
                <th class="th">Accessibilities</th>
                <th class="th">Status</th>
                <th class="th">Action</th>
            </tr>
        </thead>

        <tbody class="tbody">
            <tr *ngIf="roles.length === 0 && !loading">
                <td class="text-center" colspan="5">No data available in table</td>
            </tr>
            <tr *ngIf="roles.length === 0 && loading">
                <td class="text-center" colspan="5">
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>
            <tr class="tr" *ngFor="let role of roles; let i = index;">
                <td class="td">{{ i+1 }}</td>
                <td class="td">{{ role.name }}</td>
                <td class="td">{{ role.module.name }}</td>
                <td class="td">
                    <label class="switch">
                      <input type="checkbox" [attr.checked]="role.isActive ? true : null" (change)="onClickActivate(role);" class="input-action-leader-board"/>
                      <div class="slider round"></div>
                    </label>
                </td>
                <td class="td">
                    <button class="btn btn-primary btn-flat btn-smaller" (click)="open(content, role)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
        <div class="btn btn-medium btn-yellow">Load More</div>
    </div>
</div>