<section class="app-content-wrap">

    <div class="content shadow-RB">
        <div class="list-search-wrap">
            <div class="search-wrap">
                <label class="label-xx">Search:</label>
                <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>

            <div routerLink="/modules/role/new" class="btn btn-medium btn-blue">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> NEW ROLE
            </div>
        </div>
        <!-- <form class="grey-bg" [formGroup]="roleFormGroup" novalidate>
            <div class="frm-item-wrap">
                <label class="label">Role Name</label>
                <div class="input-wrap">
                    <input formControlName="roleName" class="form-control">
                </div>
                <small class="alert-label" [hidden]="roleFormGroup.controls.roleName.valid || roleFormGroup.controls.roleName.pristine">
                    This is a required field.
                </small>
            </div>
            <button (click)="onClickAddPremium(accessFormGroup.valid, accessFormGroup.value)" class="btn btn-medium btn-blue"> <i class="fa fa-plus"></i> ADD</button>
        </form> -->

        <table class="table">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">Name</th>
                    <th class="th">Module</th>
                    <th class="th">Accessibility</th>
                    <th class="th"></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let role of roles" class="tr">
                    <td class="td">{{role.name}}</td>
                    <td class="td">
                        <div *ngFor="let inner of role.accessibilities" class="td-data">{{inner.module.name}}</div>
                    </td>
                    <td class="td">
                        <div *ngFor="let inner of role.accessibilities" class="td-data">{{inner.accessibility.name}}</div>
                    </td>
                    <td>
                        <div class="td-icos">
                            <i  class="fa fa-trash"></i>
                            <i (click)="routeRole(role)"  class="fa fa-pencil"></i>
                        </div>
                    </td>
                </tr>
                <!-- <td class="td">{{role.module.name}}</td> -->
                <!-- <tr *ngFor="let role1 of role.accessibilities" class="tr">
                    <td class="td">{{role1.module.name}}</td>
                    <td class="td"></td>
                    <td class="td-icos">
                        <i class="fa fa-trash"></i>
                        <i class="fa fa-edit"></i>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
</section>