<div class="in-content-wrap">
    <div class="tabsect-wrap">
        <div *ngIf="!isBeneficiary" (click)="navigateBeneficiary('/modules/beneficiary/beneficiaries');" class="back-btn">
            <i class="fa fa-chevron-left"></i> BACK TO BENEFICIARIES
        </div>

        <div class="mobile-menu-wrap">
            <i (click)="mobilemenu_toggle()" class="fa fa-ellipsis-h"></i>

            <ul *ngIf="mobilemenu" class="mobile-menu">
                <li (click)="tabDetails_click()" [class.mobile-menu-active]="tab_details">Personal Details</li>
                <li (click)="tabPayment_click()" [class.mobile-menu-active]="tab_payment">Payment History</li>
                <li (click)="tabClaims_click()" [class.mobile-menu-active]="tab_claims">Claims</li>
                <li (click)="tabComplaints_click()" [class.mobile-menu-active]="tab_complaints">Complaints</li>
                <li (click)="tabReferals_click()" [class.mobile-menu-active]="tab_referals">Referals</li>
                <li (click)="tabCheckinGenerate_click()" [class.mobile-menu-active]="tab_checkinGenerate">Check In - Generate</li>
                <li (click)="tabCheckin_click()" [class.mobile-menu-active]="tab_checkin">Check In</li>
                <li (click)="tabCheckinDetail_click()" [class.mobile-menu-active]="tab_checkinHistory">Check In History</li>
            </ul>
        </div>
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">Personal Details</li>
        <li (click)="tabPayment_click()" [class.tab-active]="tab_payment">Payment History</li>
        <li (click)="tabClaims_click()" [class.tab-active]="tab_claims">Claims</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
        <li (click)="tabReferals_click()" [class.tab-active]="tab_referals">Referrals</li>
        <li *ngIf="isCheckIn" (click)="tabCheckinGenerate_click()" [class.tab-active]="tab_checkinGenerate">Check In - Generate</li>
        <li *ngIf="isCheckIn" (click)="tabCheckin_click()" [class.tab-active]="tab_checkin">Check In</li>
        <li *ngIf="isCheckIn" (click)="tabCheckinDetail_click()" [class.tab-active]="tab_checkinHistory">Check In History</li>
    </ul>

    <div class="tab-content shadow-RB">
        <div class="tab-title-mobile">{{tabTitle}}</div>
        <router-outlet></router-outlet>
    </div>
    <!-- <div class="tab-content shadow-RB">
        <div *ngIf="tab_details && beneficiary !== undefined" class="tab-pane fade show active">
            <app-personal-details [beneficiary]="beneficiary"></app-personal-details>
        </div>
        <div *ngIf="tab_payment" class="tab-pane fade show active">
            <app-payment-detail-beneficiary></app-payment-detail-beneficiary>
        </div>
        <div *ngIf="tab_checkin" class="tab-pane fade show active">
            <app-checkin-details [beneficiary]="beneficiary"></app-checkin-details>
        </div>
        <div *ngIf="tab_checkinHistory" class="tab-pane fade show active">
            <app-checkin-history></app-checkin-history>
        </div>
        <div *ngIf="tab_claims" class="tab-pane fade show active">
            <app-beneficiary-top-bar></app-beneficiary-top-bar>
            <app-list-claims></app-list-claims>
        </div>
        <div *ngIf="tab_referals" class="tab-pane fade show active">
            <app-beneficiary-top-bar></app-beneficiary-top-bar>
            <app-list-referals></app-list-referals>
        </div>
    </div> -->
</div>

<div *ngIf="addApproval" class="modal-overlay">
    <div class="modal-wrap shadow-RB">
        <div (click)="addApprovalClick();" class="close-modal">X</div>
        <div class="modal-title">EDIT STATUS -
            <em>Beneficiary</em>
        </div>
        <div class="list-boxes">
            <div class="box-left">
                <!-- <div *ngIf="!policy?.isActive" style="padding: 10px 0px;">
                    <form [formGroup]="approvalFormGroup" novalidate>
                        <div class="form-item-wrap">
                            <label class="label">Duration</label>
                            <div class="input-wrap">
                                <input type="number" min="1" formControlName="duration" class="form-control" placeholder="Duration">
                            </div>
                        </div>
                        <div class="form-item-wrap">
                            <label class="label">Interval</label>
                            <div class="input-wrap">
                                <select formControlName="unit" class="form-control">
                                    <option value="" disabled>Select Interval</option>
                                    <option [ngValue]="duration" *ngFor="let duration of durations; let i=index">{{ duration.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-item-wrap">
                            <label class="label">Start Date</label>
                            <div class="input-wrap">
                                <my-date-picker [options]="myDatePickerOptions" [selDate]="today" formControlName="startDate"></my-date-picker>
                            </div>
                        </div>
                    </form>
                    <div class="btn-box">
                        <button class="btn btn-medium btn-green" style="float:left;" (click)="onClickApprove(approvalFormGroup.valid, approvalFormGroup.value);" [innerHtml]="approvalBtn"></button>
                        <button class="btn btn-medium" style="float:right;" (click)="addApprovalClick();">Cancel</button>
                    </div>
                </div> -->
                <div *ngIf="!policy?.isActive" style="padding: 70px 0px;">
                    <button class="btn btn-medium btn-green" style="float:left;" (click)="onClickDeactivate();">ACTIVATE POLICY</button>
                </div>
                <div *ngIf="policy?.isActive" style="padding: 70px 0px;">
                    <button class="btn btn-medium btn-red" style="float:left;" (click)="onClickDeactivate();">DEACTIVATE POLICY</button>
                </div>
            </div>

            <div class="box-right">
                <div class="text-center">
                    <span>List of Previous Policies</span>
                </div>
                <div class="box">
                    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                        <thead class="thead">
                            <tr class="tr">
                                <th class="th">No</th>
                                <th class="th">Duration</th>
                                <th class="th">Start Date</th>
                                <th class="th">Created At</th>
                                <th class="th">Valid Till</th>
                            </tr>
                        </thead>

                        <tbody class="tbody">
                            <tr class="tr" *ngIf="policy?.validityPeriods?.length === 0 && !loading">
                                <td class="text-center" colspan="4">No data available in table</td>
                            </tr>
                            <tr class="tr" *ngIf="policy?.validityPeriods?.length === 0 && loading">
                                <td class="text-center" colspan="4">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </td>
                            </tr>
                            <tr *ngFor="let pol of policy?.validityPeriods; let i = index;" class="tr">
                                <td class="td hover">{{ i+1 }}</td>
                                <td class="td hover">{{ pol.duration }} {{ pol.unit.name }}</td>
                                <td class="td hover">{{ pol.createdAt | date }}</td>
                                <td class="td hover">{{ pol.startDate?.jsdate | date }}</td>
                                <td class="td hover">{{ pol.validTill | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>