@import "../../../../styles.scss";
.box-content-header {
    background-color: $brand-primary;
    color: $white;
    padding: 10px;
}

.cont-sect-subhead{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pg-subtitle-wrap {
    display: flex;
    align-items: center;
}
.inner-content-area{
    padding: 10px;
    box-sizing: border-box;
}
.field-wrap{
    display: flex;
}
.field-label{
    margin-right: 5px;
    color: #003c6b;
    font-size: 12px;
    font-style: italic;
}
.field-val {
    color: #000;
    font-weight: bold;
}
.field-group{
    margin-bottom: 10px;
}