<section class="content">
  <div class="row pad-all">
    <div class="cont-sect-subhead col-xs-12 no-padding">
      <div class="pg-subtitle-wrap">
        <div class="profileImg-wrap"><img alt="" src="assets/img/lagos-state-logo.jpg"></div>
        <div class="pg-subtitle">Lagos State Health Management Agency <span>(LASHMA)</span></div>
      </div>
      <button class="btn btn-default text-brand border-brand" style="margin-left: 5px;" routerLink="/modules/platform/platforms">
        <i class="fa fa-chevron-left"></i> BACK TO PLATFORMS
      </button>
    </div>
  </div>

  <div class="tab-content pad-all">
      <div id="home" class="tab-pane fade in active">
          <div class="row">
            <div class="inner-content-area">
              <div class="field-group col-sm-12 col-md-4">
                <div class="field-wrap">
                  <div class="field-label">Email Address</div>
                  <div class="field-val">admin@lashma.com</div>
                </div>

                <div class="field-wrap">
                  <div class="field-label">Website</div>
                  <div class="field-val">www.lashma.com</div>
                </div>

                <div class="field-wrap">
                  <div class="field-label">Email Address</div>
                  <div class="field-val">admin@lashma.com</div>
                </div>

                <div class="field-wrap">
                  <div class="field-label">Address</div>
                  <div class="field-val">No. 10 Jobi Fele WAy, Alausa, Ikeja, Lagos Nigeria.</div>
                </div>
              </div>

              <div class="field-group col-sm-12 col-md-4">
                <div class="field-wrap">
                  <div class="field-label">Business Contact Name</div>
                  <div class="field-val">Johnny John</div>
                </div>

                <div class="field-wrap">
                  <div class="field-label">Business Contact Phone No.</div>
                  <div class="field-val">08099889900</div>
                </div>

                <div class="field-wrap">
                  <div class="field-label">Business Contact Email</div>
                  <div class="field-val">johnny.john@lashma.com</div>
                </div>
              </div>

              <div class="field-group col-sm-12 col-md-4">
                <div class="field-wrap">
                  <div class="field-label">IT Contact Name</div>
                  <div class="field-val">Sammy John</div>
                </div>
  
                <div class="field-wrap">
                  <div class="field-label">IT Contact Phone No.</div>
                  <div class="field-val">08099889900</div>
                </div>
  
                <div class="field-wrap">
                  <div class="field-label">IT Contact Email</div>
                  <div class="field-val">sammy.john@lashma.com</div>
                </div>
              </div>
            </div>              
          </div>

          <div class="row">
            <section class="tbl-wrap col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr class="bg-gray text-white">
                                <th>Name</th>
                                <th>Gender</th>
                                <th>LASHMA ID</th>
                                <th>DOB</th>
                                <th>Role</th>
                                <th>L.G.A</th>
                                <th>HIA</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr>
                                <td class="text-center" colspan="9">No data available in table</td>
                            </tr>-->
                            <tr class="tr-link" routerLink="/modules/beneficiary/beneficiaries/09493093489034">
                                <td>Prof. Rose Nwangwu</td>
                                <td>F</td>
                                <td>134.912.092.00</td>
                                <td>12-12-1979 (30)</td>
                                <td><span class="badge">P</span> +4</td>
                                <td>Alimosho</td>
                                <td>Name of HIA</td>
                                <td class="text-success">Active</td>
                                <td><i class="fa fa-chevron-right"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 text-center">
                    <button class="btn bg-yellow btn-flat">LOAD MORE</button>
                </div>
            </section>
          </div>
      </div>
  </div>
</section>