<table class="table" cellpadding="0" cellspacing="0" border="0.5">
    <thead class="thead">
        <tr class="tr">
            <th class="th">Name</th>
            <th class="th">ASHIA ID</th>
            <th class="th">Role</th>
            <th class="th">Check In Date Time</th>
        </tr>
    </thead>

    <tbody class="tbody">
        <tr *ngFor="let check of checkins" class="tr">
            <td class="td">{{check.beneficiaryObject?.personId?.lastName}} {{check.beneficiaryObject?.personId?.firstName}}</td>
            <td class="td">{{check.beneficiaryObject?.platformOwnerNumber}}</td>
            <td class="td">
                <span *ngIf="check.beneficiaryId === check.principalBeneficiaryId" class="baller">P</span>
                <span *ngIf="check.beneficiaryId !== check.principalBeneficiaryId" class="baller">D</span>
            </td>
            <td class="td">{{check.createdAt | date:'short'}}</td>
        </tr>
    </tbody>
</table>