<div class="app-content-wrap">
  <div class="welcome-wrap">
    <div class="in-wrap">
        <div class="minor-text">Welcome to</div>
        <div class="major-text">LASHMA</div>
    </div>

    <!-- <i class="fa fa-long-arrow-right pointer-arr" aria-hidden="true"></i> -->

    <!-- <div class="notifier-wrap">
      <div class="notifier-header">NOTIFICATIONS</div>
      <ul class="notifier-list shadow-RB-lite">
        <li class="notifier">
          <div class="notifier-title">Claims Dennied</div>
          <div class="notifier-date">11th October 2017</div>
          <div class="notifier-body">the claims filed for <span class="notifier-person">Jonathan Nelson</span> was Denied due to insurficient data entery</div>
        </li>
        <li class="notifier">
          <div class="notifier-title">Claims Dennied</div>
          <div class="notifier-date">11th October 2017</div>
          <div class="notifier-body">the claims filed for <span class="notifier-person">Jonathan Nelson</span> was Denied due to insurficient data entery</div>
        </li>
        <li class="notifier">
          <div class="notifier-title">Claims Dennied</div>
          <div class="notifier-date">11th October 2017</div>
          <div class="notifier-body">the claims filed for <span class="notifier-person">Jonathan Nelson</span> was Denied due to insurficient data entery</div>
        </li>
      </ul>
    </div> -->
  </div>
</div>