<div style="padding-top:2px;">
    <section class="app-content-wrap content shadow-RB">

        <div class="nut-tab-topSect-wrap">
            <div></div>

            <div class="btn btn-medium btn-grey-outline" (click)="navigateAuthorizationList()">
                <i class="fa fa-times"></i> CANCEL
            </div>
        </div>

        <form [formGroup]="preAuthFormGroup" novalidate>
            <div class="frm-item-wrap">
                <label class="label">Patient Name</label>
                <div class="input-wrap">
                    <input type="text" formControlName="patientName" class="form-control">
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.patientName.valid || preAuthFormGroup.controls.patientName.pristine">
                    This is a required field (minimum 3 and max of 50 characters).
                </small>
            </div>
            <div class="frm-item-wrap">
                <label class="label">Gender</label>
                <div class="input-wrap">
                    <input type="" formControlName="gender" class="form-control">
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.gender.valid || preAuthFormGroup.controls.gender.pristine">
                    Choose state from the dropdown.
                </small>
            </div>
            <div class="frm-item-wrap">
                <label class="label">Age</label>
                <div class="input-wrap">
                    <input type="" formControlName="age" class="form-control">
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.age.valid || preAuthFormGroup.controls.age.pristine">
                    This is a required field
                </small>
            </div>

            <div class="frm-item-wrap">
                <label class="label">Address</label>
                <div class="input-wrap">
                    <input type="text" formControlName="address" class="form-control">
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.address.valid || preAuthFormGroup.controls.address.pristine">
                    This is a required field.
                </small>
            </div>
            <div class="frm-item-wrap">
                <label class="label">Health Care Provider</label>
                <div class="input-wrap">
                    <input type="text" formControlName="healthCareProvider" class="form-control">
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.healthCareProvider.valid || preAuthFormGroup.controls.healthCareProvider.pristine">
                    This is a required field.
                </small>
            </div>

            <div class="frm-item-wrap">
                <label class="label">HIA</label>
                <div class="input-wrap">
                    <input type="text" formControlName="hia" class="form-control">
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.hia.valid || preAuthFormGroup.controls.hia.pristine">
                    This is a required field.
                </small>
            </div>

            <!-- <div class="frm-item-wrap">
                <label class="label">Visit Class</label>
                <div class="input-wrap">
                    <select formControlName="visitClass" class="form-control">
                        <option value="" selected>Select...</option>
                    </select>
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.visitClass.valid || preAuthFormGroup.controls.visitClass.pristine">
                    Choose state from the dropdown.
                </small>
            </div> -->

            <div class="frm-item-wrap">
                <label class="label">Date of Request</label>
                <div style="width:300px;" class="input-wrap">
                    <my-date-picker name="requestDate" [options]="myDatePickerOptions" [selDate]="today" formControlName="requestDate"></my-date-picker>
                    <small class="alert-label" [hidden]="preAuthFormGroup.controls.requestDate.valid || preAuthFormGroup.controls.requestDate.pristine">
                        This is a required field.
                    </small>
                </div>
            </div>

            <div class="frm-item-wrap">
                <label class="label">Time of Request</label>
                <div style="width:300px;" class="input-wrap">
                    <my-date-picker name="requestTime" [options]="myDatePickerOptions" [selDate]="today" formControlName="requestTime"></my-date-picker>
                    <small class="alert-label" [hidden]="preAuthFormGroup.controls.requestTime.valid || preAuthFormGroup.controls.requestTime.pristine">
                        This is a required field.
                    </small>
                </div>
            </div>

            <div class="frm-item-wrap">
                <label class="label">Emergency</label>
                <div>
                    <div class="input-wrap" style="justify-content:flex-start; margin-bottom:20px;">
                        <span style="margin-right:10px;">
                            <input style="width: 30px;display: block;margin: 0 auto;"  type="checkbox" formControlName="emergency" name="emergency">
                        </span>
                    </div>
                </div>
            </div>

            <div class="frm-item-wrap">
                <label class="label">Visit Class</label>
                <div class="input-wrap">
                    <select formControlName="visitClass" class="form-control">
                        <option value="" selected>Select...</option>
                        <option *ngFor="let visit of visitTypes" [ngValue]="visit">{{visit.name}}</option>
                    </select>
                </div>
                <small class="alert-label" [hidden]="preAuthFormGroup.controls.visitClass.valid || preAuthFormGroup.controls.visitClass.pristine">
                    Choose state from the dropdown.
                </small>
            </div>
        </form>

        <ul class="inpage-tabs">
            <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
            <li (click)="tabClinicalNotes_click()" [class.tab-active]="tab_clinicalNotes">Clinical Notes</li>
            <li (click)="tabDiagnosis_click()" [class.tab-active]="tab_diagnosis">Diagnosis</li>
            <li (click)="tabProcedures_click()" [class.tab-active]="tab_procedures">Procedures</li>
            <li (click)="tabServices_click()" [class.tab-active]="tab_services">Investigations</li>
            <li (click)="tabDrugs_click()" [class.tab-active]="tab_drugs">Drugs</li>
            <li (click)="tabNotes_click()" [class.tab-active]="tab_notes">Notes & Documentations</li>
        </ul>

        <div class="tab-content shadow-RB-lite">
            <div *ngIf="tab_complaints" class="tab-pane fade show active">
                <form [formGroup]="symptomFormGroup" novalidate>
                    <div class="content-top-bar">
                        <div class="bar-labels">
                            <div>Clinical Information - Complaints</div>
                        </div>

                        <div class="bar-icos">
                            <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="frm-subsect">
                        <div class="frm-item-wrap">
                            <label class="label">Complaint</label>
                            <div class="input-wrap">
                                <div>
                                    <div class="input-wrap-x2">
                                        <div class="searchable-input">
                                            <input style="width:155px;" type="text" formControlName="presentingComplaints" class="form-control">
                                            <small class="alert-label" [hidden]="symptomFormGroup.controls.presentingComplaints.valid || symptomFormGroup.controls.presentingComplaints.pristine">
                                                Complaint value is required.
                                            </small>
                                            <ul *ngIf="complaintSearchResult" class="search-results">
                                                <li (click)="onSelectComplain(result)" *ngFor="let result of symptomItems">{{result.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="input-wrap-x2">
                                            <div>
                                                <small class="alert-label" [hidden]="symptomFormGroup.controls.complaintsDuration.valid || symptomFormGroup.controls.complaintsDuration.pristine">
                                                    Complaint duration value is required.
                                                </small>
                                                <input style="width:50px;" min="1" type="number" formControlName="complaintsDuration" class="form-control">

                                            </div>

                                            <div>
                                                <select formControlName="complaintsUnit" class="form-control">
                                                    <option disabled value="" selected>Select...</option>
                                                    <option *ngFor="let duration of durations" [ngValue]="duration">{{duration.name}}</option>
                                                </select>
                                                <small class="alert-label" [hidden]="symptomFormGroup.controls.complaintsUnit.valid || symptomFormGroup.controls.complaintsUnit.pristine">
                                                    Complaint unit value is required.
                                                </small>
                                            </div>

                                        </div>
                                    </div>

                                    <div (click)="onAddComplaint()" class="btn btn-medium btn-blue-outline">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD COMPLAINTS
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tbl-wrap">
                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                <thead class="thead">
                                    <tr class="tr">
                                        <th class="th">Complaints</th>
                                        <th class="th">Duration</th>
                                        <th class="th">Authorization Need</th>
                                        <th class="th"></th>
                                    </tr>
                                </thead>

                                <tbody class="tbody">
                                    <tr *ngFor="let complaint of complaintLists; let i=index" class="tr">
                                        <td class="td">
                                            <span *ngIf="complaint?.symptom?.name !== undefined">{{complaint?.symptom?.name}}</span>
                                            <span *ngIf="complaint?.symptom?.name === undefined">{{complaint.symptom}}</span>
                                        </td>
                                        <td class="td">{{complaint.duration}} {{complaint.unit.name}}</td>
                                        <td class="td">
                                            <input type="checkbox" disabled="disabled">
                                        </td>
                                        <td>
                                            <i (click)="removeComplain(complaint, i)" class="fa fa-times"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="tab_clinicalNotes" class="tab-pane fade show active">
                <form [formGroup]="preAuthFormGroup" novalidate>
                    <div class="content-top-bar">
                        <div class="bar-labels">
                            <div>Clinical Documentation</div>
                        </div>

                        <div class="bar-icos">
                            <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="frm-group">

                        <div class="frm-item-wrap">
                            <label class="label">Clinical Note</label>
                            <div class="input-wrap" style="width:100%;">
                                <textarea formControlName="clinicalNote" class="form-control-textArea"></textarea>
                            </div>
                            <small class="alert-label" [hidden]="preAuthFormGroup.controls.clinicalNote.valid || preAuthFormGroup.controls.clinicalNote.pristine">
                                This is a required field.
                            </small>
                        </div>

                    </div>
                </form>
            </div>

            <div *ngIf="tab_diagnosis" class="tab-pane fade show active">
                <form [formGroup]="diagnosisFormGroup" novalidate>
                    <div class="content-top-bar">
                        <div class="bar-labels">
                            <div>Clinical Information - Diagnosis</div>
                        </div>

                        <div class="bar-icos">
                            <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="frm-subsect">
                        <div class="frm-item-wrap">
                            <label class="label">Diagnosis</label>
                            <div class="input-wrap">
                                <div class="searchable-input">
                                    <input style="width:300px;" type="text" formControlName="diagnosis" class="form-control">
                                    <small class="alert-label" [hidden]="diagnosisFormGroup.controls.diagnosis.valid || diagnosisFormGroup.controls.diagnosis.pristine">
                                        Diagnosis Type value is required.
                                    </small>
                                    <ul *ngIf="diagnosisSearchResult" class="search-results">
                                        <li (click)="onSelectDiagnosis(result)" *ngFor="let result of diagnosisItems">{{result.name}}</li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <div class="frm-item-wrap">
                            <label class="label">Diagnosis Type</label>
                            <div class="inputWrap">
                                <select formControlName="diagnosisType" class="form-control">
                                    <option disabled value="" selected>Select...</option>
                                    <option *ngFor="let type of diagnosisTypes" [ngValue]="type">{{type.name}}</option>
                                </select>
                                <small class="alert-label" [hidden]="diagnosisFormGroup.controls.diagnosisType.valid || diagnosisFormGroup.controls.diagnosisType.pristine">
                                    Diagnosis Type value is required.
                                </small>
                            </div>
                        </div>


                        <div class="frm-item-wrap">
                            <label class="label"></label>
                            <div class="inputWrap">
                                <div class="searchable-input">
                                    <div (click)="onAddDiagnosis()" class="btn btn-medium btn-blue-outline">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD DIAGNOSIS
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tbl-wrap">
                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                <thead class="thead">
                                    <tr class="tr">
                                        <th class="th">Diagnosis</th>
                                        <th class="th">Diagnosis Type</th>
                                        <th class="th">Authorization Needed</th>
                                        <th class="th"></th>
                                    </tr>
                                </thead>

                                <tbody class="tbody">
                                    <tr *ngFor="let diagnosis of diagnosisLists; let i=index" class="tr">
                                        <td class="td">{{diagnosis.diagnosis.name}}</td>
                                        <td class="td">{{diagnosis.diagnosisType.name}}</td>
                                        <td class="td">
                                            <input type="checkbox" disabled="disabled">
                                        </td>
                                        <td>
                                            <i (click)="removeDiagnosis(diagnosis, i)" class="fa fa-times"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="tab_procedures" class="tab-pane fade show active">
                <form [formGroup]="procedureFormGroup" novalidate>
                    <div class="content-top-bar">
                        <div class="bar-labels">
                            <div>Clinical Information - Procedure</div>
                        </div>

                        <div class="bar-icos">
                            <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="frm-subsect">
                        <div class="frm-item-wrap">
                            <label class="label">Procedures</label>
                            <div class="input-wrap">
                                <div class="searchable-input">
                                    <input style="width:300px;" type="text" formControlName="procedures" class="form-control">
                                    <ul *ngIf="procedureSearchResult" class="search-results">
                                        <li (click)="onSelectProcedure(result)" *ngFor="let result of procedureItems">{{result.name}}</li>
                                    </ul>

                                    <div (click)="onAddProcedure()" class="btn btn-medium btn-blue-outline">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD PROCEDURES
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tbl-wrap">
                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                <thead class="thead">
                                    <tr class="tr">
                                        <th class="th">Procedures</th>
                                        <th class="th">Authorization Needed</th>
                                        <th class="th"></th>
                                    </tr>
                                </thead>

                                <tbody class="tbody">
                                    <tr *ngFor="let procedure of procedureList; let i=index" class="tr">
                                        <td class="td">{{procedure.procedure.name}}</td>
                                        <td class="td">
                                            <input [checked]="needAuthorization(procedure)" type="checkbox" disabled="disabled">
                                        </td>
                                        <td>
                                            <i (click)="removeProcedure(i)" class="fa fa-times"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="tab_services" class="tab-pane fade show active">
                <form [formGroup]="investigationFormGroup" novalidate>
                    <div class="content-top-bar">
                        <div class="bar-labels">
                            <div>Clinical Information - Investigations</div>
                        </div>

                        <div class="bar-icos">
                            <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="frm-subsect">
                        <div class="frm-item-wrap">
                            <label class="label">Services</label>
                            <div class="input-wrap">
                                <div class="searchable-input">
                                    <input style="width:300px;" type="text" formControlName="services" class="form-control">

                                    <small class="alert-label" [hidden]="investigationFormGroup.controls.services.valid || investigationFormGroup.controls.services.pristine">
                                        Investigation value is required.
                                    </small>
                                    <ul *ngIf="investigationSearchResult" class="search-results">
                                        <li (click)="onSelectInvestigation(result)" *ngFor="let result of investigationItems">{{result.name}}</li>
                                    </ul>

                                    <div (click)="onAddInvestigation()" class="btn btn-medium btn-blue-outline">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD SERVICES
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tbl-wrap">
                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                <thead class="thead">
                                    <tr class="tr">
                                        <th class="th">Services</th>
                                        <th class="th">Authorization Needed</th>
                                        <th class="th"></th>
                                    </tr>
                                </thead>

                                <tbody class="tbody">
                                    <tr *ngFor="let investigation of investigationList; let i=index" class="tr">
                                        <td class="td">{{investigation.investigation.name}}</td>
                                        <td class="td">
                                            <input type="checkbox" disabled="disabled">
                                        </td>
                                        <td>
                                            <i (click)="removeInvestigation(i)" class="fa fa-times"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="tab_drugs" class="tab-pane fade show active">
                <form [formGroup]="drugFormGroup" novalidate>
                    <div class="content-top-bar">
                        <div class="bar-labels">
                            <div>Clinical Information - Drugs</div>
                        </div>

                        <div class="bar-icos">
                            <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="frm-subsect">
                        <div class="frm-item-wrap">
                            <label class="label">Drug</label>
                            <div class="input-wrap">
                                <div>
                                    <div class="input-wrap-x2">
                                        <div class="searchable-input">
                                            <input style="width:155px;" type="text" formControlName="drug" class="form-control">
                                            <small class="alert-label" [hidden]="drugFormGroup.controls.drug.valid || drugFormGroup.controls.drug.pristine">
                                                Drug value is required.
                                            </small>
                                            <ul *ngIf="drugSearchResult" class="search-results">
                                                <li (click)="onSelectDrug(result)" *ngFor="let result of drugItems">{{result.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="input-wrap-x2">
                                            <input style="width:50px;" type="number" min="1" formControlName="drugQty" class="form-control">
                                            <small class="alert-label" [hidden]="drugFormGroup.controls.drugQty.valid || drugFormGroup.controls.drugQty.pristine">
                                                Drug Quantity value is required.
                                            </small>
                                            <div>
                                                <select formControlName="drugUnit" class="form-control">
                                                    <option disabled value="" selected>Select...</option>
                                                    <option *ngFor="let pack of packSizes" [ngValue]="pack">{{pack.name}}</option>
                                                </select>
                                                <small class="alert-label" [hidden]="drugFormGroup.controls.drugUnit.valid || drugFormGroup.controls.drugUnit.pristine">
                                                    Drug Unit value is required.
                                                </small>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="btn btn-medium btn-blue-outline" (click)="onAddDrug()">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD DRUG
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tbl-wrap">
                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                <thead class="thead">
                                    <tr class="tr">
                                        <th class="th">Drug</th>
                                        <th class="th">Quantity</th>
                                        <th class="th"></th>
                                    </tr>
                                </thead>

                                <tbody class="tbody">
                                    <tr class="tr" *ngFor="let item of drugList;let i=index">
                                        <th class="td">{{item.drug.name}}</th>
                                        <th class="td">{{item.quantity}} {{item.unit.name}}</th>
                                        <td>
                                            <i class="fa fa-times" (click)="removeDrug(i)"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="tab_notes" class="tab-pane fade show active">
                <form [formGroup]="preAuthFormGroup" novalidate>
                    <div class="content-top-bar">
                        <div class="bar-labels">
                            <div>Clinical Documentation</div>
                        </div>

                        <div class="bar-icos">
                            <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="frm-group">

                        <div class="frm-item-wrap">
                            <label class="label">Reason for Request</label>
                            <div class="input-wrap" style="width:100%;">
                                <textarea formControlName="requestReason" class="form-control-textArea"></textarea>
                            </div>
                            <small class="alert-label" [hidden]="preAuthFormGroup.controls.requestReason.valid || preAuthFormGroup.controls.requestReason.pristine">
                                This is a required field.
                            </small>
                        </div>

                    </div>
                    <div class="frm-item-wrap">
                        <label class="label">Pre-Authorization Note</label>
                        <div class="input-wrap" style="width:100%;">
                            <textarea formControlName="preAuthorizationNote" class="form-control-textArea"></textarea>
                        </div>
                        <small class="alert-label" [hidden]="preAuthFormGroup.controls.preAuthorizationNote.valid || preAuthFormGroup.controls.preAuthorizationNote.pristine">
                            This is a required field.
                        </small>
                    </div>
                    <div class="frm-item-wrap">
                        <label class="label">Name of Doctor</label>
                        <div class="input-wrap">
                            <input type="email" formControlName="docName" class="form-control">
                        </div>
                        <small class="alert-label" [hidden]="preAuthFormGroup.controls.docName.valid || preAuthFormGroup.controls.docName.pristine">
                            This is a required field.
                        </small>

                        <label class="label">Doctor's Unit</label>
                        <div class="input-wrap">
                            <input type="email" formControlName="docUnit" class="form-control">
                        </div>
                        <small class="alert-label" [hidden]="preAuthFormGroup.controls.docUnit.valid || preAuthFormGroup.controls.docUnit.pristine">
                            This is a required field.
                        </small>
                    </div>
                </form>
            </div>
        </div>

        <button (click)="send()" class="btn btn-medium btn-blue cta">SEND</button>
    </section>
</div>