<!--<section class="content-header">
    <h1>BENEFICIARIES<small>Manage Beneficiaries</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Beneficiaries</li>
    </ol>
</section>-->
<section class="content">
    <div class="row">
        <section class="box">
            <div class="col-xs-12 col-sm-8 no-padding">
                <div class="form-group">
                    <label class="col-sm-2 no-padding control-label">Search: </label>
                    <div class="col-sm-10 no-padding">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Name, ID Number or Date of Birth" aria-describedby="basic-addon2">
                            <span class="input-group-addon bg-yellow" id="basic-addon2"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 no-padding">
                <a class="btn btn-primary btn-flat pull-right" routerLink="/modules/beneficiary/new-beneficiary">
                    <i class="fa fa-plus-circle"></i> ADD BENEFICIARY
                </a>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="box">
            <div class="filter-box">
                <h5>Filters:</h5>
                <div class="row no-margin-right">
                    <div class="form-group col-sm-6 col-md-3 no-padding">
                        <label class="col-xs-12 control-label">Role: </label>
                        <div class="col-xs-12">
                            <select class="form-control">
                                <option value="all">ALL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-3 no-padding">
                        <label class="col-xs-12 control-label">L.G.A: </label>
                        <div class="col-xs-12">
                            <select class="form-control">
                                <option value="all">ALL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-3 no-padding">
                        <label class="col-xs-12 control-label">HIA: </label>
                        <div class="col-xs-12">
                            <select class="form-control">
                                <option value="all">ALL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-3 no-padding">
                        <label class="col-xs-12 control-label">Status: </label>
                        <div class="col-xs-12 no-padding-left">
                            <div class="col-xs-9">
                                <select class="form-control">
                                    <option value="all">ALL</option>
                                </select>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <button type="" class="btn btn-default btn-flat text-brand border-brand">RESET</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr class="bg-gray text-white">
                            <th>Name</th>
                            <th>Gender</th>
                            <th>LASHMA ID</th>
                            <th>DOB</th>
                            <th>Role</th>
                            <th>L.G.A</th>
                            <th>HIA</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr>
                            <td class="text-center" colspan="9">No data available in table</td>
                        </tr>-->
                        <tr class="tr-link" routerLink="/modules/beneficiary/beneficiaries/09493093489034">
                            <td>Prof. Rose Nwangwu</td>
                            <td>F</td>
                            <td>134.912.092.00</td>
                            <td>12-12-1979 (30)</td>
                            <td><span class="badge">P</span> +4</td>
                            <td>Alimosho</td>
                            <td>Name of HIA</td>
                            <td class="text-success">Active</td>
                            <td><i class="fa fa-chevron-right"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 text-center">
                <button class="btn bg-yellow btn-flat">LOAD MORE</button>
            </div>
        </section>
    </div>
</section>