<div class="list-search-wrap">
    <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div (click)="navigate('/modules/claims/paid-claims');" class="back-btn">
        PAID CLAIMS <i class="fa fa-chevron-right"></i>
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="filter-box">
            <div class="label-xx">Filters:</div>
            <div class="input-wrap">
                <label>Responsible HIA</label>
                <select [formControl]="filterHiaControl" class="form-control">
                <option value="All" selected>All</option>
              </select>
            </div>
            <div class="input-wrap">
                <label>Hospital Name</label>
                <select [formControl]="hospitalControl">
                <option>All</option>
              </select>
            </div>
            <div class="input-wrap">
                <label>Health Care Plan</label>
                <select [formControl]="planControl">
                <option>All</option>
              </select>
            </div>
            <div class="btn btn-medium btn-blue-outline">RESET</div>
        </div>
        <div class="payment-box">
            <div class="tab">
                <div class="tab-ffs" (click)="onClickTab('feeForService');" [class.claim-tab-active]="ffsTabActive">Fee for Service</div>
                <div class="tab-c" (click)="onClickTab('capitation');" [class.claim-tab-active]="cTabActive">Capitation</div>
            </div>
            <!-- <div class="queue-btn-box">
                <button *ngIf="selectedFFSClaims.length > 0 && ffsTabActive" [disabled]="qFFSDisableBtn" (click)="onClickFFSQueueItemsSelected();" class="btn btn-medium btn-yellow">
                    <span *ngIf="qFFSBtnText">Queue Items Selected</span>
                    <span *ngIf="qFFSBtnProcessing">Queueing Items...&nbsp; <i class="fa fa-spinner fa-spin"></i></span>
                </button>
                <button *ngIf="selectedCClaims.length > 0 && cTabActive" [disabled]="qCDisableBtn" (click)="onClickCQueueItemsSelected();" class="btn btn-medium btn-yellow">
                    <span *ngIf="qCBtnText">Queue Items Selected</span>
                    <span *ngIf="qCBtnProcessing">Queueing Items...&nbsp; <i class="fa fa-spinner fa-spin"></i></span>
                </button>
            </div> -->
        </div>
    </div>

    <div *ngIf="ffsTabActive">
        <table class="table" cellpadding="0" cellspacing="0" border="0.5">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">No</th>
                    <th class="th">Amount Due</th>
                    <th class="th">No. of Claims</th>
                    <th class="th">Provider ID</th>
                    <th class="th">Fee for Service</th>
                    <th class="th">Status</th>
                    <th class="th"></th>
                </tr>
            </thead>

            <tbody class="tbody">
                <tr class="tr" *ngIf="claims.length === 0 && !loading">
                    <td class="text-center" colspan="11">No data available in table</td>
                </tr>
                <tr class="tr" *ngIf="claims.length === 0 && loading">
                    <td class="text-center" colspan="11">
                        <i class="fa fa-spinner fa-spin"></i>
                    </td>
                </tr>
                <tr *ngFor="let claim of claims; let i = index;" class="tr hover" routerLink="/modules/claims/claims-payment/{{ claim?.providerFacilityId }}">
                    <td class="td">{{ i+1 }}</td>
                    <td class="td">&#x20A6; {{ claim?.totalCost }}</td>
                    <td class="td">{{ claim?.noOfClaims }}</td>
                    <td class="td">{{ claim?.checkedinDetail?.checkedInDetails?.providerFacilityId?.provider?.providerId}}</td>
                    <td class="td text-center">
                        <i class="fa fa-check green" aria-hidden="true"></i>
                        <!-- <i *ngIf="provider.provider.facilityClass.includes('secondary')" class="fa fa-check green" aria-hidden="true"></i> -->
                        <!-- <i *ngIf="!provider.provider.facilityClass.includes('secondary')" class="fa fa-times red" aria-hidden="true"></i> -->
                    </td>
                    <td class="td"><span class="red">Not Paid</span></td>
                    <td class="td td-icos">
                        <i class="fa fa-chevron-right"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="list-buttom">
            <div class="list-summary">Showing 1 to {{claims.length}} of {{claimsTotalEntries}} entries (filtered from {{claimsTotalEntries}} total entries)</div>
            <div class="btn btn-medium btn-yellow">Load More</div>
        </div>
    </div>
    <div *ngIf="cTabActive">
        <table class="table" cellpadding="0" cellspacing="0" border="0.5">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">No</th>
                    <th class="th">Provider ID</th>
                    <th class="th">No. of Beneficiaries</th>
                    <th class="th">Capitation</th>
                    <th class="th">Status</th>
                    <th class="th"></th>
                </tr>
            </thead>

            <tbody class="tbody">
                <tr class="tr" *ngIf="capitationClaims.length === 0 && !loading">
                    <td class="text-center" colspan="6">No data available in table</td>
                </tr>
                <tr class="tr" *ngIf="capitationClaims.length === 0 && loading">
                    <td class="text-center" colspan="6">
                        <i class="fa fa-spinner fa-spin"></i>
                    </td>
                </tr>
                <tr *ngFor="let capitation of capitationClaims; let i = index;" class="tr hover" routerLink="/modules/claims/capitation/{{capitation?.providerId?._id}}">
                    <td class="td">{{ i+1 }}</td>
                    <td class="td">{{ capitation?.providerId?.provider?.providerId }}</td>
                    <td class="td">{{ capitation?.noOfBeneficiaries }}</td>
                    <td class="td text-center green"><i class="fa fa-check"></i></td>
                    <td class="td">
                        <span class="green" *ngIf="capitation?.isActive">Active</span>
                        <span class="red" *ngIf="!capitation?.isActive">Inactive</span>
                    </td>
                    <td class="td td-icos">
                        <i class="fa fa-chevron-right"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="list-buttom">
            <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
            <div class="btn btn-medium btn-yellow">Load More</div>
        </div>
    </div>
</div>