<div class="list-search-wrap">
    <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div *ngIf="isPlatformOwner" class="btn btn-medium btn-blue" (click)="navigateNewEmployer()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD ORGANISATION
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="label-xx">Filters:</div>

        <div class="input-wrap">
            <label>Industries Type</label>
            <select [formControl]="filterTypeControl" class="form-control">
        <option value="All" selected>All</option>
        <option *ngFor="let item of industries" [ngValue]="item.name" >{{ item.name }}</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Status</label>
            <select [formControl]="statusControl" (change)="onSelectedStatus($event.target.value)">
        <option selected value="All">All</option>
        <option value="true">Active</option>
        <option value="false">Inactive</option>
      </select>
        </div>

        <div class="btn btn-medium btn-blue-outline">RESET</div>
    </div>

    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Name</th>
                <th class="th">Email</th>
                <th class="th">Contact Person</th>
                <th class="th">Contact Number</th>
                <th class="th">Industry Type</th>
                <th class="th">CAC Number</th>
                <th class="th">CIN Number</th>
                <th class="th">Status</th>
                <th class="th">Action</th>
                <th class="th"></th>
            </tr>
        </thead>

        <tbody class="tbody">
            <tr class="tr" *ngIf="employers.length === 0 && !loading">
                <td class="text-center" colspan="11">No data available in table</td>
            </tr>
            <tr class="tr" *ngIf="employers.length === 0 && loading">
                <td class="text-center" colspan="11">
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>
            <tr *ngFor="let employer of employers; let i = index;" class="tr">
                <td class="td hover" (click)="navigateToDetails(employer._id);">{{ i+1 }}</td>
                <td class="td hover" (click)="navigateToDetails(employer._id);">{{ employer.name }}</td>
                <td class="td hover text-right" (click)="navigateToDetails(employer._id);">{{ employer.email }}</td>
                <td class="td hover" (click)="navigateToDetails(employer._id);">{{ employer.businessContact.lastName }} {{ employer.businessContact.firstName }}</td>
                <td class="td hover" (click)="navigateToDetails(employer._id);">{{ employer.businessContact.phoneNumber }}</td>
                <td class="td hover" (click)="navigateToDetails(employer._id);">{{ employer.employer.industry.name }}</td>
                <td class="td hover" (click)="navigateToDetails(employer._id);">{{ employer.employer.cacNumber }}</td>
                <td class="td hover" (click)="navigateToDetails(employer._id);">{{ employer.employer.cin }}</td>
                <td (click)="navigateToDetails(employer._id);" class="td hover {{ employer.isConfirmed ? ' tbl-status-active': ' tbl-status-inactive' }}">
                    {{ employer.isConfirmed ? 'Active': 'Inactive' }}
                </td>
                <td class="td td-icos">
                    <i class="fa fa-edit" (click)="onClickEdit(employer);"></i>
                </td>
                <td class="td hover" (click)="navigateToDetails(employer._id);">
                    <i class="fa fa-chevron-right"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div *ngIf="employers.length > 0">
            <div class="list-summary">Showing 1 to {{ employers.length }} of {{ employers.length }} entries (filtered from {{ employers.length }} total entries)</div>
            <div class="btn btn-medium btn-yellow">Load More</div>
        </div>
    </div>
</div>