<section class="content">
    <div class="row pad-all">
        <div class="col-xs-12 no-padding">
            <button class="btn btn-default text-brand border-brand" style="margin-left: 5px;" routerLink="/modules/hia/hias">
				<i class="fa fa-chevron-left"></i> BACK TO HEALTH INSURANCE AGENTS
			</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">HIA Details</a></li>
        <li><a data-toggle="tab" href="#menu1">Pre-Authorization</a></li>
        <li><a data-toggle="tab" href="#menu2">List of Plans</a></li>
        <li><a data-toggle="tab" href="#menu3">Beneficiaries</a></li>
        <!--<li><a data-toggle="tab" href="#menu4">Employers</a></li>
        <li><a data-toggle="tab" href="#menu5">Payment History</a></li>
        <li><a data-toggle="tab" href="#menu6">Claims</a></li>
        <li><a data-toggle="tab" href="#menu7">Complaints</a></li>
        <li><a data-toggle="tab" href="#menu8">Referrals</a></li>-->
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row">
                <section class="box">
                    <div class="col-sm-4 no-padding">
                        <div class="box-content-header">
                            <span>Grade: B</span>
                        </div>
                        <div class="box-body pad-all">
                            <div class="row pad-all">
                                <b>Health Insurance Agent Details</b>
                            </div>
                            <div class="row pad-all">
                                <div class="col-xs-12">
                                    <div class="col-xs-10 no-padding">
                                        <div class="img-box">
                                            <img src="assets/img/Chimamanda-Ngozi-Adichie-Natural-Hair-3.jpg" alt="" class="img-thumbnail img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-2 no-padding">
                                        <button class="btn bg-brand btn-round text-white"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row pad-all">
                                <div class="col-xs-12">
                                    <span><b>Health Care Security Limited</b></span><br>
                                    <span>Health Insurance Company</span><br>
                                    <span>Idowu way 23</span><br>
                                    <span>Ojokokoro - Lagos</span><br>
                                    <span>+234094080394</span><br>
                                </div>
                                <div class="col-xs-12 pad-up">
                                    <span><b>NHIS: </b> 38028848</span><br>
                                    <span><b>Type: </b> Health Insurance Company</span><br>
                                    <span><b>CIN Number: </b> 93802389</span><br>
                                    <span><b>Registration Date: </b> 23-12-2017</span><br>
                                    <span><b>Bank Account: </b> 08973892912</span><br>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding">
                        <div class="box-content-header">
                            <span>Status: Authorized</span>
                        </div>
                        <div class="box-body pad-all">
                            <div class="row pad-all">
                                <b>Business Contact</b>
                            </div>
                            <div class="row pad-all">
                                <div class="col-xs-12">
                                    <div class="col-xs-10 no-padding">
                                        <div class="img-box">
                                            <img src="assets/img/Chimamanda-Ngozi-Adichie-Natural-Hair-3.jpg" alt="" class="img-thumbnail img-responsive img-circle">
                                        </div>
                                    </div>
                                    <div class="col-xs-2 no-padding">
                                        <button class="btn bg-brand btn-round text-white"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row pad-all">
                                <div class="col-xs-12">
                                    <span><b>Adams Oshomole</b></span><br>
                                    <span>+234095803909</span><br>
                                    <span>adamsoshomole@yahoo.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding">
                        <div class="box-content-header">
                            <span>Full License: Valid till 23-12-2018</span>
                        </div>
                        <div class="box-body pad-all">
                            <div class="row pad-all">
                                <b>IT Contact</b>
                            </div>
                            <div class="row pad-all">
                                <div class="col-xs-12">
                                    <div class="col-xs-10 no-padding">
                                        <div class="img-box">
                                            <img src="assets/img/Chimamanda-Ngozi-Adichie-Natural-Hair-3.jpg" alt="" class="img-thumbnail img-responsive img-circle">
                                        </div>
                                    </div>
                                    <div class="col-xs-2 no-padding">
                                        <button class="btn bg-brand btn-round text-white"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <span><b>Adams Oshomole</b></span><br>
                                    <span>+234095803909</span><br>
                                    <span>adamsoshomole@yahoo.com</span><br>
                                    <span>Technical Support</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 no-padding">
                        <div class="box-content-header">
                            <small>&nbsp;</small>
                            <i class="fa fa-pencil-square-o pull-right" style="margin-top: 5px; margin-right: 5px;"></i>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</section>