<div class="list-search-wrap">
    <!-- <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="btn btn-medium btn-blue" routerLink="/modules/claim/new">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> QUEUE CLAIM FOR PAYMENT
    </div> -->
    <div (click)="navigate('/modules/claims/claims-payment');" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO UNPAID CLAIMS PAYMENT
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="filter-box">
            <div class="label-xx">Filters:</div>

            <div class="input-wrap">
                <label>Responsible HIA</label>
                <select [formControl]="filterHiaControl" class="form-control">
            <option value="All" selected>All</option>
          </select>
            </div>

            <div class="input-wrap">
                <label>Hospital Name</label>
                <select [formControl]="hospitalControl">
            <option>All</option>
          </select>
            </div>

            <div class="input-wrap">
                <label>Health Care Plan</label>
                <select [formControl]="planControl">
            <option>All</option>
          </select>
            </div>

            <div class="btn btn-medium btn-blue-outline">RESET</div>
        </div>
        <div class="payment-box">
            <button class="btn btn-medium btn-yellow" (click)="onClickPayClaim();">PAY CLAIM</button>
        </div>
    </div>

    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Date</th>
                <th class="th">Amount Due</th>
                <th class="th">Claim ID</th>
                <th class="th">Provider ID</th>
                <th class="th">Health Care Plan</th>
                <th class="th">Responsible HIA</th>
                <th class="th">Capitation</th>
                <th class="th">Fee for Service</th>
                <th class="th">Status</th>
                <th class="th">Pay Claim</th>
                <th class="th"></th>
            </tr>
        </thead>

        <tbody class="tbody">
            <tr class="tr" *ngIf="claims.length === 0 && !loading">
                <td class="text-center" colspan="11">No data available in table</td>
            </tr>
            <tr class="tr" *ngIf="claims.length === 0 && loading">
                <td class="text-center" colspan="11">
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>
            <tr *ngFor="let claim of claims; let i = index;" class="tr">
                <td class="td">1</td>
                <td class="td">11th Oct 2017</td>
                <td class="td">1450 NGN</td>
                <td class="td">324234 - AC</td>
                <td class="td">Hosp 18B</td>
                <td class="td">Formal Sector</td>
                <td class="td">Healthcare Security Limited</td>
                <td class="td">
                    <input type="checkbox">
                </td>
                <td class="td">
                    <input type="checkbox">
                </td>
                <td class="td"><span class="red">Not Paid</span></td>
                <td class="td">
                    <input (change)="onCheckQueue(i, $event, claim);" type="checkbox">
                </td>
                <td class="td td-icos" routerLink="/modules/claims/claims-payment/23">
                    <i class="fa fa-chevron-right"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
        <div class="btn btn-medium btn-yellow">Load More</div>
    </div>
</div>