<div class="in-content-wrap">
    <div (click)="navigateEmployers('/modules/employer/employers')" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO EMPLOYERS
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">Employer Details</li>
        <li (click)="tabBeneficiaries_click()" [class.tab-active]="tab_beneficiaries">Beneficiaries</li>
        <!-- <li (click)="tabPlans_click()" [class.tab-active]="tab_plans">List of Plans</li>
        <li (click)="tabBeneficiaries_click()" [class.tab-active]="tab_beneficiaries">Beneficiaries</li>
        <li (click)="tabEmployers_click()" [class.tab-active]="tab_employers">Employers</li>
        <li (click)="tabPayment_click()" [class.tab-active]="tab_payment">Payment History</li>
        <li (click)="tabClaims_click()" [class.tab-active]="tab_claims">Claims</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
        <li (click)="tabReferals_click()" [class.tab-active]="tab_referals">Referals</li> -->
    </ul>

    <div class="tab-content shadow-RB">
        <div *ngIf="tab_details" class="tab-pane fade show active">
            <!-- <app-employer-top-bar></app-employer-top-bar> -->
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>{{ facility?.name }}</div>
                    <div>Status:
                        <span class="{{ facility?.isConfirmed ? 'text-green' : 'text-red' }}">{{ facility?.isConfirmed ? 'Authorized' : 'Not Authorized' }}</span>
                    </div>
                </div>

                <div class="bar-icos">
                    <i (click)="addApprovalClick()" class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>

            <div class="details-wrap">
                <div class="detail-item">
                    <div class="item-label item-head">Employer Detail</div>

                    <div class="detail-content">
                        <img *ngIf="facility.logo !== undefined" class="hia-logo" [src]="_uploadService.transform(this.facility.logo.thumbnail)">
                        <img *ngIf="facility.logo === undefined" class="hia-logo" src="../../../../assets/img/logos/default.png">
                        <div class="group-wrap">
                            <div class="item-label">{{ facility?.name }}</div>
                            <div class="item-val">{{ facility?.employer?.industry?.name }}</div>
                            <div class="item-val">{{ facility?.address?.street }}</div>
                            <div class="item-val">{{ facility?.address?.lga?.name }} - {{ facility?.address?.state?.name }}</div>
                            <div class="item-val">{{ facility?.phoneNumber }}</div>
                        </div>
                        <div class="group-wrap">
                            <div class="group-item">
                                <div class="item-label">CAC Number:</div>
                                <div class="item-val">{{ facility?.employer?.cacNumber }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Type:</div>
                                <div class="item-val">{{ facility?.employer?.industry?.name }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">CIN Number:</div>
                                <div class="item-val">{{ facility?.employer?.cin }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Registration Date:</div>
                                <div class="item-val">12th Jun, 2017.</div>
                            </div>
                            <!-- <div class="group-item">
                                <div class="item-label">Bank Account:</div>
                                <div class="item-val">{{ facility?.bankDetails?.accountNumber }}</div>
                            </div> -->
                        </div>
                        <div class="group-wrap">
                            <input type="checkbox" class="item-label-x2">Accept Terms and Conditions
                        </div>
                        <i (click)="navigateEmployers('/modules/employer/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">Business Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img *ngIf="facility?.businessContact?.image !== undefined" class="hia-logo" [src]="_uploadService.transform(this.facility?.businessContact?.image?.thumbnail)">
                            <img *ngIf="facility?.businessContact?.image === undefined" class="hia-logo" src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{ facility?.businessContact?.firstName }} {{ facility?.businessContact?.lastName }}</div>
                            <div class="item-val">{{ facility?.businessContact?.phoneNumber }}</div>
                            <div class="item-val">{{ facility?.businessContact?.email }}</div>
                            <div class="item-val">{{ facility?.businessContact?.position.name }}</div>
                        </div>
                        <i (click)="navigateEmployers('/modules/employer/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">IT Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img *ngIf="facility?.itContact?.image !== undefined" class="hia-logo" [src]="_uploadService.transform(this.facility?.itContact?.image?.thumbnail)">
                            <img *ngIf="facility?.itContact?.image === undefined" class="hia-logo" src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{ facility?.itContact?.firstName }} {{ facility?.itContact?.lastName }}</div>
                            <div class="item-val">{{ facility?.itContact?.phoneNumber }}</div>
                            <div class="item-val">{{ facility?.itContact?.email }}</div>
                            <div class="item-val">{{ facility?.itContact?.position.name }}</div>
                        </div>
                        <i (click)="navigateEmployers('/modules/employer/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf='tab_beneficiaries' class="tab-pane fade show active">
            <div class="btn btn-medium btn-blue" (click)="showImageBrowseDlg()">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i> UPLOAD BENEFICIARIES
                <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none;" #fileInput type="file" id="uploadResult" (change)="upload($event)">
            </div>
            <div *ngIf="!isUploading">
                <app-list-beneficiary></app-list-beneficiary>
            </div>

            <table *ngIf="isUploading" class="table" cellpadding="0" cellspacing="0" border="0.5">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">No</th>
                        <th class="th">Name</th>
                        <th class="th">Gender</th>
                        <th class="th">Type</th>
                        <th class="th">LASHMA ID</th>
                        <th class="th">DOB</th>
                        <th class="th">L.G.A</th>
                        <th class="th">HIA</th>
                        <th class="th">Status</th>
                        <td class="th">Action</td>
                        <th class="th"></th>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr class="tr" *ngIf="intendingBeneficiaries.length === 0 && !loading">
                        <td class="text-center" colspan="11">No data available in table</td>
                    </tr>
                    <tr class="tr" *ngIf="intendingBeneficiaries.length === 0 && loading">
                        <td class="text-center" colspan="11">
                            <i class="fa fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr *ngFor="let beneficiary of intendingBeneficiaries; let i = index;" class="tr">
                        <td class="td">{{ i+1 }}</td>
                        <td class="td">{{beneficiary?.person.lastName}} {{beneficiary?.person.firstName}} {{beneficiary?.otherNames}}</td>
                        <td class="td">{{beneficiary.person.gender.name}}</td>
                        <td class="td">
                            <span *ngIf="beneficiary?.isPrincipal" class="baller">P</span>
                            <span *ngIf="beneficiary?.isPrincipal" class="dep-count">+{{beneficiary?.dependantCount}}</span>
                            <span *ngIf="!beneficiary?.isPrincipal" class="baller">D</span>
                            <span *ngIf="!beneficiary?.isPrincipal" class="dep-count"></span>
                        </td>
                        <td class="td">{{beneficiary.platformOwnerNumber}}</td>
                        <td class="td">{{beneficiary.person.dateOfBirth | date}}</td>
                        <td class="td">{{beneficiary.person.homeAddress.lga.name}}</td>
                        <td class="td">{{beneficiary.hia.name}}</td>
                        <td class="td">
                            <span class="{{ beneficiary.isTokenVerified ? 'tbl-status-active': 'tbl-status-inactive' }}">
                                {{ beneficiary.isTokenVerified ? 'Active': 'Inactive' }}
                            </span>
                        </td>
                        <td class="td td-icos">
                            <i class="fa fa-edit" (click)="navigateEditBeneficiary(beneficiary);"></i>
                        </td>
                        <td routerLink="/modules/beneficiary/beneficiaries/{{ beneficiary._id }}">
                            <i class="fa fa-chevron-right"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="addApproval" class="modal-overlay">
    <div class="modal-wrap shadow-RB">
        <div (click)="addApprovalClick();" class="close-modal">X</div>
        <div class="modal-title">EDIT STATUS -
            <em>{{ facility?.name }}</em>
        </div>
        <div class="list-boxes">
            <div class="btn-box">
                <button *ngIf="!facility.isConfirmed" class="btn btn-medium btn-green" style="float:left;" (click)="onClickApprove();" [innerHtml]="approvalBtn"></button>
                <button *ngIf="facility.isConfirmed" class="btn btn-medium btn-red" style="float:left;" (click)="onClickDeactivate();">DISAPPROVE &nbsp;
                    <i class="fa fa-check-circle"></i>
                </button>
                <button class="btn btn-medium" style="float:right;" (click)="addApprovalClick();">Cancel</button>
            </div>
        </div>
    </div>
</div>