<div class="in-content-wrap">
    <div (click)="navigateEmployers('/modules/employer/employers')" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO ORGANISATIONS
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">Organisation Details</li>
        <li (click)="tabBeneficiaries_click()" [class.tab-active]="tab_beneficiaries">Beneficiaries</li>
        <li (click)="tabHia_click()" [class.tab-active]="tab_hia">HIA</li>
        <li (click)="tabPaymentClick()" [class.tab-active]="tabPayment">Payment</li>
        <li (click)="tabPaymentHistoryClick()" [class.tab-active]="tabPaymentHistory">Payment History</li>
        <!-- <li (click)="tabPlans_click()" [class.tab-active]="tab_plans">List of Plans</li>
        <li (click)="tabBeneficiaries_click()" [class.tab-active]="tab_beneficiaries">Beneficiaries</li>
        <li (click)="tabEmployers_click()" [class.tab-active]="tab_employers">Employers</li>
        <li (click)="tabPayment_click()" [class.tab-active]="tab_payment">Payment History</li>
        <li (click)="tabClaims_click()" [class.tab-active]="tab_claims">Claims</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
        <li (click)="tabReferals_click()" [class.tab-active]="tab_referals">Referals</li> -->
    </ul>

    <div class="tab-content shadow-RB">
        <div *ngIf="tab_details" class="tab-pane fade show active">
            <!-- <app-employer-top-bar></app-employer-top-bar> -->
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>{{ facility?.name }}</div>
                    <div>Status:
                        <span class="{{ facility?.isConfirmed ? 'text-green' : 'text-red' }}">{{ facility?.isConfirmed ? 'Authorized' : 'Not Authorized' }}</span>
                    </div>
                </div>

                <div class="bar-icos">
                    <div (click)="addApprovalClick()" class="btn btn-medium btn-white-outline btn-radius-x2"> APPROVAL</div>
                </div>
            </div>

            <div class="details-wrap">
                <div class="detail-item">
                    <div class="item-label item-head">Employer Detail</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img *ngIf="facility.logo !== undefined" class="hia-logo" [src]="_uploadService.transform(this.facility.logo.thumbnail)">
                            <img *ngIf="facility.logo === undefined" class="hia-logo" src="../../../../assets/img/logos/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-label">{{ facility?.name }}</div>
                            <div class="item-val">{{ facility?.employer?.industry?.name }}</div>
                            <div class="item-val">{{ facility?.address?.street }}</div>
                            <div class="item-val">{{ facility?.address?.lga?.name }} - {{ facility?.address?.state?.name }}</div>
                            <div class="item-val">{{ facility?.phoneNumber }}</div>
                        </div>
                        <div class="group-wrap">
                            <div class="group-item">
                                <div class="item-label">CAC Number:</div>
                                <div class="item-val">{{ facility?.employer?.cacNumber }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Type:</div>
                                <div class="item-val">{{ facility?.employer?.industry?.name }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">CIN Number:</div>
                                <div class="item-val">{{ facility?.employer?.cin }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Registration Date:</div>
                                <div class="item-val">12th Jun, 2017.</div>
                            </div>
                            <!-- <div class="group-item">
                                <div class="item-label">Bank Account:</div>
                                <div class="item-val">{{ facility?.bankDetails?.accountNumber }}</div>
                            </div> -->
                        </div>
                        <div class="group-wrap">
                            <input type="checkbox" class="item-label-x2">Accept Terms and Conditions
                        </div>
                        <i (click)="navigateEmployers('/modules/employer/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">Business Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img *ngIf="facility?.businessContact?.image !== undefined" class="hia-logo" [src]="_uploadService.transform(this.facility?.businessContact?.image?.thumbnail)">
                            <img *ngIf="facility?.businessContact?.image === undefined" class="hia-logo" src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{ facility?.businessContact?.firstName }} {{ facility?.businessContact?.lastName }}</div>
                            <div class="item-val">{{ facility?.businessContact?.phoneNumber }}</div>
                            <div class="item-val">{{ facility?.businessContact?.email }}</div>
                            <div class="item-val">{{ facility?.businessContact?.position.name }}</div>
                        </div>
                        <i (click)="navigateEmployers('/modules/employer/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">IT Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img *ngIf="facility?.itContact?.image !== undefined" class="hia-logo" [src]="_uploadService.transform(this.facility?.itContact?.image?.thumbnail)">
                            <img *ngIf="facility?.itContact?.image === undefined" class="hia-logo" src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{ facility?.itContact?.firstName }} {{ facility?.itContact?.lastName }}</div>
                            <div class="item-val">{{ facility?.itContact?.phoneNumber }}</div>
                            <div class="item-val">{{ facility?.itContact?.email }}</div>
                            <div class="item-val">{{ facility?.itContact?.position.name }}</div>
                        </div>
                        <i (click)="navigateEmployers('/modules/employer/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf='tab_beneficiaries' class="tab-pane fade show active">
            <!-- <div class="btn btn-medium btn-white-outline" (click)="showImageBrowseDlg()">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i> UPLOAD BENEFICIARIES
                <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none;" #fileInput type="file" id="uploadResult" (change)="upload($event)">
            </div> -->
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>{{ facility?.name }}</div>
                    <div>Status:
                        <span class="{{ facility?.isConfirmed ? 'text-green' : 'text-red' }}">{{ facility?.isConfirmed ? 'Authorized' : 'Not Authorized' }}</span>
                    </div>
                </div>

                <div class="bar-icos">
                    <div (click)="showImageBrowseDlg()" class="btn btn-medium btn-white-outline btn-radius-x2"> UPLOAD BENEFICIARIES</div>
                    <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none;" #fileInput type="file" id="uploadResult" (change)="upload($event)">
                </div>
            </div>
            <div *ngIf="!isUploading">
                <app-employer-beneficiaries></app-employer-beneficiaries>
            </div>

            <!-- <table *ngIf="isUploading" class="table" cellpadding="0" cellspacing="0" border="0.5">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">No</th>
                        <th class="th">Name</th>
                        <th class="th">Gender</th>
                        <th class="th">Type</th>
                        <th class="th">LASHMA ID</th>
                        <th class="th">DOB</th>
                        <th class="th">L.G.A</th>
                        <th class="th">HIA</th>
                        <th class="th">Status</th>
                        <td class="th">Action</td>
                        <th class="th"></th>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr class="tr">
                        <td class="td">1</td>
                        <td class="td">Jonathan Nelson</td>
                        <td class="td">Male</td>
                        <td class="td">P</td>
                        <td class="td">122.22.22.1</td>
                        <td class="td">11th Oct 1990</td>
                        <td class="td">Oha Ozara</td>
                        <td class="td">Hygeria</td>
                        <td class="td">
                            <span class="tbl-status-active">Active</span>
                        </td>
                        <td class="td td-icos">
                            <i class="fa fa-edit" (click)="navigateEditBeneficiary(beneficiary);"></i>
                        </td>
                        <td>
                            <i class="fa fa-pencil-right"></i>
                        </td>
                    </tr>
                </tbody>
            </table> -->

            <table *ngIf="isUploading" class="table" cellpadding="0" cellspacing="0" border="0.5">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">No</th>
                        <th class="th">Name</th>
                        <th class="th">Gender</th>
                        <th class="th">Type</th>
                        <th class="th">LASHMA ID</th>
                        <th class="th">DOB</th>
                        <th class="th">L.G.A</th>
                        <th class="th">HIA</th>
                        <th class="th">Status</th>
                        <td class="th">Action</td>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr class="tr">
                        <td class="td">1</td>
                        <td class="td">Jonathan Nelson</td>
                        <td class="td">Male</td>
                        <td class="td">
                            <span class="baller">P</span>
                            <!-- <span *ngIf="beneficiary?.isPrincipal" class="baller">P</span>
                            <span *ngIf="beneficiary?.isPrincipal" class="dep-count">+{{beneficiary.dependantCount}}</span>
                            <span *ngIf="!beneficiary?.isPrincipal" class="baller">D</span>
                            <span *ngIf="!beneficiary?.isPrincipal" class="dep-count"></span> -->
                        </td>
                        <td class="td">122.22.2.2</td>
                        <td class="td">11th Oct 2010</td>
                        <td class="td">Oha Ozara</td>
                        <td class="td">Hygeria</td>
                        <td class="td">
                            <span class="tbl-status-active">Active</span>
                        </td>
                        <td class="td td-icos">
                            <i class="fa fa-edit" (click)="navigateEditBeneficiary(beneficiary);"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="tab_hia" class="tab-pane fade show active">
            <!-- <app-employer-top-bar></app-employer-top-bar> -->
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>{{ facility?.name }}</div>
                    <div>Status:
                        <span class="{{ facility?.isConfirmed ? 'text-green' : 'text-red' }}">{{ facility?.isConfirmed ? 'Authorized' : 'Not Authorized' }}</span>
                    </div>
                </div>

                <!-- <div class="bar-icos">
                    <div (click)="addApprovalClick()" class="btn btn-medium btn-white-outline btn-radius-x2"> APPROVAL</div>
                </div> -->
            </div>

            <div>
                <div class="frm-item-wrap">
                    <div class="input-wrap">
                        <div class="searchable-input">
                            <input placeholder="Select HIA" style="width:100%;" type="text" [formControl]="searchHiaControl" class="form-control">

                            <ul *ngIf="drugSearchResult" class="search-results">
                                <li (click)="onSelectDrug(result)" *ngFor="let result of hias">{{result.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                    <thead class="thead">
                        <tr class="tr">
                            <th class="th">HIA</th>
                            <th class="th"></th>
                        </tr>
                    </thead>

                    <tbody class="tbody">
                        <tr *ngFor="let hia of facility?.employer?.hias" class="tr">
                            <td class="td">{{hia.name}}</td>
                            <td class="td td-icos">
                                <i class="fa fa-times"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="tabPayment" class="tab-pane fade show active">
            <!-- <app-employer-top-bar></app-employer-top-bar> -->
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>{{ facility?.name }}</div>
                    <div>Status:
                        <span class="{{ facility?.isConfirmed ? 'text-green' : 'text-red' }}">{{ facility?.isConfirmed ? 'Authorized' : 'Not Authorized' }}</span>
                    </div>
                </div>
            </div>

            <div class="padding-10">
                <app-employer-beneficiaries></app-employer-beneficiaries>
            </div>
        </div>
    </div>
</div>

<div *ngIf="addApproval" class="modal-overlay">
    <div class="modal-wrap shadow-RB">
        <div (click)="addApprovalClick();" class="close-modal">X</div>
        <div class="modal-title">EDIT STATUS -
            <em>{{ facility?.name }}</em>
        </div>
        <div class="list-boxes">
            <div class="btn-box">
                <button *ngIf="!facility.isConfirmed" class="btn btn-medium btn-green" style="float:left;" (click)="onClickApprove();" [innerHtml]="approvalBtn"></button>
                <button *ngIf="facility.isConfirmed" class="btn btn-medium btn-red" style="float:left;" (click)="onClickDeactivate();">DISAPPROVE &nbsp;
                    <i class="fa fa-check-circle"></i>
                </button>
                <button class="btn btn-medium" style="float:right;" (click)="addApprovalClick();">Cancel</button>
            </div>
        </div>
    </div>
</div>