<div class="details-wrap">
    <div class="detail-item">
        <div class="item-label item-head">Principal Detail</div>

        <div class="detail-content">
            <img class="hia-user" src="../../../../assets/img/users/default.png">
            <div class="group-wrap">
                <div class="item-val">Date of Birth: {{policyObject?.principalBeneficiary?.personId?.dateOfBirth|date}}</div>
            </div>
            <div class="group-wrap">
                <!-- <div class="group-item">
                    <div class="item-label">LASRRA ID:</div>
                    <div class="item-val">{{policyObject?.principalBeneficiary?.stateID}}</div>
                </div> -->
                <div class="group-item">
                    <div class="item-label">{{platformName}} ID:</div>
                    <div class="item-val">{{policyObject?.principalBeneficiary?.platformOwnerNumber}}</div>
                </div>
                <div class="group-item">
                    <!-- <div class="item-label">CIN Number:</div>
          <div class="item-val"></div> -->
                </div>
            </div>
            <i class="ico-cirle fa fa-pencil"></i>
        </div>
    </div>

    <div class="detail-item" *ngFor="let dependant of policyObject?.dependantBeneficiaries">
        <div class="item-label item-head">Dependant</div>

        <div class="detail-content">
            <div class="hia-user">
                <img src="../../../../assets/img/users/default.png">
            </div>
            <div class="group-wrap">
                <div class="item-val">Date of Birth: {{dependant.beneficiary.personId.dateOfBirth|date}}</div>
            </div>
            <div class="group-wrap">
                <!-- <div class="group-item">
                    <div class="item-label">LASRRA ID:</div>
                    <div class="item-val">{{dependant.beneficiary.stateID}}</div>
                </div> -->
                <div class="group-item">
                    <div class="item-label">{{platformName}} ID:</div>
                    <div class="item-val">{{dependant.beneficiary.platformOwnerNumber}}</div>
                </div>
            </div>
            <i class="ico-cirle fa fa-pencil"></i>
        </div>
    </div>
</div>

<div class="sect-item">


    <div class="group-item">
        <div class="item-val">{{policyObject?.principalBeneficiary.personId.title.name}} {{policyObject?.principalBeneficiary.personId.lastName}} {{policyObject?.principalBeneficiary.personId.firstName}} {{policyObject?.principalBeneficiary.personId.otherNames}}
        </div>
    </div>
    <div class="group-item">
        <div class="item-val">{{policyObject?.principalBeneficiary.personId.phoneNumber}} </div>
    </div>


</div>


<div class="sec-sect">
    <div class="sect-item">
        <div class="item-label item-head">Health Care Insurance Agent</div>
        <div class="item-val">{{policyObject?.hiaId.name}}</div>
        <i class="ico-cirle fa fa-pencil"></i>
    </div>
    <div class="sect-item">
        <div class="item-label item-head">Program</div>
        <div class="item-val">{{policyObject?.planId.name}}</div>
        <i class="ico-cirle fa fa-pencil"></i>
    </div>
    <div class="sect-item">
        <div class="item-label item-head">Care Provider Details</div>
        <div class="item-val">{{policyObject?.providerId.name}}</div>
        <i class="ico-cirle fa fa-pencil"></i>
    </div>
</div>

<div style="margin:40px auto;display:flex;justify-content:space-around;">
    <button (click)="confirmDetails()" class="btn btn-medium btn-blue">
    PROCEED TO POLICY DETAILS
  </button>
    <button (click)="confirmPayments()" class="btn btn-medium btn-blue">
    PROCEED TO POLICY PAYMENT PORTAL
  </button>
    <button *ngIf="!isBeneficiary" (click)="confirmList()" class="btn btn-medium btn-blue">
        PROCEED TO POLICY LIST
    </button>
    <button (click)="onClickPrintDocument();" class="btn btn-medium btn-blue">
        PRINT
    </button>
</div>

<div id="print-section" style="display:none">
  <header class="header">
    <div class="img-header">
      <img src="../../../../../assets/img/logos/ashia.jpeg" alt="">
    </div>
    <div class="text-header">
      <h2>{{ policyObject?.principalBeneficiary?.platformOwnerId?.name }}</h2>
    </div>
  </header>
  <section>
    <div>
      <b>Policy Details</b>
      <div>Household ID: {{ policyObject?.policyId }} </div>
      <div>ASHIA ID: {{ policyObject?.platformOwnerNumber }} </div>
      <div>Sponsor: {{ policyObject?.sponsorshipId?.name }} </div>
    </div>
    <div class="details">
        <b>Beneficiary Details</b>
        <div>Fullname: {{ policyObject?.principalBeneficiary?.personId?.title?.name }} {{ policyObject?.principalBeneficiary?.personId?.firstName }} {{ policyObject?.principalBeneficiary?.personId?.otherNames }} {{ policyObject?.principalBeneficiary?.personId?.lastName }}</div>
        <div>Gender: {{ policyObject?.principalBeneficiary?.personId?.gender?.name }}</div>
        <div>Date of birth: {{ policyObject?.principalBeneficiary?.personId?.dateOfBirth | date }}</div>
        <div>Principal Policy ID: {{ policyObject?.principalPolicyId }}</div>
        <div>Email: {{ policyObject?.principalBeneficiary?.personId?.email }}</div>
        <div>State: {{ policyObject?.principalBeneficiary?.personId?.homeAddress?.state?.name }}</div>
    </div>
    <div class="details">
        <b>Plan Details</b>
        <div>Plan name: {{ policyObject?.planId?.name }}</div>
        <div>Plan name: {{ policyObject?.planId?.planType?.name }}</div>
        <div>Premium: &#x20a6;{{ policyObject?.planId?.premiums[policyObject?.planId?.premiums?.length - 1].amount }} for {{ policyObject?.planId?.premiums[policyObject?.planId?.premiums?.length - 1].durationInDay }}</div>
    </div>
    <div class="details">
        <b>HMO Details</b>
        <div>HMO name: {{ policyObject?.hiaId?.name }}</div>
    </div>
    <div class="details">
        <b>Provider Healthcare Provider</b>
        <div>Provider name: {{ policyObject?.providerId?.name }}</div>
        <div>Provider address: {{ policyObject?.providerId?.street }}, {{ policyObject?.providerId?.city?.name }} {{ policyObject?.providerId?.lga?.name }}</div>
        <div>Provider Contact: {{ policyObject?.providerId?.phoneNumber }}</div>
    </div>
  </section>
</div>
