@import '../../../../../assets/libs/variables.scss';

.form-control-textArea{
    width: 100%;
    height: 101px;
}
.modal-title{
    font-size: $font-x3;
    color: $brand-primary;
    font-weight: bold;
}
.btn{
    margin: 0 auto;
}