@import '../../hia/hia-details/hia-details.component.scss';
.modal-wrap {
    min-width: 800px;
    min-height: 320px;
}

.box-left {
    width: 30%;
    float: left;
    height: 100%;
}

.box-right {
    width: 70%;
    float: left;
    height: 100%;
    color: red;
}

.form-item-wrap {
    input,
    select {
        width: 100%;
    }
}

.btn-box {
    width: 100%;
    button {
        float: left;
    }
}