<div class="in-content-wrap">
    <div (click)="navigateProviders('/modules/provider/providers')" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO PROVIDERS
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">Provider Details</li>
        <!-- <li (click)="tabPreauthorization_click()" [class.tab-active]="tab_preauthorization">Preauthorization</li>
        <li (click)="tabPlans_click()" [class.tab-active]="tab_plans">List of Plans</li>
        <li (click)="tabBeneficiaries_click()" [class.tab-active]="tab_beneficiaries">Beneficiaries</li>
        <li (click)="tabproviders_click()" [class.tab-active]="tab_providers">providers</li>
        <li (click)="tabPayment_click()" [class.tab-active]="tab_payment">Payment History</li>
        <li (click)="tabClaims_click()" [class.tab-active]="tab_claims">Claims</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
        <li (click)="tabReferals_click()" [class.tab-active]="tab_referals">Referals</li> -->
    </ul>

    <div class="tab-content shadow-RB">
        <div *ngIf="tab_details" class="tab-pane fade show active">
            <!-- <app-provider-top-bar></app-provider-top-bar> -->

            <!-- <div class="details-wrap">
                <div class="detail-item">
                    <div class="item-label item-head">Provider Detail</div>

                    <div class="detail-content">
                        <img class="hia-logo" src="../../../../assets/img/logos/bridgeclinicbanner.jpg">
                        <div class="group-wrap">
                            <div class="item-label">Health Care Security Limited</div>
                            <div class="item-val">Health Insurance Company</div>
                            <div class="item-val">Adowu Way, 23</div>
                            <div class="item-val">Ojokoro - Lagos</div>
                            <div class="item-val">08077887767</div>
                        </div>
                        <div class="group-wrap">
                            <div class="group-item">
                                <div class="item-label">NHIS Number:</div>
                                <div class="item-val">223343456</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Type:</div>
                                <div class="item-val">Health Insurance Company</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">CIN Number:</div>
                                <div class="item-val">223456</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Registration Date:</div>
                                <div class="item-val">12th Jun, 2017.</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Bank Account:</div>
                                <div class="item-val">223343456</div>
                            </div>
                        </div>
                        <i class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">Business Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">Abbey Silver</div>
                            <div class="item-val">08077887767</div>
                            <div class="item-val">abbey.silver@bbhc.com</div>
                            <div class="item-val">CEO</div>
                        </div>
                        <i class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">IT Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">Dan Wande</div>
                            <div class="item-val">08077887767</div>
                            <div class="item-val">dan.wande@bbhc.com</div>
                            <div class="item-val">Technical Support</div>
                        </div>
                        <i class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>
            </div> -->
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>{{ facility?.name }}</div>
                    <div>Status: <span class="text-red">{{ facility?.isTokenVerified ? 'Authorized' : 'Not Authorized' }}</span></div>
                    <div>Full License: Valid till 11th Jun, 2018.</div>
                </div>

                <div class="bar-icos">
                    <i (click)="addApprovalClick();" class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>

            <div class="details-wrap">
                <div class="detail-item">
                    <div class="item-label item-head">Provider Detail</div>

                    <div class="detail-content">
                        <img class="hia-logo" src="../../../../assets/img/logos/bridgeclinicbanner.jpg">
                        <div class="group-wrap">
                            <div class="item-label">{{ facility?.name }}</div>
                            <!-- <div class="item-val">{{ facility?.provider.industry.name }}</div> -->
                            <div class="item-val">{{ facility?.address?.street }}</div>
                            <div class="item-val">{{ facility?.address?.lga.name }} - {{ facility?.address?.state?.name }}</div>
                            <div class="item-val">{{ facility?.phoneNumber }}</div>
                        </div>
                        <div class="group-wrap">
                            <div class="group-item">
                                <div class="item-label">HEFEEMA Status:</div>
                                <div class="item-val">{{ facility?.provider?.hefeemaStatus.name }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Ownership:</div>
                                <div class="item-val">{{ facility?.provider?.facilityOwnership?.name }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Facility Type:</div>
                                <div class="item-val">{{ facility?.provider?.facilityType?.name }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Facility Class:</div>
                                <div class="item-val">
                                    <span *ngFor="let class of facility?.provider?.facilityClass">{{ class }}</span>
                                </div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Registration Date:</div>
                                <div class="item-val">12th Jun, 2017.</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Bank Account:</div>
                                <div class="item-val">{{ facility?.bankDetails?.accountNumber }}</div>
                            </div>
                        </div>
                        <i (click)="navigateProviders('/modules/provider/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">Business Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{ facility?.businessContact?.firstName }} {{ facility?.businessContact?.lastName }}</div>
                            <div class="item-val">{{ facility?.businessContact?.phoneNumber }}</div>
                            <div class="item-val">{{ facility?.businessContact?.email }}</div>
                            <div class="item-val">{{ facility?.businessContact?.position.name }}</div>
                        </div>
                        <i (click)="navigateproviders('/modules/provider/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">IT Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{ facility?.itContact?.firstName }} {{ facility?.itContact?.lastName }}</div>
                            <div class="item-val">{{ facility?.itContact?.phoneNumber }}</div>
                            <div class="item-val">{{ facility?.itContact?.email }}</div>
                            <div class="item-val">{{ facility?.itContact?.position?.name }}</div>
                        </div>
                        <i (click)="navigateProviders('/modules/provider/new/', facility?._id)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="addApproval" class="modal-overlay">
    <div class="modal-wrap shadow-RB">
        <div (click)="addApprovalClick();" class="close-modal">X</div>
        <div class="modal-title">Add License</div>
        <div class="list-boxes">
            <div class="list-box">
                <form [formGroup]="approvalFormGroup" novalidate>
                    <div class="frm-item-wrap">
                        <label class="label">Duration</label>
                        <div class="input-wrap">
                            <input type="number" min="1" formControlName="duration" class="form-control" placeholder="Duration">
                        </div>
                        <small class="alert-label" [hidden]="approvalFormGroup.controls.duration.valid || approvalFormGroup.controls.duration.pristine">
                            This is a required field (minimum 3 and max of 50 characters).
                        </small>
                    </div>
                    <div class="frm-item-wrap">
                        <label class="label">Unit</label>
                        <div class="input-wrap">
                            <select formControlName="unit" class="form-control">
                                    <option value="" disabled>Select Unit</option>
                                    <option [ngValue]="duration" *ngFor="let duration of durations; let i=index">{{ duration.name }}</option>
                            </select>
                        </div>
                        <small class="alert-label" [hidden]="approvalFormGroup.controls.unit.valid || approvalFormGroup.controls.unit.pristine">
                            This is a required field (minimum 3 and max of 50 characters).
                        </small>
                    </div>
                </form>
                <div>
                    <button class="btn btn-medium btn-green" (click)="onClickApprove(approvalFormGroup.valid, approvalFormGroup.value);" [innerHtml]="approvalBtn"></button>
                </div>
            </div>

            <div class="list-box">
                <ul class="list-b">
                    <!-- <li *ngFor="let access of selectedRole.accessibilities">
                        <label class="control control--checkbox">{{access.accessibility.name}}
                        <input type="checkbox" disabled [checked]="access.checked" (change)="accessbilityChange($event, access)"/>
                        <div class="control__indicator"></div>
                        </label>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>