<div class="content-top-bar">
    <div class="bar-labels">
        <div>Authorization Code: {{ selectedAuthorization?.authorizationCode }}</div>
        <div>Pre-auth ID: {{ ' ' }}</div>
        <div>Status: <span class="lemon-green">{{ selectedAuthorization?.approvedStatus?.name }}</span></div>
        <!-- <div>Payment Status: <span class="lemon-green">Approved for payment</span></div> -->
    </div>

    <!-- <div class="bar-icos">
        <i routerLink="/modules/pre-auth/pre-authorizations" class="fa fa-pencil" aria-hidden="true"></i>
    </div> -->
</div>