<div class="in-content-wrap">
  <div class="back-btn">
    <i class="fa fa-chevron-left"></i> BACK TO USER MANAGEMENT
  </div>

  <ul class="inpage-tabs">
    <li (click)="tabHia_click()" [class.tab-active]="tab_hias">Roles</li>
  </ul>

  <div class="tab-content shadow-RB">
    <div *ngIf="tab_hias" class="tab-pane fade show active">
      <div>
        <div class="content-top-bar">
          <div class="tab-logo">
            <img src="../../../../assets/img/users/default.png">
          </div>
          <div>{{selectedUser?.email}}</div>
          <div>Type: {{selectedUser?.userType?.name}}</div>
          <div>Status:
            <!-- <span class="status">Active</span> -->
            <span *ngIf="selectedUser?.isActive" class="td tbl-status-active">Active</span>
            <span *ngIf="!selectedUser?.isActive" class="td tbl-status-inactive">InActive</span>
          </div>
          <div class="switch_box box_1">
              <input [checked]="selectedUser?.isActive" (change)="_updateUser($event)" type="checkbox" class="switch_1">
          </div>
        </div>

        <section class="tab-cont content">
          <div class="list-search-wrap">
            <div class="search-wrap">
              <label class="label-xx">Search:</label>
              <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="Name of Role">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>

            <div class="btn btn-medium btn-blue" (click)="addRole_click()">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD ROLE
            </div>
          </div>
          <section>
            <div class="table-responsive">
              <table class="table" cellspacing="0">
                <thead class="thead">
                  <tr class="tr">
                    <th class="th">Role</th>
                    <th class="th">Delete</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let role of selectedUser?.roles" class="tr">
                    <td class="td">{{role.name}}</td>
                    <td class="td td-trash-circle"><i class="fa fa-trash"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="list-buttom">
              <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
              <div class="btn btn-medium btn-yellow">Load More</div>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

<div *ngIf="addRole" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
      <app-modal-add-role [selectedUser]="selectedUser"></app-modal-add-role>
  </div>
</div>