<!--<section class="content-header">
    <h1>HEALTH CARE PROVIDERS<small>Manage Health Care Providers</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Health Care Providers</li>
    </ol>
</section>-->
<section class="content">
    <div class="row">
        <div class="col-12 col-sm-8">
            <div class="form-group">
                <div class="col-12 no-padding">
                    <!-- <div class="input-group">
                        <input type="search" class="form-control" placeholder="Name, ID Number or Date of Birth" aria-describedby="basic-addon2">
                        <span class="input-group-addon bg-yellow" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <a class="btn btn-primary btn-flat pull-right" routerLink="/modules/care-provider/new">
                <i class="fa fa-plus-circle"></i> Add Provider
            </a>
        </div>
    </div>
    <div class="row">
        <section class="col-12">
            <div class="filter-box">
                <h5>Filters:</h5>
                <div class="row no-margin-right">
                    <div class="form-group col-sm-6 col-md-4 no-padding">
                        <label class="col-12 control-label">Classification: </label>
                        <div class="col-12">
                            <select class="form-control">
                                <option value="all">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 no-padding">
                        <label class="col-12 control-label">Status: </label>
                        <div class="col-12">
                            <select class="form-control">
                                <option value="all">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="col-12 no-padding control-label">L.G.A: </label>
                        <div class="row no-margin-left no-margin-right">
                            <div class="col-8 no-padding">
                                <select class="form-control">
                                    <option value="all">All</option>
                                </select>
                            </div>
                            <div class="col-4 no-padding">
                                <button type="" class="btn btn-default btn-flat text-brand border-brand pull-right">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-12">
            <div class="table-responsive">
                <table class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr class="bg-gray text-white">
                            <th>No</th>
                            <th>Name Provider</th>
                            <th>L.G.A</th>
                            <th>Contact Person</th>
                            <th>Phone number</th>
                            <th>Primary</th>
                            <th>Secondary</th>
                            <th>Tertiary</th>
                            <th>Grade</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td class="text-center" colspan="11"><i class='fa fa-spinner fa-spin fa-2x' aria-hidden='true'></i></td>
                        </tr>
                        <tr *ngIf="providers.length === 0 && !loading">
                            <td class="text-center" colspan="11">No data available in table</td>
                        </tr>
                        <tr class="tr-link" *ngFor="let provider of providers; let i = index;">
                            <td>{{ i+1 }}</td>
                            <td>{{ provider.name }}</td>
                            <td>{{ provider.address.lga.name}}</td>
                            <td>{{ provider.businessContact.lastName }} {{ provider.businessContact.firstName }}</td>
                            <td>{{ provider.businessContact.phoneNumber }}</td>
                            <td class="text-center">
                                <input type="checkbox">
                            </td>
                            <td class="text-center">
                                <input type="checkbox">
                            </td>
                            <td class="text-center">
                                <input type="checkbox">
                            </td>
                            <td>{{ provider.provider.facilityClass[0]}}</td>
                            <td>
                                <span class="{{ provider.isLshmConfirm ? 'text-success': 'text-red' }}"> 
                                    {{ provider.isTokenVerified ? 'Active': 'Inactive' }}
                                </span>
                            </td>
                            <td><i class="fa fa-chevron-right" routerLink="/modules/care-provider/providers/{{ provider._id }}"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 text-center">
                <button class="btn bg-yellow btn-flat">Load More</button>
            </div>
        </section>
    </div>
</section>