<div>
    <div class="content-top-bar">
        <div class="bar-labels">
            <div>
                <label>Registered by:</label>
                <span>{{ policy?.platformOwnerId?.shortName }}</span>
            </div>
        </div>
        <div class="bar-icons">
            <div>Household ID:
                <span>{{ policy?.policyId }}</span>
            </div>
        </div>
        <div class="bar-icos">
            <div>Status:
                <span *ngIf="policy?.isActive" style="color: green;">Active</span>
                <span *ngIf="!policy?.isActive" style="color: red;">Inactive</span>
            </div>
        </div>
        <div class="bar-icons">
            <div>Program:
                <span>{{ policy?.planId?.name }}</span>
            </div>
        </div>
        <!-- <div class="bar-labels" style="font-size: 10px">
            <div>
                <label>Formal sector plan</label>
            </div>
        </div> -->
    </div>
    <div style="width:98%;text-align:right;padding:10px;">
        <button (click)="onClickShowPayment();" class="btn btn-medium btn-blue cta show-payment">Pay Premium</button>
    </div>
    <div class="align-chac" *ngIf="showPayment">
        <div class="chac-box">
            <form [formGroup]="" novalidate>
                <div class="frm-inner-title">Health Insurance Agent</div>
                <div class="frm-item-wrap">
                    <label class="label">HIA</label>
                    <div class="inputWrap">
                        {{ policy?.hiaId?.name }}
                        <!-- <select>
                          <option value="" disabled selected>HIA</option>
                        </select> -->
                    </div>
                </div>

                <div class="frm-inner-title">Primary Health Care Provider</div>
                <div class="frm-item-wrap">
                    <label class="label">Provider Name</label>
                    <div class="inputWrap">
                        {{ policy?.providerId?.name }}
                        <!-- <select>
                          <option value="" disabled selected>Provider</option>
                        </select> -->
                    </div>
                </div>

                <div class="frm-inner-title">Plan</div>
                <div class="frm-item-wrap">
                    <label class="label">Type</label>
                    <div class="inputWrap">
                        {{ policy?.planTypeId?.name }}
                        <!-- <select>
                          <option value="" disabled selected>Plan Type</option>
                        </select> -->
                    </div>
                </div>

                <div class="frm-item-wrap">
                    <label class="label">Name</label>
                    <div class="inputWrap">
                        {{ policy?.planId?.name }}
                        <!-- <select>
                          <option value="" disabled selected>Plan</option>
                        </select> -->
                    </div>
                </div>

                <div class="frm-item-wrap">
                    <label class="label">Premium Category</label>
                    <div class="inputWrap">
                        {{ policy?.premiumCategoryId?.name }}
                        <!-- <select>
                          <option value="" disabled selected>Premium Category</option>
                        </select> -->
                    </div>
                </div>

                <div class="frm-item-wrap">
                    <label class="label">Premium Package</label>
                    <div class="inputWrap">
                        {{ policy?.premiumPackageId?.category?.name }} ({{ policy?.premiumPackageId?.duration }} {{ policy?.premiumPackageId?.unit?.name }} {{ policy?.premiumPackageId?.amount }})
                        <!-- <select>
                          <option value="">Select..</option>
                        </select> -->
                    </div>
                </div>

                <div class="frm-item-wrap">
                    <label class="label">Sponsorship</label>
                    <div class="inputWrap">
                        {{ policy?.sponsorshipId?.name }}
                        <!-- <select>
                          <option value="">Self</option>
                          <option value="">Organization</option>
                        </select> -->
                    </div>
                </div>
            </form>
        </div>

        <div class="chac-box-right">
            <!-- <form style="margin-top:10px" [formGroup]="" novalidate> -->
            <div class="pay-detail-wrap">
                <label style="font-size:12px" class="label">Payment Period: </label>
                <div style="font-size:12px" class="inputWrap">
                    <label>{{ policy?.premiumPackageId?.duration }} {{ policy?.premiumPackageId?.unit?.name }}(s)</label>
                </div>
            </div>
            <div class="pay-detail-wrap">
                <label style="font-size:12px" class="label">Amount to be paid: </label>
                <div style="font-size:12px" class="inputWrap">
                    <label>&#x20A6;{{ policy?.premiumPackageId?.amount }}</label>
                </div>
            </div>
            <div class="pay-detail-wrap">
                <label style="font-size:12px" class="label">Payment Method: </label>
                <div>
                    <div class="pay-label-detail-wrap">
                        <span *ngFor="let paymentType of paymentTypes" style="margin-right:10px;">
                            <label>
                              <input name="paymentType" (change)="onChangePaymentType(paymentType.name)" [attr.checked]="(paymentType.default) ? true : null" value="{{ paymentType.name }}" type="radio"> &nbsp;&nbsp;{{ paymentType.name }}
                            </label>
                          </span>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <div class="pay-btn-detail-wrap">
            <angular4-paystack *ngIf="withPaystack" [key]="paystackClientKey" [email]="policy?.principalBeneficiary?.person?.email" [amount]="policy?.premiumPackageId?.amountInKobo" [ref]="refKey" [class]="'btn btn-primary btn-medium btn-blue'" (close)="paymentCancel()"
                (callback)="paymentDone($event)">e-Payment</angular4-paystack>
            <!-- <button style="margin-right:10px; width:150px; height:30px" (click)="onClickPayWithPaystack();" class="btn-ePay"></button> -->
            <button *ngIf="chequePayment || cashPayment" class="btn btn-medium btn-blue cta" style="width:150px;padding:10px;margin-left:10px;"> PAY </button>
        </div>
    </div>
    <div style="padding: 10px 10px 30px 10px;">
        <div class="text-center" style="font-weight: bold">
            <span>Payment History</span>
        </div>
        <table class="table" cellpadding="0" cellspacing="0" border="0.5">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">No</th>
                    <th class="th">Due Date</th>
                    <th class="th">LASHMA ID</th>
                    <th class="th">Amount Paid</th>
                    <th class="th">Duration Policy</th>
                    <th class="th">Policy ID</th>
                    <th class="th">Health Plan</th>
                    <th class="th">Responsible HIA</th>
                </tr>
            </thead>

            <tbody class="tbody">
                <tr class="tr" *ngIf="previousPolicies.length === 0 && !previousPolicyLoading">
                    <td class="text-center" colspan="8">No data available in table</td>
                </tr>
                <tr class="tr" *ngIf="previousPolicies.length === 0 && previousPolicyLoading">
                    <td class="text-center" colspan="8">
                        <i class="fa fa-spinner fa-spin"></i>
                    </td>
                </tr>
                <tr *ngFor="let policy of previousPolicies; let i = index;" class="tr">
                    <td class="td">{{i+1}}</td>
                    <td class="td">{{ policy?.dueDate }}</td>
                    <td class="td">{{ policy?.principalBeneficiary?.platformOwnerNumber }}</td>
                    <td class="td" style="color: green;">&#x20A6; {{ policy?.premiumPackageId?.amount }}</td>
                    <td class="td">{{ policy?.premiumPackageId?.duration }} {{ policy?.premiumPackageId?.unit?.name }}</td>
                    <td class="td">{{ policy?.policyId }}</td>
                    <td class="td">{{ policy?.planId?.name }}</td>
                    <td class="td">{{ policy?.hiaId?.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="list-buttom" *ngIf="previousPolicies.length > 0">
        <div class="list-summary">Showing 1 to {{ previousPolicies.length }} of {{ previousPolicies.length }} entries (filtered from {{ previousPolicies.length }} total entries)</div>
        <div class="btn btn-medium btn-yellow">Load More</div>
    </div>

    <!-- (click)=" addPaymentMode_click()" -->
</div>