<div class="list-search-wrap">
    <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="btn btn-medium btn-blue" (click)="navigateNewPlan()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD HEALTHPLAN
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="label-xx">Filters:</div>

        <div class="input-wrap">
            <label>Type</label>
            <select [formControl]="filterTypeControl" class="form-control">
        <option value="All" selected>All</option>
        <option [ngValue]="type" *ngFor="let type of planTypes">{{ type.name }}</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Created By</label>
            <select [formControl]="createdByControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Utilized By</label>
            <select [formControl]="utilizedByControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Status</label>
            <select [formControl]="statusControl">
        <option selected value="All">All</option>
        <option value="true">Active</option>
        <option value="false">Inactive</option>
      </select>
        </div>

        <div class="btn btn-medium btn-blue-outline" (click)="reset()">RESET</div>
    </div>

    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Name</th>
                <th class="th">Type</th>
                <th class="th">Number of HIAs</th>
                <th class="th">Created By</th>
                <!-- <th class="th number">Week</th>
                <th class="th number">Premium Month</th>
                <th class="th number">Year</th> -->
                <th class="th">Status</th>
                <th class="th">Action</th>
                <th class="th"></th>
            </tr>
        </thead>

        <tbody class="tbody">
            <tr class="tr" *ngIf="plans.length === 0 && !loading">
                <td class="text-center" colspan="11">No data available in table</td>
            </tr>
            <tr class="tr" *ngIf="plans.length === 0 && loading">
                <td class="text-center" colspan="11">
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>
            <tr *ngFor="let plan of plans; let i = index;" class="tr">
                <td class="td" (click)="navigatePlanDetail(plan)">{{ i+1 }}</td>
                <td class="td" (click)="navigatePlanDetail(plan)">{{plan.name}}</td>
                <td class="td" (click)="navigatePlanDetail(plan)">{{plan.planType.name}}</td>
                <td class="td" (click)="navigatePlanDetail(plan)">0</td>
                <td class="td" (click)="navigatePlanDetail(plan)">{{ plan.userType?.name === 'Platform Owner' ? 'SHIMA' : plan.userType?.name }}</td>
                <!-- <td class="td number">{{getPrice('Week', plan) | number:'1.2-2'}}</td>
                <td class="td number">{{getPrice('Month', plan) | number:'1.2-2'}}</td>
                <td class="td number">{{getPrice('Year', plan) | number:'1.2-2'}}</td> -->
                <td class="td" (click)="navigatePlanDetail(plan)">
                    <span *ngIf="plan.isActive" class="tbl-status-active">Active</span>
                    <span *ngIf="!plan.isActive" class="tbl-status-inactive">InActive</span>
                </td>
                <td class="td td-icos">
                    <i class="fa fa-edit" (click)="navigateEditPlan(plan);"></i>
                </td>
                <td (click)="navigatePlanDetail(plan)"><i class="fa fa-chevron-right"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div *ngIf="plans.length > 0">
            <div class="list-summary">Showing 1 to {{ plans.length }} of {{ totalEntries }} entries (filtered from {{ totalEntries }} total entries)</div>
            <div class="btn btn-medium btn-yellow" (click)="loadMore()" *ngIf="showLoadMore">Load More</div>
        </div>
    </div>
</div>