<section class="content">
    <div class="row pad-all">
        <div class="col-12 col-sm-8">

        </div>
        <div class="col-12 col-sm-4">
            <a class="btn btn-default border-gray btn-flat text-gray pull-right" routerLink="/modules/platform/platforms">
                <i class="fa fa-times"></i> CANCEL
            </a>
        </div>
    </div>
    <div class="row pad-up">
        <div class="col-12">
            <form [formGroup]="platformFormGroup" novalidate>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Platform Name <span class="text-red">*</span></label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="platformName" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.platformName.valid || platformFormGroup.controls.platformName.pristine">
                                        This is a required field (minimum 3 and max of 50 characters).
                                    </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Platform ShortName <span class="text-red">*</span></label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="shortName" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.shortName.valid || platformFormGroup.controls.shortName.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Email <span class="text-red">*</span></label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="email" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.email.valid || platformFormGroup.controls.email.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Website <span class="text-red">*</span></label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="website" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.website.valid || platformFormGroup.controls.website.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Address (Street) <span class="text-red">*</span></label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="address" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.address.valid || platformFormGroup.controls.address.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">States <span class="text-red">*</span></label>
                            <div class="col-12 no-padding">
                                <select formControlName="state" class="form-control">
                                    <option value="" selected>Select State</option>
                                    <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.state.valid || platformFormGroup.controls.state.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Local Governments</label>
                            <div class="col-12 no-padding">
                                <select formControlName="lga" class="form-control">
                                    <option value="" selected>Select Local Government</option>
                                    <option *ngFor="let lg of lgs" [ngValue]="lg">{{ lg.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.lga.valid || platformFormGroup.controls.lga.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Cities</label>
                            <div class="col-12 no-padding">
                                <select formControlName="city" class="form-control">
                                    <option value="" selected>Select City</option>
                                    <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.city.valid || platformFormGroup.controls.city.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Neighbourhood</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="neighbourhood" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.neighbourhood.valid || platformFormGroup.controls.neighbourhood.pristine">
                                            This is a required field.
                                        </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Banker</label>
                            <div class="col-12 no-padding">
                                <select formControlName="bank" class="form-control">
                                    <option value="" selected>Select Bank</option>
                                    <option *ngFor="let bank of banks" [ngValue]="bank" selected>{{bank.name}}</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bank.valid || platformFormGroup.controls.bank.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Bank Account Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bankAccName" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bankAccName.valid || platformFormGroup.controls.bankAccName.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Bank Account Number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bankAccNumber" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bankAccNumber.valid || platformFormGroup.controls.bankAccNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Business Contact's First Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bc_fname" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bc_fname.valid || platformFormGroup.controls.bc_fname.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Business Contact's Last Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bc_lname" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bc_lname.valid || platformFormGroup.controls.bc_lname.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Business Contact's position</label>
                            <div class="col-12 no-padding">
                                <select formControlName="bc_position" class="form-control">
                                    <option value="" selected>Select Position</option>
                                    <option *ngFor="let position of contactPositions" [ngValue]="position" selected>{{position.name}}</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bc_position.valid || platformFormGroup.controls.bc_position.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Business Contact's Email Address</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="bc_email" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bc_email.valid || platformFormGroup.controls.bc_email.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Business Contact's Phone number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bc_phone" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.bc_phone.valid || platformFormGroup.controls.bc_phone.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">IT Contact's First Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="it_fname" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.it_fname.valid || platformFormGroup.controls.it_fname.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">IT Contact's Last Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="it_lname" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.it_lname.valid || platformFormGroup.controls.it_lname.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">IT Contact's position</label>
                            <div class="col-12 no-padding">
                                <select formControlName="it_position" class="form-control">
                                    <option value="" selected>Select Position</option>
                                    <option *ngFor="let position of contactPositions" [ngValue]="position" selected>{{position.name}}</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.it_position.valid || platformFormGroup.controls.it_position.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">IT Contact's Email Address</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="it_email" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.it_email.valid || platformFormGroup.controls.it_email.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">IT Contact's Phone number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="it_phone" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.it_phone.valid || platformFormGroup.controls.it_phone.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Registration Date</label>
                            <div class="col-12 no-padding">
                                <input type="date" formControlName="registrationDate" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.registrationDate.valid || platformFormGroup.controls.registrationDate.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">CIN number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="cinNumber" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.cinNumber.valid || platformFormGroup.controls.cinNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label class="col-12 no-padding control-label">Registration Date</label>
                            <div class="col-12 no-padding">
                                <input type="date" formControlName="registrationDate" class="form-control">
                                <small class="alert-label" [hidden]="platformFormGroup.controls.registrationDate.valid || platformFormGroup.controls.registrationDate.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="col-6 no-padding control-label">Photos</label>
                            <div class="col-6 no-padding">
                                <button class="btn btn-default btn-flat border-brand text-brand">Search Photo</button>
                            </div>
                        </div>
                    </div>
                </div> -->










                <!-- <div class="col-12 pad-all">
                        <div class="form-group row">
                            <label class="col-sm-4 control-label">Plans</label>
                            <div class="col-sm-8">
                                <select formControlName="plan" class="form-control">
                                    <option value="" selected>Select Plans</option>
                                    <option *ngFor="let hiaPlan of hiaPlans" [ngValue]="hiaPlan">{{ hiaPlan.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.plan.valid || platformFormGroup.controls.plan.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div> -->
                <!--<div class="col-xs-12 pad-all">
                        <div class="form-group row">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <select formControlName="plan2" class="form-control">
                                    <option value="State Health Plan" selected>State Health Plan</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.plan2.valid || platformFormGroup.controls.plan2.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 pad-all">
                        <div class="form-group row">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <select formControlName="plan3" class="form-control">
                                    <option value="Private Medical Insurance" selected>Private Medical Insurance</option>
                                </select>
                                <small class="alert-label" [hidden]="platformFormGroup.controls.plan3.valid || platformFormGroup.controls.plan3.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>-->
                <div *ngIf="canAddImage" class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Photos</label>
                            <div class="row upload-wrap">
                                <div class="col-12 col-md-6">
                                    <button (click)="showImageBrowseDlg()" class="btn btn-default btn-flat border-brand text-brand">Search Photo</button>
                                    <input accept="image/x-png,image/jpeg" style="display:none;" #fileInput type="file" id="uploadResult" (change)="readURL(this)">
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="placehold-wrap">
                                        <img #blah id="blah" src="http://placehold.it/180" alt="your image" />
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </form>
            <div class="col-12 pad-all">
                <div class="col-12 text-center">
                    <button class="btn btn-primary btn-flat" [disabled]="!platformFormGroup.valid" (click)="save(platformFormGroup.valid, platformFormGroup.value)"
                        [innerHtml]="saveBtn"></button>
                    <!-- <button [disabled]="fileInput == undefined || fileInput.nativeElement.files.length < 1" *ngIf="canAddImage" class="btn btn-primary btn-flat" (click)="save(platformFormGroup.valid, platformFormGroup.value)">Upload</button> -->
                </div>
            </div>
        </div>
    </div>
</section>