<div class="list-search-wrap">
    <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="label-xx">Filters:</div>

        <div class="input-wrap">
            <label>Responsible HIA</label>
            <select [formControl]="filterHiaControl" class="form-control">
                <option value="All" selected>All</option>
            </select>
        </div>

        <div class="input-wrap">
            <label>Hospital Name</label>
            <select [formControl]="hospitalControl">
                <option>All</option>
            </select>
        </div>

        <div class="input-wrap">
            <label>Health Care Plan</label>
            <select [formControl]="planControl">
                <option>All</option>
            </select>
        </div>

        <div class="btn btn-medium btn-blue-outline">RESET</div>
    </div>

    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">Date and Time</th>
                <th class="th">Patient Name</th>
                <th class="th">LASHMA ID</th>
                <th class="th">HIA</th>
                <th class="th">Health Care Provider</th>
                <th class="th">Status</th>
                <th class="th">Reason for Request</th>
                <th class="th">Emergency</th>
                <th class="th"></th>
                <th class="th"></th>
            </tr>
        </thead>

        <tbody class="tbody">
            <tr *ngFor="let auth of authorizations" class="tr">
                <td class="td">{{auth.createdAt | date}}</td>
                <td class="td">{{auth.personId.lastName}} {{auth.personId.firstName}} {{auth.personId.otherNames}}</td>
                <td class="td">{{auth.beneficiaryObject.platformOwnerNumber}}</td>
                <td class="td">Healthy Health LTD</td>
                <td class="td">{{auth.checkedInDetails.providerFacilityId.name}}</td>
                <td class="td">
                    <span class="green">{{auth.approvedStatus.name}}</span>
                </td>
                <td class="td">
                        <!-- {{ (str.length>6)? (str | slice:0:6)+'..':(str) }} -->
                    {{(auth.documentation[0].document[1].clinicalDocumentation | slice:0:10) +'...'}}
                </td>
                <td class="td">Emergency</td>
                <td class="td tip-td">
                    <i class="fa fa-info fa-circle"></i>
                    <div class="tooltip">
                        <div class="tip-title">{{auth.documentation[0].document[1].type}}</div>
                        <div class="tip-content">{{auth.documentation[0].document[1].clinicalDocumentation}}</div>
                    </div>
                </td>
                <td class="td td-icos" (click)="navigateDetail(auth)" >
                    <i class="fa fa-chevron-right"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
        <div class="btn btn-medium btn-yellow">Load More</div>
    </div>
</div>