<div class="list-search-wrap">
    <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="label-xx">Filters:</div>

        <div class="input-wrap">
            <label>Responsible HIA</label>
            <select [formControl]="filterHiaControl" class="form-control">
        <option value="All" selected>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Hospital Name</label>
            <select [formControl]="hospitalControl">
        <option>All</option>
      </select>
        </div>

        <div class="input-wrap">
            <label>Health Care Plan</label>
            <select [formControl]="planControl">
        <option>All</option>
      </select>
        </div>

        <div class="btn btn-medium btn-blue-outline" (click)="reset()">RESET</div>
    </div>

    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Date and Time</th>
                <th class="th">Patient Name</th>
                <th class="th">{{platformName}} ID</th>
                <!-- <th class="th">HIA</th> -->
                <th class="th">Health Care Provider</th>
                <th class="th">Status</th>
                <th class="th">Reason for Request</th>
                <th class="th">Emergency</th>
                <th class="th"></th>
                <th class="th"></th>
            </tr>
        </thead>

        <tbody class="tbody">
            <tr class="tr" *ngIf="authorizations.length === 0 && !loading">
                <td class="text-center" colspan="10">No data available in table</td>
            </tr>
            <tr class="tr" *ngIf="authorizations.length === 0 && loading">
                <td class="text-center" colspan="10">
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>
            <tr *ngFor="let auth of authorizations; let i = index;" class="tr">
                <td class="td hover" (click)="navigateDetail(auth)">{{ i+1 }}</td>
                <td class="td hover" (click)="navigateDetail(auth)">{{auth.createdAt | date}}</td>
                <td class="td hover" (click)="navigateDetail(auth)">{{auth?.personId?.lastName}} {{auth?.personId?.firstName}} {{auth?.personId?.otherNames}}
                </td>
                <td class="td hover" (click)="navigateDetail(auth)">{{auth?.beneficiaryObject?.platformOwnerNumber}}</td>
                <!-- <td class="td" (click)="navigateDetail(auth)">Healthy Health LTD</td> -->
                <td class="td hover" (click)="navigateDetail(auth)">{{auth?.checkedInDetails?.providerFacilityId?.name}}</td>
                <td class="td hover" (click)="navigateDetail(auth)">
                    <span class="green">{{auth?.approvedStatus?.name}}</span>
                </td>
                <td class="td hover" (click)="navigateDetail(auth)">
                    <!-- {{ (str.length>6)? (str | slice:0:6)+'..':(str) }} -->
                    {{(auth.documentation[0].document[1].clinicalDocumentation | slice:0:10) +'...'}}
                </td>
                <td class="td text-center hover" (click)="navigateDetail(auth)">
                    <span *ngIf="!selectedCheckIn?.isEmergency">
            <i class="fa fa-times red" aria-hidden="true"></i>
          </span>
                    <span *ngIf="selectedCheckIn?.isEmergency">
            <i class="fa fa-check green" aria-hidden="true"></i>
          </span>
                </td>
                <td class="td tip-td">
                    <i class="fa fa-info fa-circle"></i>
                    <div class="tooltip">
                        <div class="tip-title">{{auth.documentation[0].document[1].type}}</div>
                        <div class="tip-content">{{auth.documentation[0].document[1].clinicalDocumentation}}</div>
                    </div>
                </td>
                <td class="td td-icos hover" (click)="navigateDetail(auth)">
                    <i class="fa fa-chevron-right"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="list-buttom">
        <div *ngIf="authorizations.length > 0">
            <div class="list-summary">Showing 1 to {{ authorizations.length }} of {{ totalEntries }} entries (filtered from {{ totalEntries }} total entries)</div>
            <div class="btn btn-medium btn-yellow" (click)="loadMore()" *ngIf="showLoadMore">Load More</div>
        </div>
    </div>
</div>