<div class="in-content-wrap">
    <div (click)="navigate('/modules/referral/referrals);" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO REFERALS
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">Referal Details</li>
        <!-- <li (click)="tabClaims_click()" [class.tab-active]="tab_other">Claims</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li> -->
    </ul>

    <div class="tab-content shadow-RB">
        <div *ngIf="tab_details" class="tab-pane fade show active">
            <app-referal-top-bar></app-referal-top-bar>

            <div class="details-wrap">
                <app-referal-detail-tab style="width:100%;"></app-referal-detail-tab>
            </div>
        </div>

        <!-- <div *ngIf="tab_other" class="tab-pane fade show active">
            <app-claims-top-bar></app-claims-top-bar>

            <div class="details-wrap">
                <app-claims-others-tab style="width:100%;"></app-claims-others-tab>
            </div>
        </div> -->
    </div>
</div>