.list-boxes {
    padding: 20px 0;
}

.inputWrap {
    width: 100%;
    input {
        float: right;
    }
}

.btn-box {
    margin-left: 30%;
    margin-right: 30%;
}

.bill-box {
    padding: 30px;
    text-align: center;
}

.loading-box {
    text-align: center;
    padding: 50px;
}