<section class="content">
    <div class="row pad-all">
        <div class="col-12 col-sm-8">

        </div>
        <div class="col-12 col-sm-4">
            <a class="btn btn-default border-gray btn-flat text-gray pull-right" routerLink="/modules/hia/hias">
                <i class="fa fa-times"></i> CANCEL
            </a>
        </div>
    </div>
    <div class="row pad-up">
        <div class="col-12">
            <form [formGroup]="hiaFormGroup" novalidate>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Health Insurance Agent Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="agentName" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.agentName.valid || hiaFormGroup.controls.agentName.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Email</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="email" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.email.valid || hiaFormGroup.controls.email.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Address (Street)</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="address" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.address.valid || hiaFormGroup.controls.address.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">States</label>
                            <div class="col-12 no-padding">
                                <select formControlName="state" class="form-control">
                                    <option value="" selected>Select State</option>
                                    <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.state.valid || hiaFormGroup.controls.state.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Local Governments</label>
                            <div class="col-12 no-padding">
                                <select formControlName="lga" class="form-control">
                                    <option value="" selected>Select Local Government</option>
                                    <option *ngFor="let lg of lgs" [ngValue]="lg">{{ lg.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.lga.valid || hiaFormGroup.controls.lga.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Cities</label>
                            <div class="col-12 no-padding">
                                <select formControlName="city" class="form-control">
                                    <option value="" selected>Select City</option>
                                    <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.city.valid || hiaFormGroup.controls.city.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Neighbourhood</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="neighbourhood" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.neighbourhood.valid || hiaFormGroup.controls.neighbourhood.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Phone number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="phone" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.phone.valid || hiaFormGroup.controls.phone.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Business Contact LastName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="businessContactName" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.businessContactName.valid || hiaFormGroup.controls.businessContactName.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Business Contact FirstName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="businessContactFirstName" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.businessContactFirstName.valid || hiaFormGroup.controls.businessContactFirstName.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Contact number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="businessContactNumber" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.businessContactNumber.valid || hiaFormGroup.controls.businessContactNumber.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Contact position</label>
                            <div class="col-12 no-padding">
                                <select formControlName="businessContactPosition" class="form-control">
                                    <option value="" selected>Select Position</option>
                                    <option *ngFor="let position of contactPositions" [ngValue]="position">{{ position.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.businessContactPosition.valid || hiaFormGroup.controls.businessContactPosition.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Contact email</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="businessContactEmail" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.businessContactEmail.valid || hiaFormGroup.controls.businessContactEmail.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">IT Contact LastName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="iTContactName" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.iTContactName.valid || hiaFormGroup.controls.iTContactName.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">IT Contact LastName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="iTContactFirstName" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.iTContactFirstName.valid || hiaFormGroup.controls.iTContactFirstName.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Contact number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="iTContactNumber" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.iTContactNumber.valid || hiaFormGroup.controls.iTContactNumber.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Contact position</label>
                            <div class="col-12 no-padding">
                                <select formControlName="iTContactPosition" class="form-control">
                                    <option value="" selected>Select Position</option>
                                    <option *ngFor="let position of contactPositions" [ngValue]="position">{{ position.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.iTContactPosition.valid || hiaFormGroup.controls.iTContactPosition.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Contact email</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="iTContactEmail" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.iTContactEmail.valid || hiaFormGroup.controls.iTContactEmail.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Type</label>
                            <div class="col-12 no-padding">
                                <select formControlName="type" class="form-control">
                                    <option value="" selected>Select Type</option>
                                    <option *ngFor="let type of userTypes" [ngValue]="type">{{ type.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.type.valid || hiaFormGroup.controls.type.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Banker</label>
                            <div class="col-12 no-padding">
                                <select formControlName="bank" class="form-control">
                                    <option value="" selected>Select Bank</option>
                                    <option *ngFor="let bank of banks" [ngValue]="bank" selected>{{bank.name}}</option>
                                </select>
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.bank.valid || hiaFormGroup.controls.bank.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Bank account name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bankAccName" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.bankAccName.valid || hiaFormGroup.controls.bankAccName.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Bank account number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bankAccNumber" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.bankAccNumber.valid || hiaFormGroup.controls.bankAccNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">NHIS number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="nhisNumber" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.nhisNumber.valid || hiaFormGroup.controls.nhisNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">CIN number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="cinNumber" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.cinNumber.valid || hiaFormGroup.controls.cinNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Registration Date</label>
                            <div class="col-12 no-padding">
                                <input type="date" formControlName="registrationDate" class="form-control">
                                <small class="alert-label" [hidden]="hiaFormGroup.controls.registrationDate.valid || hiaFormGroup.controls.registrationDate.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Photos</label>
                            <div class="col-12 no-padding">
                                <button class="btn btn-default btn-flat border-brand text-brand">Search Photo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-12 pad-all">
                <div class="col-12 text-center">
                    <button class="btn btn-primary btn-flat" [disabled]="!hiaFormGroup.valid" (click)="onClickSaveHia(hiaFormGroup, hiaFormGroup.valid);"
                        [innerHtml]="saveBtn"></button>
                </div>
            </div>
        </div>
    </div>
</section>