<div class="claims-inner-wrap">
  <div class="left-sect">
    <div class="left-fixed shadow-b">
      <div class="group-wrap">
        <div class="group-item">
          <div class="item-label">Date of Birth:</div>
          <div class="item-val">{{selectedAuthorization?.checkedInDetails.beneficiaryObject.personId.dateOfBirth | date}}</div>
        </div>
        <div *ngIf="selectedAuthorization !== undefined" class="group-item">
          <div class="item-label">Age:</div>
          <div class="item-val">{{getAge()}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Gender:</div>
          <div class="item-val">{{selectedAuthorization?.checkedInDetails.beneficiaryObject.personId.gender.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">LASRRA ID:</div>
          <div class="item-val">{{selectedAuthorization?.checkedInDetails.beneficiaryObject?.stateID}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">LAASHMA ID:</div>
          <div class="item-val">{{selectedAuthorization?.checkedInDetails.beneficiaryObject.platformOwnerNumber}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">POLICY ID:</div>
          <div class="item-val">{{selectedAuthorization?.policyId.policyId}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">POLICY STATUS:</div>
          <div class="item-val">
            <span *ngIf="selectedAuthorization?.policyId.isActive">Active</span>
            <span *ngIf="!selectedAuthorization?.policyId.isActive">InActive</span>
          </div>
        </div>
      </div>

      <div class="group-wrap">
        <div class="group-item">
          <div class="item-label">Refering Hospital:</div>
          <div class="item-val">{{selectedAuthorization?.referingProvider.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Destination Hospital:</div>
          <div class="item-val">{{selectedAuthorization?.destinationProvider.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Health Plan:</div>
          <div class="item-val">{{selectedAuthorization?.policyId.planId.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Health Care Facility LASHMA ID:</div>
          <div class="item-val">{{selectedAuthorization?.checkedInDetails.providerFacilityId.provider.providerId}}</div>
        </div>
      </div>

      <div class="group-wrap">
        <div class="group-item">
          <div class="item-label">HIA Approval Status:</div>
          <div *ngIf="selectedAuthorization?.hiaApproved !== undefined" class="item-val">{{selectedAuthorization?.hiaApproved.approvedStatus.past}}</div>
          <div *ngIf="selectedAuthorization?.hiaApproved === undefined" class="item-val">Pending</div>
        </div>
        <div class="group-item">
          <div class="item-label">Destination Hospital Approval:</div>
          <div class="item-val">{{getDestinationApprovalStatus()}}</div>
        </div>

        <div>
          <div style="margin-top:10px;" class="btn btn-medium btn-yellow" (click)="holdClaim()">GENERATE CLAIM</div>
          <div style="margin-top:5px;" class="btn btn-medium btn-yellow" (click)="holdClaim()">CHECK IN DESTINATION</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-sect">
    <div *ngFor="let transaction of selectedAuthorization?.documentation; let i=index">
      <div class="request-sect card">
        <div class="headArea-1">
          <div class="count">{{getCount(i)}}</div>
          <div class="letering">
            <div class="letering-1">Request Sent {{transaction.createdAt | date:'short'}}</div>
            <div class="letering-2">
              <span class="letering-name">{{selectedAuthorization.medicalPersonelName}}</span> Requested Referral Authorization</div>
          </div>
        </div>
        <div class="doc-wrap">
          <div class="doc-title">Clinical Information</div>

          <ul *ngFor="let doc of orderDocuments(transaction.document)" class="doc-entries">
            <div *ngIf="doc.order === 1" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                <div class="tbl-wrap">
                  <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                    <thead class="thead">
                      <tr class="tr">
                        <th class="th">Complaints</th>
                        <th class="th">Duration</th>
                      </tr>
                    </thead>

                    <tbody class="tbody">
                      <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                        <td class="td">{{cliDoc.symptom.name}}</td>
                        <td class="td">{{cliDoc.duration}} {{cliDoc.unit.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </div>
            <div *ngIf="doc.order === 2" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                {{doc.clinicalDocumentation}}
              </li>
            </div>
            <div *ngIf="doc.order === 3" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                <div class="tbl-wrap">
                  <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                    <thead class="thead">
                      <tr class="tr">
                        <th class="th">Diagnosis</th>
                        <th class="th">Diagnosis Type</th>
                      </tr>
                    </thead>

                    <tbody class="tbody">
                      <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                        <td class="td">{{cliDoc.diagnosis.name}}</td>
                        <td class="td">{{cliDoc.diagnosisType.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </div>
            <div *ngIf="doc.order === 4" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                <div class="tbl-wrap">
                  <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                    <thead class="thead">
                      <tr class="tr">
                        <th class="th">Investigation</th>
                        <th class="th">Amount</th>
                      </tr>
                    </thead>

                    <tbody class="tbody">
                      <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                        <td class="td">{{cliDoc.investigation.name}}</td>
                        <td class="td">{{cliDoc.investigation.Amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </div>
            <div *ngIf="doc.order === 5" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                <div class="tbl-wrap">
                  <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                    <thead class="thead">
                      <tr class="tr">
                        <th class="th">Drug</th>
                        <th class="th">Quantity</th>
                      </tr>
                    </thead>

                    <tbody class="tbody">
                      <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                        <td class="td">{{cliDoc.drug.name}}</td>
                        <td class="td">{{cliDoc.quantity}} {{cliDoc.unit.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </div>
            <div *ngIf="doc.order === 6" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                <div class="tbl-wrap">
                  <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                    <thead class="thead">
                      <tr class="tr">
                        <th class="th">Procedure</th>
                        <th class="th">Amount</th>
                      </tr>
                    </thead>

                    <tbody class="tbody">
                      <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                        <td class="td">{{cliDoc.procedure.name}}</td>
                        <td class="td">{{cliDoc.procedure.Amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </div>
            <div *ngIf="doc.order === 7" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                {{doc.clinicalDocumentation}}
              </li>
            </div>
            <div *ngIf="doc.order === 8" class="entry-wrap">
              <li class="doc-subtitle">{{doc.type}}</li>
              <li>
                {{doc.clinicalDocumentation}}
              </li>
            </div>


          </ul>
        </div>
      </div>

      <div *ngIf="transaction.response!== undefined" class="response-sect card">
        <div class="headArea-2">
          <div class="count">{{getCount(i,true)}}</div>
          <div class="letering">
            <div class="letering-1">Reaction Sent {{transaction.response.createdAt | date:'short'}}</div>
            <div class="letering-2">
              <span class="letering-name">{{transaction?.destinationProvider.name}}</span>
              <span class="red">{{transaction.approvedStatus.past}}</span> Request</div>
          </div>
        </div>
        <div class="doc-wrap">
          <ul class="doc-entries">
            <div class="entry-wrap">
              <li class="doc-subtitle">Reason for Reaction:</li>
              <li>{{transaction.response.reason}}</li>
            </div>

            <div class="entry-wrap">
              <li class="doc-subtitle">Name:</li>
              <li>{{transaction.response.by}}</li>
              <li>{{transaction?.destinationProvider.name}}</li>
            </div>
          </ul>
        </div>
        <div *ngIf="reply && i === (selectedAuthorization?.documentation.length-1)">
          <app-reply-referal-tabs #child [selectedAuthorization]="selectedAuthorization" [selectedTransaction]="selectedTransaction"></app-reply-referal-tabs>
        </div>
        <div *ngIf="canReply(transaction) && i === (selectedAuthorization?.documentation.length-1) && transaction.approvedStatus.id !== 2"
          class="reply-wrap">
          <div (click)="replyOk(transaction)" class="btn btn-medium btn-grey-outline">
            <i class="fa fa-reply"></i> REPLY
          </div>
        </div>
      </div>
      <div *ngIf="checkVisibility(transaction) && ((transaction.response=== undefined || selectedAuthorization.hiaApproved === undefined))"
        class="action-wrap">
        <div class="btn btn-medium btn-red" (click)="rejectReferal(transaction)">REJECT</div>
        <div class="btn btn-medium btn-blue" (click)="approveReferal(transaction)">APPROVE</div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="modalApprove" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-approve-referal [selectedTransaction]="selectedTransaction" [selectedAuthorization]="selectedAuthorization" (closeModal)="modal_close()"></app-modal-approve-referal>
  </div>
</div>

<div *ngIf="modalReject" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-reject-referal [selectedTransaction]="selectedTransaction" [selectedAuthorization]="selectedAuthorization" (closeModal)="modal_close()"></app-modal-reject-referal>
  </div>
</div>