@import '../../../../assets/libs/variables.scss';
@import './../premium-payment.component.scss';

.text-right {
    text-align: right;
}

.total-cost-box {
    width: 94%;
    padding: 20px;
    text-align: right;
}

.paystack-box {
    .paystack-btn {
        width: 150px;
        padding: 10px;
        margin-left: 65px;
    }
}

.paystack-btn {
    width: 150px;
    padding: 10px;
    margin-left: 65px;
}