<app-beneficiary-top-bar [policy]="policy" (closeModal)="openModal($event);"></app-beneficiary-top-bar>

<div class="details-wrap">
    <div class="left-wrap">
        <div class="detail-item">
            <div class="detail-content">
                <div class="hia-user">
                    <img *ngIf="beneficiary?.personId?.profileImageObject === undefined" src="../../../../assets/img/users/default.png">
                    <img *ngIf="beneficiary !== undefined && beneficiary?.personId?.profileImageObject !== undefined" class="" [src]="_uploadService.transform(beneficiary?.personId?.profileImageObject.thumbnail)">
                    <div class="pd-tag">P</div>
                </div>
                <div class="group-wrap">
                    <div class="group-item">
                        <div class="item-label">Date of Birth:</div>
                        <div class="item-val">{{ beneficiary?.personId?.dateOfBirth | date }}</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Policy ID:</div>
                        <div class="item-val">{{ beneficiary?.policyId }}</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">ASHIA ID:</div>
                        <div class="item-val">{{ beneficiary?.platformOwnerNumber }}</div>
                    </div>
                    <!-- <div class="group-item">
                        <div class="item-label">ASHIA ID:</div>
                        <div class="item-val">{{ '' }}</div>
                    </div> -->
                    <div class="group-item">
                        <div class="item-label">Email:</div>
                        <div class="item-val">{{ beneficiary?.personId?.email }}</div>
                    </div>
                </div>

                <div class="group-wrap">
                    <div class="item-val">
                        {{ beneficiary?.personId?.title?.name }} {{ beneficiary?.personId?.firstName }} {{ beneficiary?.personId?.otherNames }} {{ beneficiary?.personId?.lastName }}
                    </div>
                    <div class="item-val">{{ beneficiary?.personId?.phoneNumber }}</div>
                </div>

                <!-- <div class="group-wrap">
                    <div class="group-item">
                        <div class="item-label">Card Status:
                            <span class="green">
                                Issued</span>
                        </div>

                        <div style="color: green" class="item-val"> Issued</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Card Issued By:</div>
                        <div class="item-val">Mr Aderotimi Onala</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">When Issued:</div>
                        <div class="item-val">11th April, 2017</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Times Card was Issued or Re-Issued:</div>
                        <div class="item-val">6 Times</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Where Card is Issued:</div>
                        <div class="item-val">Ministry of Health Lagos</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Card Expiration Date:</div>
                        <div class="item-val">3rd Dec. 2017</div>
                    </div>
                </div> -->

                <!-- <div class="radioButton">
                                <input type="radio" value="" id="radioButtonInput"/>
                                <label for="radioButtonInput"> </label>
                            </div> -->

                <i (click)="navigateEditBeneficiary(beneficiary)" class="ico-cirle fa fa-pencil"></i>
            </div>
            <div (click)="onClickPrintDocument()" style="width: 102px;margin-top: 10px; " class="btn btn-medium btn-blue-outline ">Print Details</div>
        </div>

        <div *ngFor="let dependant of dependants" class="detail-item">
            <div class="detail-content">
                <div class="hia-user">
                    <img src="../../../../assets/img/users/default.png">
                    <div class="pd-tag">D</div>
                </div>
                <div class="group-wrap">
                    <div class="group-item">
                        <div class="item-label">Date of Birth:</div>
                        <div class="item-val">{{ dependant.beneficiary?.personIdId?.dateOfBirth | date }}</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Policy ID:</div>
                        <div class="item-val">{{ dependant?.policyId }}</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">ASHIA ID:</div>
                        <div class="item-val">{{ dependant.beneficiary?.platformOwnerNumber }}</div>
                    </div>
                    <!-- <div class="group-item">
                        <div class="item-label">LASRRA ID:</div>
                        <div class="item-val">{{ '' }}</div>
                    </div> -->
                </div>

                <div class="group-wrap">
                    <div class="item-val">{{dependant.beneficiary?.personIdId?.lastName}} {{dependant.beneficiary?.personIdId?.firstName}} {{dependant.beneficiary?.personIdId?.otherNames}}</div>
                    <div class="item-val">{{ dependant.beneficiary?.personIdId?.phoneNumber }}</div>
                    <div class="item-val">Relationship: {{ dependant?.relationshipId?.name }}</div>
                </div>
                <!-- <div class="group-wrap">
                    <div class="group-item">
                        <div class="item-label">Card Status:
                            <span class="green">
                                Issued</span>
                        </div>

                        <div style="color: green" class="item-val"> Issued</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Card Issued By:</div>
                        <div class="item-val">Mr Aderotimi Onala</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">When Issued:</div>
                        <div class="item-val">11th April, 2017</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Times Card was Issued or Re-Issued:</div>
                        <div class="item-val">6 Times</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Where Card is Issued:</div>
                        <div class="item-val">Ministry of Health Lagos</div>
                    </div>
                    <div class="group-item">
                        <div class="item-label">Card Expiration Date:</div>
                        <div class="item-val">3rd Dec. 2017</div>
                    </div>
                </div> -->
                <i (click)="navigateEditBeneficiary(beneficiary)" class="ico-cirle fa fa-pencil "></i>
            </div>
        </div>
    </div>
    <div class="right-wrap ">
        <div class="detail-item ">
            <div class="detail-content ">
                <div class="hia-user">
                    <img *ngIf="policy?.providerId?.logo === undefined" src="../../../../assets/img/logos/logo-placeholder.png ">
                    <img *ngIf="policy !== undefined && policy?.providerId?.logo !== undefined" class="" [src]="_uploadService.transform(policy?.providerId?.logo?.thumbnail)">
                </div>
                <div class="group-wrap ">
                    <div class="item-label ">Primary Healthcare Provider:</div>
                    <div class="item-val ">{{policy?.providerId?.name}}</div>
                    <div class="item-val ">{{policy?.providerId?.address?.street}}</div>
                    <div class="item-val ">{{policy?.providerId?.address?.neigbhourhood}}</div>
                    <div class="item-val ">{{policy?.providerId?.address?.city?.name}}-{{policy?.providerId?.address?.state?.name}}.</div>
                    <div class="item-val ">{{policy?.providerId?.phoneNumber}}</div>
                    <div (click)="navigateFacility(policy?.providerId)" style="width: 102px;margin-top: 10px; " class="btn btn-medium btn-blue-outline ">To Details</div>
                </div>
                <i class="ico-cirle fa fa-trash "></i>
            </div>
        </div>
        <div class="detail-item ">
            <div *ngIf="policy?.sponsor !== undefined && policy?.sponsor !== ''" class="detail-content ">
                <div class="group-wrap ">
                    <div class="item-label ">Employer:</div>
                    <div class="item-val ">{{policy?.sponsor?.name}}</div>
                    <div class="item-val ">{{policy?.sponsor?.address?.street}}, {{policy?.sponsor?.address?.neighbourhood}}, </div>
                    <div class="item-val ">{{policy?.sponsor?.address?.city?.name}}</div>
                    <div class="item-val ">{{policy?.sponsor?.address?.state?.name}}.</div>
                    <div (click)="navigateFacility(policy?.sponsor)" style="width: 102px;margin-top: 10px; " class="btn btn-medium btn-blue-outline ">To Details</div>
                </div>
                <i class="ico-cirle fa fa-trash "></i>
            </div>
        </div>
    </div>
</div>
<div *ngIf="addApproval" class="modal-overlay">
    <div class="modal-wrap shadow-RB">
        <div (click)="addApprovalClick();" class="close-modal">X</div>
        <div class="modal-title">EDIT STATUS -
            <em>Beneficiary</em>
        </div>
        <div class="list-boxes">
            <div class="box-left">
                <!-- <div *ngIf="!policy?.isActive" style="padding: 10px 0px;">
                    <form [formGroup]="approvalFormGroup" novalidate>
                        <div class="form-item-wrap">
                            <label class="label">Duration</label>
                            <div class="input-wrap">
                                <input type="number" min="1" formControlName="duration" class="form-control" placeholder="Duration">
                            </div>
                        </div>
                        <div class="form-item-wrap">
                            <label class="label">Interval</label>
                            <div class="input-wrap">
                                <select formControlName="unit" class="form-control">
                                    <option value="" disabled>Select Interval</option>
                                    <option [ngValue]="duration" *ngFor="let duration of durations; let i=index">{{ duration.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-item-wrap">
                            <label class="label">Start Date</label>
                            <div class="input-wrap">
                                <my-date-picker [options]="myDatePickerOptions" [selDate]="today" formControlName="startDate"></my-date-picker>
                            </div>
                        </div>
                    </form>
                    <div class="btn-box">
                        <button class="btn btn-medium btn-green" style="float:left;" (click)="onClickApprove(approvalFormGroup.valid, approvalFormGroup.value);" [innerHtml]="approvalBtn"></button>
                        <button class="btn btn-medium" style="float:right;" (click)="addApprovalClick();">Cancel</button>
                    </div>
                </div> -->
                <div *ngIf="!policy?.isActive" style="padding: 70px 0px;">
                    <button class="btn btn-medium btn-green" style="float:left;" (click)="onClickApprove();">ACTIVATE POLICY</button>
                </div>
                <div *ngIf="policy?.isActive" style="padding: 70px 0px;">
                    <button class="btn btn-medium btn-red" style="float:left;" (click)="onClickDeactivate();">DEACTIVATE POLICY</button>
                </div>
            </div>

            <div class="box-right">
                <div class="text-center">
                    <span>List of Previous Policies</span>
                </div>
                <div class="box">
                    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                        <thead class="thead">
                            <tr class="tr">
                                <th class="th">No</th>
                                <th class="th">Category</th>
                                <th class="th">Duration</th>
                                <th class="th">Start Date</th>
                                <th class="th">Status</th>
                                <th class="th">Valid Till</th>
                            </tr>
                        </thead>

                        <tbody class="tbody">
                            <tr class="tr" *ngIf="policy?.validityPeriods?.length === 0">
                                <td class="text-center" colspan="6">No data available in table</td>
                            </tr>
                            <tr *ngFor="let pol of policy?.validityPeriods.reverse(); let i = index;" class="tr">
                                <td class="td hover">{{ i+1 }}</td>
                                <td class="td hover">{{ pol.category }}</td>
                                <td class="td hover">{{ pol.duration }} {{ pol.unit }}</td>
                                <td class="td hover">{{ pol.startDate | date }}</td>
                                <td class="{{pol.isActive ? 'green': 'red'}}">{{ pol.isActive ? 'Active': 'Inactive' }}</td>
                                <td class="td hover">{{ pol.validTill | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="print-section" style="display:none">
  <header class="header">
    <div class="img-header">
      <img src="../../../../../assets/img/logos/ashia.jpeg" alt="">
    </div>
    <div class="text-header">
      <h2>{{ printBeneficiary?.principalBeneficiary?.platformOwnerId?.name }}</h2>
    </div>
  </header>
  <section>
    <div>
      <b>Policy Details</b>
      <div>Household ID: {{ printBeneficiary?.policyId }} </div>
      <div>ASHIA ID: {{ printBeneficiary?.platformOwnerNumber }} </div>
      <div>Sponsor: {{ printBeneficiary?.sponsorshipId?.name }} </div>
    </div>
    <div class="details">
        <b>Beneficiary Details</b>
        <div>Fullname: {{ printBeneficiary?.principalBeneficiary?.personId?.title?.name }} {{ printBeneficiary?.principalBeneficiary?.personId?.firstName }} {{ printBeneficiary?.principalBeneficiary?.personId?.otherNames }} {{ printBeneficiary?.principalBeneficiary?.personId?.lastName }}</div>
        <div>Gender: {{ printBeneficiary?.principalBeneficiary?.personId?.gender?.name }}</div>
        <div>Date of birth: {{ printBeneficiary?.principalBeneficiary?.personId?.dateOfBirth | date }}</div>
        <div>Principal Policy ID: {{ printBeneficiary?.principalPolicyId }}</div>
        <div>Email: {{ printBeneficiary?.principalBeneficiary?.personId?.email }}</div>
        <div>State: {{ printBeneficiary?.principalBeneficiary?.personId?.homeAddress?.state?.name }}</div>
    </div>
    <div class="details">
        <b>Plan Details</b>
        <div>Plan name: {{ printBeneficiary?.planId?.name }}</div>
        <div>Plan name: {{ printBeneficiary?.planId?.planType?.name }}</div>
        <div>Premium: &#x20a6;{{ printBeneficiary?.planId?.premiums[printBeneficiary?.planId?.premiums?.length - 1].amount }} for {{ printBeneficiary?.planId?.premiums[printBeneficiary?.planId?.premiums?.length - 1].durationInDay }}</div>
    </div>
    <div class="details">
        <b>HMO Details</b>
        <div>HMO name: {{ printBeneficiary?.hiaId?.name }}</div>
    </div>
    <div class="details">
        <b>Provider Healthcare Provider</b>
        <div>Provider name: {{ printBeneficiary?.providerId?.name }}</div>
        <div>Provider address: {{ printBeneficiary?.providerId?.street }}, {{ printBeneficiary?.providerId?.city?.name }} {{ printBeneficiary?.providerId?.lga?.name }}</div>
        <div>Provider Contact: {{ printBeneficiary?.providerId?.phoneNumber }}</div>
    </div>
  </section>
</div>
