<div class="app-content-wrap">
    <div class="list-search-wrap">
        <div class="search-wrap">
            <label class="label-xx">Search:</label>
            <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>

        <div routerLink="/modules/checkin/new" class="btn btn-medium btn-blue">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> NEW CHECK-IN
        </div>
    </div>

    <div class="shadow-RB">
        <div class="list-filter-wrap">
            <div class="label-xx">Filters:</div>

            <div class="input-wrap">
                <label>Type</label>
                <select [formControl]="filterTypeControl">
            <option>All</option>
            </select>
            </div>

            <div class="input-wrap">
                <label>Created By</label>
                <select [formControl]="createdByControl">
            <option>All</option>
            </select>
            </div>

            <div class="input-wrap">
                <label>Utilized By</label>
                <select [formControl]="utilizedByControl">
            <option>All</option>
            </select>
            </div>

            <div class="input-wrap">
                <label>Status</label>
                <select [formControl]="statusControl">
            <option>All</option>
            </select>
            </div>

            <div class="btn btn-medium btn-blue-outline">RESET</div>
        </div>

        <table class="table" cellpadding="0" cellspacing="0" border="0.5">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">Date of Encounter</th>
                    <th class="th">Patient</th>
                    <th class="th">LASHMA ID</th>
                    <th class="th">Premium Status</th>
                    <th class="th">Encounter Type</th>
                    <th class="th">Encounter Status</th>
                    <th class="th">Expiration Status</th>
                    <th class="th">Pre Auth Requested</th>
                    <th class="th">Capitation</th>
                    <th class="th">Fee For Service</th>
                    <th class="th"></th>
                </tr>
            </thead>

            <tbody class="tbody">

                <tr *ngFor="let check of checkedIns" class="tr" >
                    <td class="td">{{check.createdAt | date}}</td>
                    <td class="td">{{check.beneficiaryObject?.personId?.lastName}} {{check.beneficiaryObject?.personId?.firstName}}</td>
                    <td class="td">{{check.beneficiaryObject?.platformOwnerNumber}}</td>
                    <td class="td"><i class="fa fa-check green" aria-hidden="true"></i></td>
                    <td class="td">{{check.encounterType.name}}</td>
                    <td class="td"><span class="green">{{check.encounterStatus.name}}</span></td>
                    <td class="td"><span class="green">Active</span></td>
                    <td><i class="fa fa-times red" aria-hidden="true"></i></td>
                    <td class="td">{{check.claimType.name}}</td>
                    <td class="td">Filed</td>
                    <td (click)="routeBeneficiary(check)"><i class="fa fa-chevron-right"></i></td>
                </tr>

            </tbody>
        </table>

        <div class="list-buttom">
            <div class="list-summary">Showing 1 to 24 of 25 entries (filtered from 1235 total entries)</div>
            <div class="btn btn-medium btn-yellow">Load More</div>
        </div>
    </div>
</div>