<section class="content">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
                <div class="col-12 no-padding">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Name, ID Number or Date of Birth" aria-describedby="basic-addon2">
                        <span class="input-group-addon bg-yellow" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <a class="btn btn-primary btn-flat pull-right" routerLink="/modules/hia/new-hia">
                <i class="fa fa-plus-circle"></i> ADD
                <br> HEALTH INSURANCE AGENT
            </a>
        </div>
    </div>
    <div class="row">
        <section class="box">
            <div class="filter-box">
                <h5>Filters:</h5>
                <div class="row no-margin-right">
                    <div class="form-group col-sm-6 col-md-6 col-lg-4 no-padding">
                        <label class="col-12 control-label">Grading: </label>
                        <div class="col-12">
                            <select class="form-control">
                                <option value="all">ALL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-4 no-padding">
                        <label class="col-12 control-label">Type: </label>
                        <div class="col-12">
                            <select class="form-control">
                                <option value="all">ALL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-4">
                        <label class="col-12 no-padding control-label">Status: </label>
                        <div class="row no-margin-left no-margin-right">
                            <div class="col-8 col-sm-6 no-padding">
                                <select class="form-control">
                                    <option value="all">ALL</option>
                                </select>
                            </div>
                            <div class="col-4 col-sm-6 no-padding">
                                <button type="" class="btn btn-default btn-flat text-brand border-brand pull-right">RESET</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-12">
            <div class="table-responsive">
                <table class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr class="bg-gray text-white">
                            <th>Name HIA</th>
                            <th>Type</th>
                            <th>Contact Person</th>
                            <th>Phone number</th>
                            <th>Grade</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="hias.length === 0">
                            <td class="text-center" colspan="7">No data available in table</td>
                        </tr>
                        <tr class="tr-link" routerLink="/modules/hia/hias/{{ hia._id }}" *ngFor="let hia of hias">
                            <td>{{ hia.employerName }}</td>
                            <td>Health Care Insurance</td>
                            <td>{{ hia.businessContact.name }}</td>
                            <td>{{ hia.businessContact.phone }}</td>
                            <td>A</td>
                            <td>
                                <span class="text-red">INACTIVE</span>
                                <!--<span class="text-success">Active</span>-->
                            </td>
                            <td><i class="fa fa-chevron-right"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 text-center">
                <button class="btn bg-yellow btn-flat">LOAD MORE</button>
            </div>
        </section>
    </div>
</section>