<div class="list-search-wrap">
    <!-- <div class="search-wrap">
        <label class="label-xx">Search:</label>
        <input class="top-tab-search" [formControl]="listsearchControl" type="search" placeholder="HIA or status">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="btn btn-medium btn-blue" (click)="navigate('/modules/claims/queued-claims');">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> QUEUED CLAIM FOR PAYMENT
    </div> -->
    <div (click)="navigate('/modules/claims/claims-payment');" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO CLAIMS PAYMENT
    </div>
</div>

<div class="shadow-RB">
    <div class="list-filter-wrap">
        <div class="filter-box">
            <div class="label-xx">Filters:</div>
            <div class="input-wrap">
                <label>Responsible HIA</label>
                <select [formControl]="filterHiaControl" class="form-control">
                <option value="All" selected>All</option>
              </select>
            </div>
            <div class="input-wrap">
                <label>Hospital Name</label>
                <select [formControl]="hospitalControl">
                <option>All</option>
              </select>
            </div>
            <div class="input-wrap">
                <label>Health Care Plan</label>
                <select [formControl]="planControl">
                <option>All</option>
              </select>
            </div>
            <div class="btn btn-medium btn-blue-outline">RESET</div>
        </div>
        <div class="payment-box">
            <div class="tab"></div>
            <div class="queue-btn-box">
                <angular-4-flutterwave *ngIf="selectedCapitations.length > 0" [amount]="totalCost" [customer_email]="user.email" [PBFPubKey]="flutterwaveClientKey" [txref]="refKey" [currency]="'NGN'" [country]="'NG'" [payment_method]="'account'" [custom_title]="'e-Payment'"
                    [custom_description]="" [exclude_banks]="" [btnColor]="'btn-yellow'" (close)="paymentCancel();" (callback)="paymentDone($event);"></angular-4-flutterwave>
                <!-- <button *ngIf="selectedCapitations.length > 0" [disabled]="cDisableBtn" (click)="onClickPayItemsSelected();" class="btn btn-medium btn-yellow">
                    <span *ngIf="cBtnText">Pay Items Selected</span>
                    <span *ngIf="cBtnProcessing">Paying Items...&nbsp; <i class="fa fa-spinner fa-spin"></i></span>
                </button> -->
            </div>
        </div>
    </div>

    <div>
        <table class="table" cellpadding="0" cellspacing="0" border="0.5">
            <thead class="thead">
                <tr class="tr">
                    <th class="th" *ngIf="capitations.length > 0" (change)="onCheckAllQueue($event.target.checked);"><input type="checkbox"></th>
                    <th class="th">No</th>
                    <th class="th">Date</th>
                    <th class="th">Amount Paid</th>
                    <th class="th">Provider ID</th>
                    <th class="th">Health Care Plan</th>
                    <th class="th">Responsible HIA</th>
                    <th class="th">Capitation</th>
                    <th class="th">Status</th>
                    <th class="th"></th>
                </tr>
            </thead>

            <tbody class="tbody">
                <tr class="tr" *ngIf="capitations.length === 0 && !loading">
                    <td class="text-center" colspan="11">No data available in table</td>
                </tr>
                <tr class="tr" *ngIf="capitations.length === 0 && loading">
                    <td class="text-center" colspan="11">
                        <i class="fa fa-spinner fa-spin"></i>
                    </td>
                </tr>
                <tr *ngFor="let capitation of capitations; let i = index;" class="tr hover">
                    <td class="td">
                        <input (change)="onCheckQueue(i, capitation);" [attr.checked]="capitation.isChecked ? true : null" type="checkbox">
                    </td>
                    <td class="td" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">{{ i+1 }}</td>
                    <td class="td" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">{{ capitation?.updatedAt | date }}</td>
                    <td class="td" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">&#x20A6; {{ capitation?.premiumPackageId?.amount }}</td>
                    <td class="td" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">{{ capitation?.providerId?.provider?.providerId }}</td>
                    <td class="td" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">{{ capitation?.planId?.name }}</td>
                    <td class="td" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">{{ capitation?.hiaId?.name }}</td>
                    <td class="td text-center" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">
                        <i class="fa fa-check green" aria-hidden="true"></i>
                    </td>
                    <td class="td" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment"><span class="green">Paid</span></td>
                    <td class="td td-icos" routerLink="/modules/beneficiary/beneficiaries/{{capitation._id}}/payment">
                        <i class="fa fa-chevron-right"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="list-buttom">
            <div class="list-summary">Showing 1 to {{capitations.length}} of {{capitations.length}} entries (filtered from {{capitations.length}} total entries)</div>
            <div class="btn btn-medium btn-yellow">Load More</div>
        </div>
    </div>
</div>