<table class="table" cellpadding="0" cellspacing="0" border="0.5">
    <thead class="thead">
        <tr class="tr">
            <th class="th">No</th>
            <th class="th">SHIMA ID</th>
            <th class="th">Patient Name</th>
            <th class="th">Date</th>
            <th class="th">Responsible HIA</th>
            <th class="th">Health Care Plan</th>
            <th class="th">Hospital Name</th>
            <th class="th">Status</th>
            <th class="th">Reason</th>
            <th class="th"></th>
        </tr>
    </thead>

    <tbody class="tbody">
        <tr class="tr" *ngIf="listOfClaims.length === 0 && !loading">
            <td class="text-center" colspan="14">No data available in table</td>
        </tr>
        <tr class="tr" *ngIf="listOfClaims.length === 0 && loading">
            <td class="text-center" colspan="14">
                <i class="fa fa-spinner fa-spin"></i>
            </td>
        </tr>
        <tr class="tr" *ngFor="let item of listOfClaims; let i=index;">
            <td class="td">{{ i+1 }}</td>
            <td class="td">{{item.checkedinDetail?.checkedInDetails?.beneficiaryObject?.platformOwnerNumber}}</td>
            <td class="td">{{item.checkedinDetail?.checkedInDetails?.beneficiaryObject?.personId?.firstName}} {{item.checkedinDetail?.checkedInDetails?.beneficiaryObject?.personId?.lastName}}</td>
            <td class="td">{{item.dateClaimCreated|date}}</td>
            <td class="td">
                <span *ngIf="item.checkedinDetail.checkedInDetails.policyObject != undefined">
                    {{item?.checkedinDetail?.checkedInDetails?.policyObject?.hiaId?.name}}
                </span>
                <span *ngIf="item.checkedinDetail.checkedInDetails.policyId != undefined">
                    {{item?.checkedinDetail?.policyId?.hiaId?.name}}
                </span>
            </td>
            <td class="td">{{item?.checkedinDetail?.plan}}</td>
            <td class="td">{{item?.checkedinDetail?.providerFacility?.providerId?.name}}</td>
            <td class="td">
                <span class="green" *ngIf="item.status != 'Pending'">{{item?.status}}</span>
                <span class="red" *ngIf="item.status == 'Pending'">{{item?.status}}</span>
            </td>
            <td class="td">
                <div class="tooltip">
                    <div class="tip-title"></div>
                    <div class="tip-content"></div>
                </div>
            </td>
            <td class="td td-icos" routerLink="/modules/claim/claims/{{item._id}}">
                <i class="fa fa-info fa-circle"></i>
                <i class="fa fa-chevron-right"></i>
            </td>
        </tr>
    </tbody>
</table>