<div class="user-sect">
    <div class="user-img-wrap">
        <img src="../../../assets/img/users/default.png">
    </div>

    <div (click)="close_onClick()" class="menu-close">X</div>
</div>

<div class="username-wrap">
    <div *ngIf="user !== undefined && user.lastName !== undefined" class="username">{{user?.lastName}} {{user?.firstName}}</div>
    <div *ngIf="user !== undefined && user.lastName === undefined" class="username">{{user?.email}}</div>
    <div class="pipe">|</div>
    <div (click)="signOut()" class="user-logout">Logout</div>
</div>

<ul class="menu-links">
    <div class="menu-group">
        <li (click)="close_onClick()" class="menu-link">HOME</li>
        <li routerLink="/modules/beneficiary/beneficiaries" (click)="close_onClick()" class="menu-link">BENEFICIARIES</li>
        <li (click)="close_onClick()" class="menu-link">PREMIUM PAYMENTS</li>
        <li routerLink="/modules/employer/employers" (click)="close_onClick()" class="menu-link">ORGANISATIONS</li>
        <li routerLink="/modules/provider/providers" (click)="close_onClick()" class="menu-link">PROVIDERS</li>
        <li routerLink="/modules/hia/hias" (click)="close_onClick()" class="menu-link">HIA</li>
        <li (click)="close_onClick()" class="menu-link">HEALTH PLANS</li>
        <li routerLink="/modules/plan/plans" (click)="close_onClick()" class="menu-link">PLANS</li>
        <li routerLink="/modules/checkin/checkedin" (click)="close_onClick()" class="menu-link">CHECK IN</li>
        <li routerLink="/modules/claim/claims" (click)="close_onClick()" class="menu-link">CLAIMS</li>
        <li routerLink="/modules/referal/referals" (click)="close_onClick()" class="menu-link">REFFERALS</li>
        <li (click)="close_onClick()" class="menu-link">AUTHORIZATIONS</li>
        <li (click)="close_onClick()" routerLink="/modules/claims/claims-payment" class="menu-link">CLAIMS PAYMENT</li>
        <li (click)="close_onClick()" class="menu-link">COMPLAINTS</li>
        <li (click)="close_onClick()" class="menu-link">FUND MANAGEMENT</li>
        <li (click)="close_onClick()" class="menu-link">ANALYTICS</li>
        <li routerLink="/modules/platform/platforms" (click)="close_onClick()" class="menu-link">PLATFORMS</li>
        <li routerLink="/modules/role/roles" (click)="close_onClick()" class="menu-link">ROLES MANAGEMENT</li>
        <li routerLink="/modules/access" (click)="close_onClick()" class="menu-link">ACCESS MANAGEMENT</li>
        <li routerLink="/modules/user/users" (click)="close_onClick()" class="menu-link">USER MANAGEMENT</li>
    </div>
</ul>