<div class="in-content-wrap">
    <div routerLink="/modules/hia/hias" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO HIA
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabMenuClick('details')" [class.tab-active]="tabDetails">HIA Details</li>
        <li (click)="tabMenuClick('plans')" [class.tab-active]="tabPlans">List of Plans</li>
        <li (click)="tabMenuClick('organizations')" [class.tab-active]="tabEmployers">Employers</li>
        <li (click)="tabMenuClick('beneficiaries')" [class.tab-active]="tabBeneficiaries">Beneficiaries</li>
        <li (click)="tabMenuClick('claims')" [class.tab-active]="tabClaims">Claims</li>
        <li (click)="tabMenuClick('pre-authorizations')" [class.tab-active]="tabPreauthorization">Preauthorization</li>
        <li (click)="tabMenuClick('payments')" [class.tab-active]="tabPayment">Payment History</li>
        <li (click)="tabMenuClick('complaints')" [class.tab-active]="tabComplaints">Complaints</li>
        <li (click)="tabMenuClick('referrals')" [class.tab-active]="tabReferrals">Referrals</li>
    </ul>

    <div class="tab-content shadow-RB">
        <app-tab-top-bar [selectedFacility]="selectedFacility" (closeModal)="openModal($event);"></app-tab-top-bar>
        <router-outlet></router-outlet>
        <!-- <div *ngIf="tab_plans && selectedFacility._id !== undefined" class="tab-pane fade show active">
            <app-tab-top-bar [selectedFacility]="selectedFacility" (closeModal)="openModal($event);"></app-tab-top-bar>

        </div>

        <div *ngIf='tab_beneficiaries' class="tab-pane fade show active">
            <app-list-beneficiary></app-list-beneficiary>
        </div> -->
    </div>
</div>

<div *ngIf="addApproval" class="modal-overlay">
    <div class="modal-wrap shadow-RB">
        <div (click)="addApprovalClick();" class="close-modal">X</div>
        <div class="modal-title">EDIT STATUS - <em>{{ selectedFacility?.name }}</em></div>
        <div class="list-boxes">
            <div class="box-left">
                <div *ngIf="!selectedFacility?.isConfirmed" style="padding: 10px 0px;">
                    <form [formGroup]="approvalFormGroup" novalidate>
                        <div class="form-item-wrap">
                            <label class="label">Duration</label>
                            <div class="input-wrap">
                                <input type="number" min="1" formControlName="duration" class="form-control" placeholder="Duration">
                            </div>
                        </div>
                        <div class="form-item-wrap">
                            <label class="label">Interval</label>
                            <div class="input-wrap">
                                <select formControlName="unit" class="form-control">
                                    <option value="" disabled>Select Interval</option>
                                    <option [ngValue]="duration" *ngFor="let duration of durations; let i=index">{{ duration.name }}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="btn-box">
                        <button class="btn btn-medium btn-green" style="float:left;" (click)="onClickApprove(approvalFormGroup.valid, approvalFormGroup.value);" [innerHtml]="approvalBtn"></button>
                        <button class="btn btn-medium" style="float:right;" (click)="addApprovalClick();">Cancel</button>
                    </div>
                </div>
                <div *ngIf="selectedFacility?.isConfirmed" style="padding: 70px 0px;">
                    <button class="btn btn-medium btn-red" style="float:left;" (click)="onClickDeactivate();">DEACTIVATE LICENSE</button>
                </div>
            </div>

            <div class="box-right">
                <div class="text-center">
                    <span>List of Previous Licenses</span>
                </div>
                <div class="box">
                    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                        <thead class="thead">
                            <tr class="tr">
                                <th class="th">No</th>
                                <th class="th">Duration</th>
                                <th class="th">Created At</th>
                                <th class="th">Status</th>
                                <th class="th">Valid Till</th>
                            </tr>
                        </thead>

                        <tbody class="tbody">
                            <tr class="tr" *ngIf="selectedFacility?.hia?.validityPeriods?.length === 0 && !loading">
                                <td class="text-center" colspan="5">No data available in table</td>
                            </tr>
                            <tr class="tr" *ngIf="selectedFacility?.hia?.validityPeriods?.length === 0 && loading">
                                <td class="text-center" colspan="5">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </td>
                            </tr>
                            <tr *ngFor="let hia of selectedFacility?.hia?.validityPeriods; let i = index;" class="tr">
                                <td class="td hover">{{ i+1 }}</td>
                                <td class="td hover">{{ hia.duration }} {{ hia.unit.name }}</td>
                                <td class="td hover">{{ hia.createdAt | date }}</td>
                                <td class="td hover">
                                    <span class="{{hia.isActive ? 'green': 'red'}}">{{ hia.isActive ? 'Active': 'Inactive' }}</span>
                                </td>
                                <td class="td hover">{{ hia.validTill | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>