<div class="in-content-wrap">
    <div routerLink="/modules/hia/hias" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO HIA
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">HIA Details</li>
        <li (click)="tabPlans_click()" [class.tab-active]="tab_plans">List of Plans</li>
        <li (click)="tabEmployers_click()" [class.tab-active]="tab_employers">Employers</li>
        <li (click)="tabBeneficiaries_click()" [class.tab-active]="tab_beneficiaries">Beneficiaries</li>
        <li (click)="tabClaims_click()" [class.tab-active]="tab_claims">Claims</li>
        <li (click)="tabPreauthorization_click()" [class.tab-active]="tab_preauthorization">Preauthorization</li>
        <li (click)="tabPayment_click()" [class.tab-active]="tab_payment">Payment History</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
        <li (click)="tabReferals_click()" [class.tab-active]="tab_referals">Referals</li>
    </ul>

    <div class="tab-content shadow-RB">
        <div *ngIf="tab_details && selectedFacility._id !== undefined" class="tab-pane fade show active">
            <app-tab-top-bar [selectedFacility]="selectedFacility" (closeModal)="openModal($event);"></app-tab-top-bar>

            <div class="details-wrap">
                <div class="detail-item">
                    <div class="item-label item-head">Health Insurance Agent Detail</div>

                    <div class="detail-content">
                        <!-- <img class="hia-logo" [src]="_uploadService.transform(this.selectedFacility.logo.thumbnail)"> -->
                        <img *ngIf="selectedFacility.logo !== undefined" class="hia-logo" [src]="_uploadService.transform(this.selectedFacility.logo.thumbnail)">
                        <img *ngIf="selectedFacility.logo === undefined" class="hia-logo" src="../../../../assets/img/logos/default.png">
                        <div class="group-wrap">
                            <div class="item-label">{{selectedFacility?.name}}</div>
                            <div class="item-val">{{selectedFacility?.hia.type.name}}</div>
                            <div class="item-val">{{selectedFacility?.address.street}}</div>
                            <div class="item-val">{{selectedFacility?.address.neighbourhood}} - {{selectedFacility?.address.state.name}}</div>
                            <div class="item-val">{{selectedFacility?.phoneNumber}}</div>
                        </div>
                        <div class="group-wrap">
                            <div class="group-item">
                                <div class="item-label">NHIS Number:</div>
                                <div class="item-val">{{selectedFacility?.hia.nhisNumber}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Type:</div>
                                <div class="item-val">{{selectedFacility?.hia.type.name}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">CIN Number:</div>
                                <div class="item-val">{{selectedFacility?.hia.cin}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Registration Date:</div>
                                <div class="item-val">{{selectedFacility?.hia.registrationDate | date}}.</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Banker:</div>
                                <div class="item-val">{{selectedFacility?.bankDetails.bank.name}}.</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Bank Account:</div>
                                <div class="item-val">{{selectedFacility?.bankDetails.accountNumber}}</div>
                            </div>
                        </div>
                        <div class="group-wrap">
                            <input type="checkbox" class="item-label-x2">Accept Terms and Conditions
                        </div>
                        <i (click)="navigateEditHIA(selectedFacility)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">Business Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img *ngIf="selectedFacility?.businessContact?.image !== undefined" class="hia-logo" [src]="_uploadService.transform(this.selectedFacility?.businessContact?.image?.thumbnail)">
                            <img *ngIf="selectedFacility?.businessContact?.image === undefined" class="hia-logo" src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{selectedFacility?.businessContact.lastName}} {{selectedFacility?.businessContact.firstName}}</div>
                            <div class="item-val">{{selectedFacility?.businessContact.phoneNumber}}</div>
                            <div class="item-val">{{selectedFacility?.businessContact.email}}</div>
                            <div class="item-val">{{selectedFacility?.businessContact.position.name}}</div>
                        </div>
                        <i (click)="navigateEditHIA(selectedFacility)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>

                <div class="detail-item">
                    <div class="item-label item-head">IT Contact</div>

                    <div class="detail-content">
                        <div class="hia-user">
                            <img *ngIf="selectedFacility?.itContact?.image !== undefined" class="hia-logo" [src]="_uploadService.transform(this.selectedFacility?.itContact?.image?.thumbnail)">
                            <img *ngIf="selectedFacility?.itContact?.image === undefined" class="hia-logo" src="../../../../assets/img/users/default.png">
                        </div>
                        <div class="group-wrap">
                            <div class="item-val">{{selectedFacility?.itContact.lastName}} {{selectedFacility?.itContact.firstName}}</div>
                            <div class="item-val">{{selectedFacility?.itContact.phoneNumber}}</div>
                            <div class="item-val">{{selectedFacility?.itContact.email}}</div>
                            <div class="item-val">{{selectedFacility?.itContact.position.name}}</div>
                        </div>
                        <i (click)="navigateEditHIA(selectedFacility)" class="ico-cirle fa fa-pencil"></i>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf='tab_beneficiaries' class="tab-pane fade show active">
            <app-list-beneficiary></app-list-beneficiary>
        </div>
    </div>
</div>

<div *ngIf="addApproval" class="modal-overlay">
    <div class="modal-wrap shadow-RB">
        <div (click)="addApprovalClick();" class="close-modal">X</div>
        <div class="modal-title">EDIT STATUS - <em>{{ selectedFacility?.name }}</em></div>
        <div class="list-boxes">
            <div class="box-left">
                <div *ngIf="!selectedFacility?.isConfirmed" style="padding: 10px 0px;">
                    <form [formGroup]="approvalFormGroup" novalidate>
                        <div class="form-item-wrap">
                            <label class="label">Duration</label>
                            <div class="input-wrap">
                                <input type="number" min="1" formControlName="duration" class="form-control" placeholder="Duration">
                            </div>
                        </div>
                        <div class="form-item-wrap">
                            <label class="label">Interval</label>
                            <div class="input-wrap">
                                <select formControlName="unit" class="form-control">
                                    <option value="" disabled>Select Interval</option>
                                    <option [ngValue]="duration" *ngFor="let duration of durations; let i=index">{{ duration.name }}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="btn-box">
                        <button class="btn btn-medium btn-green" style="float:left;" (click)="onClickApprove(approvalFormGroup.valid, approvalFormGroup.value);" [innerHtml]="approvalBtn"></button>
                        <button class="btn btn-medium" style="float:right;" (click)="addApprovalClick();">Cancel</button>
                    </div>
                </div>
                <div *ngIf="selectedFacility?.isConfirmed" style="padding: 70px 0px;">
                    <button class="btn btn-medium btn-red" style="float:left;" (click)="onClickDeactivate();">DEACTIVATE LICENSE</button>
                </div>
            </div>

            <div class="box-right">
                <div class="text-center">
                    <span>List of Previous Licenses</span>
                </div>
                <div class="box">
                    <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                        <thead class="thead">
                            <tr class="tr">
                                <th class="th">No</th>
                                <th class="th">Duration</th>
                                <th class="th">Created At</th>
                                <th class="th">Status</th>
                                <th class="th">Valid Till</th>
                            </tr>
                        </thead>

                        <tbody class="tbody">
                            <tr class="tr" *ngIf="selectedFacility?.hia?.validityPeriods?.length === 0 && !loading">
                                <td class="text-center" colspan="5">No data available in table</td>
                            </tr>
                            <tr class="tr" *ngIf="selectedFacility?.hia?.validityPeriods?.length === 0 && loading">
                                <td class="text-center" colspan="5">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </td>
                            </tr>
                            <tr *ngFor="let hia of selectedFacility?.hia?.validityPeriods; let i = index;" class="tr">
                                <td class="td hover">{{ i+1 }}</td>
                                <td class="td hover">{{ hia.duration }} {{ hia.unit.name }}</td>
                                <td class="td hover">{{ hia.createdAt | date }}</td>
                                <td class="td hover">
                                    <span class="{{hia.isActive ? 'green': 'red'}}">{{ hia.isActive ? 'Active': 'Inactive' }}</span>
                                </td>
                                <td class="td hover">{{ hia.validTill | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>