<div class="in-content-wrap">
    <div routerLink="/modules/hia/hias" class="back-btn">
        <i class="fa fa-chevron-left"></i>
        BACK TO HIA
    </div>
  
    <ul class="inpage-tabs"> 
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">HIA Details</li>
        <li (click)="tabPreauthorization_click()" [class.tab-active]="tab_preauthorization">Preauthorization</li>
        <li (click)="tabPlans_click()" [class.tab-active]="tab_plans">List of Plans</li>
        <li (click)="tabBeneficiaries_click()" [class.tab-active]="tab_beneficiaries">Beneficiaries</li>
        <li (click)="tabEmployers_click()" [class.tab-active]="tab_employers">Employers</li>
        <li (click)="tabPayment_click()" [class.tab-active]="tab_payment">Payment History</li>
        <li (click)="tabClaims_click()" [class.tab-active]="tab_claims">Claims</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
        <li (click)="tabReferals_click()" [class.tab-active]="tab_referals">Referals</li>
    </ul>
  
    <div class="tab-content shadow-RB">
        <div *ngIf="tab_details" class="tab-pane fade show active">
            <app-tab-top-bar></app-tab-top-bar>
        </div>
    </div>
  </div>
  
  