<div (click)="notifier_hide()" class="app-content-wrap">
    <div class="bar-wrap">
        <div class="sect-a">
            <div (click)="menu_show()" class="menuico">
                <div class="menu-label">MENU</div>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>

            <div class="platform-wrap">
                <div class="platform-logo">
                    <img src="../../../assets/img/logos/lagos-state-logo.jpg">
                </div>
                <div class="platform-label">LAGOS STATE HEALTH MANAGEMENT AGENCY</div>
            </div>
        </div>
        <div class="sect-b">
            <div class="search-wrap">
                <input class="top-tab-search" [formControl]="appsearchControl" type="search" placeholder="Search here...">
                <i class="fa fa-search" aria-hidden="true"></i>
                <!-- <div class="x">x</div> -->
            </div>
        </div>
    </div>
</div>

<div class="title-tab">
    <div class="app-content-wrap">
        <div class="bar-wrap">
            <div (click)="notifier_hide()" class="bar-left">
                <span class="title">{{ pageInView }}</span>
                <span class="post-title">- {{ minorPageInView }}</span>
            </div>
            <div class="bar-right">
                <div (click)="notifier_hide()" class="user-wrap">
                    <div class="user-img-wrap">
                        <img src="../../../assets/img/users/default.png">
                    </div>
                    <div class="user-text-wrap">
                        <div *ngIf="user?.facilityId !== undefined" class="user-name">{{user?.lastName}} {{user?.firstName}}</div>
                        <div *ngIf="user?.facilityId === undefined" class="user-name">{{user?.email}}</div>
                        <div class="user-others">{{user?.facilityId?.name}}</div>
                    </div>
                </div>

                <div class="icons-wrap">
                    <i (click)="notifier_toggle()" class="fa fa-bell-o" aria-hidden="true">
                        <span class="notify-count">3</span>
                    </i>
                </div>
            </div>

            <ul *ngIf="notifier" class="notify-wrap shadow-b">
                <li class="notify-item">
                    <div class="notify-title">Notification Title Here</div>
                    <div class="notify-content">Herein goes the content of the said notification. This should be a clickable item which should route to the relevant page.</div>
                </li>
                <li class="notify-item">
                    <div class="notify-title">Notification Title Here</div>
                    <div class="notify-content">Herein goes the content of the said notification. This should be a clickable item which should route to the relevant page.</div>
                </li>
                <li class="notify-item">
                    <div class="notify-title">Notification Title Here</div>
                    <div class="notify-content">Herein goes the content of the said notification. This should be a clickable item which should route to the relevant page.</div>
                </li>
            </ul>
        </div>
    </div>
</div>