<div class="pg-title">
    {{selectedBeneficiary?.personId.lastName}} {{selectedBeneficiary?.personId.firstName}}</div>
<div class="pg-subtitle">{{selectedBeneficiary?.personId.email}}</div>

<form [formGroup]="frmProgram" novalidate>
    <div class="frm-inner-title">Health Insurance Agent</div>

    <div class="frm-item-wrap">
        <label class="label">HIA</label>
        <div class="inputWrap">
            <select formControlName="hiaName" class="form-control">
                <option value="" disabled selected>HIA</option>
                <option disabled="isHia" *ngFor="let hia of hias" [ngValue]="hia">{{hia.name}}</option>
            </select>
        </div>
    </div>

    <div class="frm-inner-title">Primary Health Care Provider</div>

    <div class="frm-item-wrap">
        <label class="label">Provider Name</label>
        <div class="inputWrap">
            <select formControlName="providerName" class="form-control">
                <option value="" disabled selected>Provider</option>
                <option *ngFor="let provider of providers" [ngValue]="provider">{{provider.name}}</option>
            </select>
        </div>
    </div>

    <div class="frm-inner-title">Plan</div>

    <div class="frm-item-wrap">
        <label class="label">Type</label>
        <div class="inputWrap">
            <select formControlName="programType" class="form-control">
                <option value="" disabled selected>Plan Type</option>
                <option *ngFor="let planType of planTypes" [ngValue]="planType">{{planType.name}}</option>
            </select>
        </div>
    </div>

    <div class="frm-item-wrap">
        <label class="label">Name</label>
        <div class="inputWrap">
            <select formControlName="programName" class="form-control">
                <option value="" disabled selected>Plan</option>
                <option *ngFor="let plan of plans" [ngValue]="plan">{{plan.name}}</option>
            </select>
        </div>
    </div>

    <div class="frm-item-wrap">
        <label class="label">Premium Category</label>
        <div class="inputWrap">
            <select formControlName="premiumCategory" class="form-control">
                <option value="" disabled selected>Premium Category</option>
                <option *ngFor="let premiumType of premiumTypes" [ngValue]="premiumType">{{premiumType.name}}</option>
            </select>
        </div>
    </div>
    <div class="frm-item-wrap">
        <label class="label">Premium Package</label>
        <div class="inputWrap">
            <select formControlName="premiumPackage" class="form-control">
                <option value="" disabled selected>Premium Package</option>
                <option *ngFor="let premiumPackage of premiumPackages" [ngValue]="premiumPackage">{{premiumPackage.category?.name}} ({{premiumPackage.duration}} {{premiumPackage.unit?.name}} {{premiumPackage.amount}})</option>
            </select>
        </div>
    </div>
    <div class="frm-item-wrap">
        <label class="label">Sponsorship</label>
        <div class="inputWrap">
            <select formControlName="sponsorship" class="form-control">
                <option value="" disabled selected>Sponsorship</option>
                <option disabled *ngFor="let sponsorship of sponsorships" [ngValue]="sponsorship">{{sponsorship.name}}</option>
            </select>
        </div>
    </div>
    <div class="frm-item-wrap" *ngIf="isHIA">
        <div class="frm-item-wrap" *ngIf="isHIA">
            <label class="label">Sponsorship Type</label>
            <div class="inputWrap">
                <select formControlName="sponsorshipType" class="form-control">
                    <option value="" disabled selected>Sponsorship Type</option>
                    <option *ngFor="let sponsorshipType of sponsorshipTypes" (change)="onSelectChange($event)" [ngValue]="sponsorshipType ">{{sponsorshipType.name}}</option>
                </select>
            </div>
        </div>
        <label class="label">Organization</label>
        <div class="inputWrap">
            <select formControlName="organization" class="form-control">
                <option value="" disabled selected>Organization</option>
                <option *ngFor="let organization of organizations" [ngValue]="organization">{{organization.name}}</option>
            </select>
        </div>
    </div>

    <div style="margin:10px auto;display:flex;justify-content:center; ">
        <button class="btn btn-medium btn-blue " (click)="onClickStepFour(frmProgram.value, frmProgram.valid); ">
            NEXT &nbsp;
            <i class="fa fa-chevron-right "></i>
        </button>
    </div>
</form>