<div class="in-content-wrap">
    <div routerLink="/modules/claims/claims-payment/{{ selectedClaim?.providerFacilityId }}" class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO CLAIMS PAYMENT
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabDetails_click()" [class.tab-active]="tab_details">Claim Payment Details</li>
        <!-- <li (click)="tabOther_click()" [class.tab-active]="tab_other">Other Claims</li>
        <li (click)="tabTreatment_click()" [class.tab-active]="tab_treatment">Treatment</li>
        <li (click)="tabComplaints_click()" [class.tab-active]="tab_complaints">Complaints</li>
        <li (click)="tabReferals_click()" [class.tab-active]="tab_referals">Referals</li> -->
    </ul>

    <div class="tab-content shadow-RB">
        <div *ngIf="tab_details" class="tab-pane fade show active">
            <div class="claims-inner-wrap">
                <div class="left-sect">
                    <div class="left-fixed shadow-b">
                        <div class="group-wrap">
                            <div class="group-item">
                                <div class="item-label">Date of Birth:</div>
                                <div class="item-val">{{selectedClaim?.checkedinDetail?.personObject?.dateOfBirth|date}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Age:</div>
                                <div class="item-val">{{ displayAge }}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Gender:</div>
                                <div class="item-val">{{selectedClaim?.checkedinDetail?.personObject?.gender?.name}}</div>
                            </div>
                            <!-- <div class="group-item">
                                <div class="item-label">LASRRA ID:</div>
                                <div class="item-val">{{selectedClaim?.checkedinDetail?.policyObject?.providerId?.provider?.lasrraId}}</div>
                            </div> -->
                            <div class="group-item">
                                <div class="item-label">{{ platformName }} ID:</div>
                                <div class="item-val">{{selectedClaim?.checkedinDetail?.beneficiaryObject?.platformOwnerNumber}}</div>
                            </div>
                        </div>

                        <div class="group-wrap">
                            <div class="group-item">
                                <div class="item-label">Hospital Name:</div>
                                <div class="item-val">{{selectedClaim?.checkedinDetail?.policyObject?.providerId?.name}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Provider ID:</div>
                                <div class="item-val">122.22.122</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Health Plan:</div>
                                <div class="item-val">{{selectedClaim?.checkedinDetail?.policyObject?.planId?.name}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Claim Type:</div>
                                <div class="item-val">{{selectedClaim?.claimType}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Status:</div>
                                <div class="item-val"><span class="lemon--green">{{selectedClaim?.checkedinDetail?.claimStatus?.name}}</span></div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Date when patient was checked in:</div>
                                <div class="item-val">{{selectedClaim?.checkedinDetail?.confirmation| date:'medium'}}</div>
                            </div>
                            <div class="group-item">
                                <div class="item-label">Date when claims was filed:</div>
                                <div class="item-val">{{selectedClaim?.dateClaimCreated| date:'medium'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-sect">
                    <div class="request-sect card" *ngIf="selectedClaim?.approvedDocumentation?.request != undefined">
                        <div class="headArea-1">
                            <div class="count">1</div>
                            <div class="letering">
                                <div class="letering-1">Request Sent {{selectedClaim?.approvedDocumentation?.createdAt|date:'medium'}}</div>
                                <div class="letering-2"><span class="letering-name">{{selectedClaim?.medicalPersonelName}}</span> Requested Claims</div>
                            </div>
                        </div>
                        <div class="doc-wrap">
                            <div class="doc-title">Clinical Information</div>

                            <ul class="doc-entries">
                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Presenting Complaints</li>
                                </div>
                            </ul>
                        </div>

                        <div class="doc-wrap">
                            <div class="doc-title">Complaint</div>

                            <ul class="doc-entries">
                                <div class="entry-wrap">
                                    <li>
                                        <div class="tbl-wrap">
                                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                                <thead class="thead">
                                                    <tr class="tr">
                                                        <th class="th">Complaints</th>
                                                        <th class="th">Duration</th>
                                                        <th class="th"></th>
                                                    </tr>
                                                </thead>

                                                <tbody class="tbody">
                                                    <tr class="tr" *ngFor="let symptom of selectedClaim?.approvedDocumentation?.request?.symptoms">
                                                        <td class="td">{{symptom.symptom}}</td>
                                                        <td class="td">{{symptom.duration}} {{symptom.unit}}(s)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <div class="doc-wrap">
                            <div class="doc-title">Clinical Findings</div>

                            <ul class="doc-entries">
                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Examination Findings</li>
                                    <li>{{selectedClaim?.approvedDocumentation?.request?.clinicNote}}</li>
                                </div>

                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Diagnosis</li>
                                    <li>
                                        <div class="tbl-wrap">
                                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                                <thead class="thead">
                                                    <tr class="tr">
                                                        <th class="th">Diagnosis</th>
                                                        <th class="th"></th>
                                                    </tr>
                                                </thead>

                                                <tbody class="tbody">
                                                    <tr class="tr" *ngFor="let diagnosis of selectedClaim.approvedDocumentation.request.diagnosis">
                                                        <td class="td">{{diagnosis.diagnosis}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </div>

                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Investigations</li>
                                    <li>
                                        <div class="tbl-wrap">
                                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                                <thead class="thead">
                                                    <tr class="tr">
                                                        <th class="th">Investigation</th>
                                                        <th class="th"></th>
                                                    </tr>
                                                </thead>

                                                <tbody class="tbody">
                                                    <tr class="tr" *ngFor="let itm of selectedClaim?.approvedDocumentation?.request?.investigations">
                                                        <td class="td">{{itm.investigation}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </div>


                                <div class="entry-wrap">
                                    <li>
                                        <div class="tbl-wrap">
                                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                                <thead class="thead">
                                                    <tr class="tr">
                                                        <th class="th">Drug</th>
                                                        <th class="th">Quantity</th>
                                                        <th class="th"></th>
                                                    </tr>
                                                </thead>

                                                <tbody class="tbody">
                                                    <tr class="tr" *ngFor="let drug of selectedClaim?.approvedDocumentation?.request?.drugs">
                                                        <td class="td">{{drug.drug}}</td>
                                                        <td class="td">{{drug.quantity}} {{drug.unit}}(s)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </div>

                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Procedures</li>
                                    <li>
                                        <div class="tbl-wrap">
                                            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                                                <thead class="thead">
                                                    <tr class="tr">
                                                        <th class="th">Procedures</th>
                                                        <th class="th"></th>
                                                    </tr>
                                                </thead>

                                                <tbody class="tbody">
                                                    <tr class="tr" *ngFor="let itm2 of selectedClaim?.approvedDocumentation?.request?.procedures">
                                                        <td class="td">{{itm2.procedure}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </div>

                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Investigations</li>
                                    <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
                                </div>

                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Amount</li>
                                    <li> &#x20A6; {{ selectedClaim?.costingApprovalDocumentation }}</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="selectedClaim?.approvedDocumentation?.response !=undefined" class="response-sect card">
                        <div class="headArea-2">
                            <div class="count">{{1}}</div>
                            <div class="letering">
                                <div class="letering-1">Reaction Sent {{selectedClaim?.approvedDocumentation?.response?.createdAt|date:'medium'}}
                                </div>
                                <div class="letering-2">
                                    <span class="letering-name">{{platformName}}</span>
                                    <span class="blue" *ngIf="selectedClaim.approvedDocumentation.response.isReject == true">Reject</span>
                                    <span class="blue" *ngIf="selectedClaim.approvedDocumentation.response.isQuery == true">Query</span>
                                    <span class="yellow" *ngIf="selectedClaim.approvedDocumentation.response.isHold == true">Hold</span>
                                    <span class="green" *ngIf="selectedClaim.approvedDocumentation.response.isApprove == true">Approve</span> Request
                                </div>
                            </div>
                        </div>
                        <div class="doc-wrap">
                            <ul class="doc-entries">
                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Reason for Denial:</li>
                                    <li>{{selectedClaim?.approvedDocumentation?.response?.reason}}</li>
                                </div>

                                <div class="entry-wrap">
                                    <li class="doc-subtitle">Name:</li>
                                    <li>{{selectedClaim?.approvedDocumentation?.response?.name}}</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="action-wrap" *ngIf="!selectedClaim?.isQueuedForPayment">
                <div class="btn btn-medium btn-yellow" (click)="onClickQueueForPayment()">Queue For Payment</div>
            </div> -->
        </div>
    </div>
</div>
