.date-picker-width{
    width:300px;
}
.another-dependant{
    text-align:right;
}

.next-btn{
    margin:10px auto;display:flex;justify-content:center;
}

.gender-span{
    display:inline-block;margin:0 40px;
}

.gender-label{
    width: 30px;display: block;margin: 0 auto;
}