<div class="content-top-bar">
    <div class="bar-labels">
        <div>Grade: {{selectedFacility?.hia.grade.name}}</div>
        <div>Status:
            <span class="text-red" *ngIf="selectedFacility?.isConfirmed===undefined || selectedFacility?.isConfirmed===false">Not Authorized</span>
            <span *ngIf="selectedFacility?.isConfirmed===true">Authorized</span>
        </div>
        <div>Full License: Valid till 11th Jun, 2018.</div>
    </div>

    <div class="bar-icos">
        <i (click)="addApprovalClick(e);" class="fa fa-pencil" aria-hidden="true"></i>
    </div>
</div>