<div class="in-content-wrap">
    <div class="back-btn">
        <i class="fa fa-chevron-left"></i> BACK TO PLATFORM
    </div>

    <ul class="inpage-tabs">
        <li (click)="tabClick('platform')" [class.tab-active]="tabPlatform">Platform</li>
        <li (click)="tabClick('hia')" [class.tab-active]="tabHia">HIAs</li>
        <li (click)="tabClick('provider')" [class.tab-active]="tabProvider">Providers</li>
        <li (click)="tabClick('employer')" [class.tab-active]="tabEmployer">Employers</li>
        <li (click)="tabClick('beneficiary')" [class.tab-active]="tabBeneficiary">Beneficiaries</li>
    </ul>

    <div>
        <div *ngIf="tabPlatform" class="tab-pane fade show active shadow-RB">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div class="tab-logo">
                        <img src="../../../../assets/img/logos/lagos-state-logo.jpg">
                    </div>
                    <div>Lagos State Health Management Agency</div>
                    <div>Status: <span class="status">Active</span></div>
                </div>

                <div class="bar-icos"></div>
            </div>
            <section class="tab-cont content">
                <section>

                </section>
            </section>
        </div>
        <div *ngIf="tabHia" class="tab-pane fade tab-content-box">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Health Insurance Agents</div>
                </div>
            </div>
            <app-list-hia class="tab-content"></app-list-hia>
        </div>
        <div *ngIf="tabProvider" class="tab-pane fade tab-content-box">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Health Care Providers</div>
                </div>
            </div>
            <app-list-provider class="tab-content"></app-list-provider>
        </div>
        <div *ngIf="tabEmployer" class="tab-pane fade tab-content-box">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Employers</div>
                </div>
            </div>
            <app-list-employer class="tab-content"></app-list-employer>
        </div>
        <div *ngIf="tabBeneficiary" class="tab-pane fade tab-content-box">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Beneficiaries</div>
                </div>
            </div>
            <app-list-beneficiary class="tab-content"></app-list-beneficiary>
        </div>
    </div>
</div>