<div class="modal-title">Query Pre - Authorization -133392-BA</div>

<form [formGroup]="preAuthQueryFormGroup" novalidate>
  <div class="frm-item-wrap">
    <label class="label">Reason</label>
    <div class="input-wrap" style="width:100%;">
      <textarea formControlName="reason" class="form-control-textArea"></textarea>
    </div>
    <small class="alert-label" [hidden]="preAuthQueryFormGroup.controls.reason.valid || preAuthQueryFormGroup.controls.reason.pristine">
            This is a required field.
        </small>
  </div>

  <div class="frm-item-wrap">
    <label class="label">Name</label>
    <div class="input-wrap">
      <input type="text" formControlName="name" class="form-control">
    </div>
    <small class="alert-label" [hidden]="preAuthQueryFormGroup.controls.name.valid || preAuthQueryFormGroup.controls.name.pristine">
            This is a required field (minimum 3 and max of 50 characters).
        </small>
  </div>

  <div class="frm-item-wrap">
    <label class="label">Institution</label>
    <div class="input-wrap">
      <select formControlName="institution" class="form-control">
                <option value="" selected>Select...</option>
            </select>
    </div>
    <small class="alert-label" [hidden]="preAuthQueryFormGroup.controls.institution.valid || preAuthQueryFormGroup.controls.institution.pristine">
            Choose state from the dropdown.
        </small>
  </div>
  <button (click)="ok()" class="btn btn-medium btn-blue cta">OK</button>
</form>