<div class="claims-inner-wrap">
  <div class="left-sect">
    <div class="left-fixed shadow-b">
      <div class="group-wrap">
        <div class="group-item">
          <div class="item-label">Date of Birth:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject.personId.dateOfBirth | date}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Age:</div>
          <div class="item-val">{{getAge()}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Gender:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject.personId.gender.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">LASRRA ID:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject?.stateID}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">LAASHMA ID:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject.platformOwnerNumber}}</div>
        </div>
      </div>

      <div class="group-wrap">
        <div class="group-item">
          <div class="item-label">Hospital Name:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.providerFacilityId.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Provider ID:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.providerFacilityId.provider.providerId}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Health Plan:</div>
          <div class="item-val">Formal Sector Plan</div>
        </div>
        <div class="group-item">
          <div class="item-label">Claim Type:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.claimType.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Status:</div>
          <div class="item-val"><span class="lemon--green">{{selectedAuthorization.checkedInDetails.claimStatus.name}}</span></div>
        </div>
        <div class="group-item">
          <div class="item-label">Date when patient was checked in:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.confirmation | date}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Date when claims was filed:</div>
          <div class="item-val"></div>
        </div>
      </div>
      <div class="list-buttom" style="width: 175px;">
        <div class="btn btn-medium btn-yellow">Generate Authorization</div>
      </div>
    </div>

  </div> 

  <div class="right-sect">
    <div class="request-sect card">
      <div class="headArea-1">
        <div class="count">1</div>
        <div class="letering">
          <div class="letering-1">Request Sent 11-10.2017 11:20am</div>
          <div class="letering-2"><span class="letering-name">Jonathan Nelson</span> Requested Claims</div>
        </div>
      </div>
      <div class="doc-wrap">
        <div class="doc-title">Clinical Information</div>

        <ul class="doc-entries">
          <div class="entry-wrap">
            <li class="doc-subtitle">Presenting Complaints</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>
        </ul>
      </div>

      <div class="doc-wrap">
        <div class="doc-title">Clinical Findings</div>

        <ul class="doc-entries">
          <div class="entry-wrap">
            <li class="doc-subtitle">Examination Findings</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Diagnosis</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Investigations</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Amount</li>
            <li>N20,000</li>
          </div>
        </ul>
      </div>
    </div>

    <div class="response-sect card">
      <div class="headArea-2">
        <div class="count">2</div>
        <div class="letering">
          <div class="letering-1">Reaction Sent 11-10.2017 11:20am</div>
          <div class="letering-2"><span class="letering-name">LASHMA</span> <span class="red">Denied</span> Request</div>
        </div>
      </div>
      <div class="doc-wrap">
        <ul class="doc-entries">
          <div class="entry-wrap">
            <li class="doc-subtitle">Reason for Denial:</li>
            <li>in the name of the king comes the big fat bully of the year o be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Name:</li>
            <li>Sam Edwin</li>
            <li>Lashma</li>
          </div>
        </ul>
      </div>
    </div>

    <div class="request-sect card">
      <div class="headArea-1">
        <div class="count">3</div>
        <div class="letering">
          <div class="letering-1">Request Updated 11-10.2017 11:20am</div>
          <div class="letering-2"><span class="letering-name">Jonathan Nelson</span> Requested Claims</div>
        </div>
      </div>
      <div class="doc-wrap">
        <div class="doc-title">Clinical Information</div>

        <ul class="doc-entries">
          <div class="entry-wrap">
            <li class="doc-subtitle">Presenting Complaints</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>
        </ul>
      </div>

      <div class="doc-wrap">
        <div class="doc-title">Clinical Findings</div>

        <ul class="doc-entries">
          <div class="entry-wrap">
            <li class="doc-subtitle">Examination Findings</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Diagnosis</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Investigations</li>
            <li>in the name of the king comes the big fat bully of the year because youve gat to be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Amount</li>
            <li>N20,000</li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="action-wrap">
  <div class="btn btn-medium btn-red" (click)="rejectClaim()">REJECT</div>
  <div class="btn btn-medium btn-red" (click)="queryClaim()">QUERY</div>
  <div class="btn btn-medium btn-yellow" (click)="holdClaim()">HOLD</div>
  <div class="btn btn-medium btn-blue" (click)="approveClaim()">APPROVE</div>
</div>

<div *ngIf="modalApprove" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-approve-authorization (closeModal)="modal_close()"></app-modal-approve-authorization>
  </div>
</div>

<div *ngIf="modalReject" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-reject-authorization (closeModal)="modal_close()"></app-modal-reject-authorization>
  </div>
</div>

<div *ngIf="modalQuery" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
        <app-modal-query-authorization (closeModal)="modal_close()"></app-modal-query-authorization>

  </div>
</div>

<div *ngIf="modalHold" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-hold-authorization (closeModal)="modal_close()"></app-modal-hold-authorization>
  </div>
</div>