<div class="claims-inner-wrap">
  <div class="left-sect">
    <div class="left-fixed shadow-b">
      <div class="group-wrap">
        <div class="group-item">
          <div class="item-label">Date of Birth:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject.personId.dateOfBirth | date}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Age:</div>
          <div class="item-val">{{getAge()}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Gender:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject.personId.gender.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">LASRRA ID:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject?.stateID}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">LAASHMA ID:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.beneficiaryObject.platformOwnerNumber}}</div>
        </div>
      </div>

      <div class="group-wrap">
        <div class="group-item">
          <div class="item-label">Hospital Name:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.providerFacilityId.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Provider ID:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.providerFacilityId.provider.providerId}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Health Plan:</div>
          <div class="item-val">Formal Sector Plan</div>
        </div>
        <div class="group-item">
          <div class="item-label">Claim Type:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.claimType.name}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Status:</div>
          <div class="item-val">
            <span class="lemon--green">{{selectedAuthorization.checkedInDetails.claimStatus.name}}</span>
          </div>
        </div>
        <div class="group-item">
          <div class="item-label">Date when patient was checked in:</div>
          <div class="item-val">{{selectedAuthorization.checkedInDetails.confirmation | date}}</div>
        </div>
        <div class="group-item">
          <div class="item-label">Date when claims was filed:</div>
          <div class="item-val"></div>
        </div>
      </div>
      <!-- <div class="list-buttom" style="width: 175px;">
        <div class="btn btn-medium btn-yellow">Generate Authorization</div>
      </div> -->
    </div>

  </div>

  <div class="right-sect" *ngFor="let transaction of selectedAuthorization.documentation">
    <div class="request-sect card">
      <div class="headArea-1">
        <div class="count">1</div>
        <div class="letering">
          <div class="letering-1">Request Sent {{transaction.createdAt | date:'short'}}</div>
          <div class="letering-2">
            <span class="letering-name">{{selectedAuthorization.medicalPersonelName}}</span> Requested Pre-Authorization</div>
        </div>
      </div>
      <div class="doc-wrap">
        <div class="doc-title">Clinical Information</div>

        <ul *ngFor="let doc of orderDocuments(transaction.document)" class="doc-entries">
          <div *ngIf="doc.order === 1" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              <div class="tbl-wrap">
                <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                  <thead class="thead">
                    <tr class="tr">
                      <th class="th">Complaints</th>
                      <th class="th">Duration</th>
                      <th class="th"></th>
                    </tr>
                  </thead>

                  <tbody class="tbody">
                    <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                      <td class="td">{{cliDoc.symptom.name}}</td>
                      <td class="td">{{cliDoc.duration}} {{cliDoc.unit.name}}</td>
                      <td>
                        <i class="fa fa-times"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </div>
          <div *ngIf="doc.order === 2" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              {{doc.clinicalDocumentation}}
            </li>
          </div>
          <div *ngIf="doc.order === 3" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              <div class="tbl-wrap">
                <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                  <thead class="thead">
                    <tr class="tr">
                      <th class="th">Diagnosis</th>
                      <th class="th">Diagnosis Type</th>
                      <th class="th"></th>
                    </tr>
                  </thead>

                  <tbody class="tbody">
                    <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                      <td class="td">{{cliDoc.diagnosis.name}}</td>
                      <td class="td">{{cliDoc.diagnosisType.name}}</td>
                      <td>
                        <i class="fa fa-times"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </div>
          <div *ngIf="doc.order === 4" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              <div class="tbl-wrap">
                <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                  <thead class="thead">
                    <tr class="tr">
                      <th class="th">Investigation</th>
                      <th class="th">Amount</th>
                      <th class="th"></th>
                    </tr>
                  </thead>

                  <tbody class="tbody">
                    <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                      <td class="td">{{cliDoc.investigation.name}}</td>
                      <td class="td">{{cliDoc.investigation.Amount}}</td>
                      <td>
                        <i class="fa fa-times"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </div>
          <div *ngIf="doc.order === 5" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              <div class="tbl-wrap">
                <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                  <thead class="thead">
                    <tr class="tr">
                      <th class="th">Drug</th>
                      <th class="th">Quantity</th>
                      <th class="th"></th>
                    </tr>
                  </thead>

                  <tbody class="tbody">
                    <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                      <td class="td">{{cliDoc.drug.name}}</td>
                      <td class="td">{{cliDoc.quantity}} {{cliDoc.unit.name}}</td>
                      <td>
                        <i class="fa fa-times"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </div>
          <div *ngIf="doc.order === 6" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              <div class="tbl-wrap">
                <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                  <thead class="thead">
                    <tr class="tr">
                      <th class="th">Procedure</th>
                      <th class="th">Amount</th>
                      <th class="th"></th>
                    </tr>
                  </thead>

                  <tbody class="tbody">
                    <tr *ngFor="let cliDoc of doc.clinicalDocumentation" class="tr">
                      <td class="td">{{cliDoc.procedure.name}}</td>
                      <td class="td">{{cliDoc.procedure.Amount}}</td>
                      <td>
                        <i class="fa fa-times"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </div>
          <div *ngIf="doc.order === 7" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              {{doc.clinicalDocumentation}}
            </li>
          </div>
          <div *ngIf="doc.order === 8" class="entry-wrap">
            <li class="doc-subtitle">{{doc.type}}</li>
            <li>
              {{doc.clinicalDocumentation}}
            </li>
          </div>
        </ul>
      </div>

      <div class="reply-wrap">
        <div class="btn btn-medium btn-grey-outline">
          <i class="fa fa-reply"></i> REPLY
        </div>
      </div>
    </div>

    <div *ngIf="transaction.response!== undefined" class="response-sect card">
      <div class="headArea-2">
        <div class="count">2</div>
        <div class="letering">
          <div class="letering-1">Reaction Sent 11-10.2017 11:20am</div>
          <div class="letering-2">
            <span class="letering-name">LASHMA</span>
            <span class="red">Denied</span> Request</div>
        </div>
      </div>
      <div class="doc-wrap">
        <ul class="doc-entries">
          <div class="entry-wrap">
            <li class="doc-subtitle">Reason for Denial:</li>
            <li>in the name of the king comes the big fat bully of the year o be kidding right</li>
          </div>

          <div class="entry-wrap">
            <li class="doc-subtitle">Name:</li>
            <li>Sam Edwin</li>
            <li>Lashma</li>
          </div>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="action-wrap">
  <div class="btn btn-medium btn-red" (click)="rejectClaim()">REJECT</div>
  <div class="btn btn-medium btn-red" (click)="queryClaim()">QUERY</div>
  <div class="btn btn-medium btn-yellow" (click)="holdClaim()">HOLD</div>
  <div class="btn btn-medium btn-blue" (click)="approveClaim()">APPROVE</div>
</div>

<div *ngIf="modalApprove" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-approve-authorization (closeModal)="modal_close()"></app-modal-approve-authorization>
  </div>
</div>

<div *ngIf="modalReject" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-reject-authorization (closeModal)="modal_close()"></app-modal-reject-authorization>
  </div>
</div>

<div *ngIf="modalQuery" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-query-authorization (closeModal)="modal_close()"></app-modal-query-authorization>
  </div>
</div>

<div *ngIf="modalHold" class="modal-overlay">
  <div class="modal-wrap shadow-RB">
    <div (click)="modal_close()" class="close-modal">X</div>
    <app-modal-hold-authorization (closeModal)="modal_close()"></app-modal-hold-authorization>
  </div>
</div>