@import '../../../../../assets/libs/variables.scss';

.claims-inner-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-sect{
    position: relative;
    width: 35%;
}
.left-fixed{
    position: fixed;
}
.left-fixed{
    position: fixed;
    width: 31%;
    padding: 10px;
    box-sizing: border-box;
    background: lighten($brand-primary, 71%);
    border: 1px solid lighten($brand-primary, 50%)
}
.right-sect{
    width: 63%;
}
.card{
    width: 100%;
    padding:10px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 8px 3px rgba(212,212,212,1);
    -moz-box-shadow: 0px 1px 8px 3px rgba(212,212,212,1);
    box-shadow: 0px 1px 8px 3px rgba(212,212,212,1);
}
.request-sect{
    border-left: 6px solid $brand-primary;
}
.response-sect{
    border-right: 6px solid $brand-primary;
}
.item-label {
    font-weight: bold;
    margin-right: 10px;
}
.item-val{
    color: $grey-3;
}
.group-wrap{
    margin: 10px 0;
}
.group-item{
    display: flex;
    justify-content: flex-start;
}
.doc-title{
    font-weight: bold;
    margin: 20px 0;
    font-size: $font-x3;
}
.doc-subtitle{
    font-weight: bold;
    font-size: $font-x2;
}
.entry-wrap{
    margin-bottom: 10px;
}
.action-wrap{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.action-wrap .btn{
    margin-right: 10px;
}
.headArea-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headArea-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.count{
    background: $brand-primary;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100%;
    margin-right: 20px;
}
.letering{
    font-weight: bold;
    color: $brand-primary;
    line-height: 1.5;
    font-size: $font-x3;
}
.letering-name{
    font-weight: normal;
    font-style: italic;
}