<section class="content">
    <div class="row pad-all">
        <div class="col-12 col-sm-8">

        </div>
        <div class="col-12 col-sm-4">
            <a class="btn btn-default border-gray btn-flat text-gray pull-right" routerLink="/modules/employer/employers">
                <i class="fa fa-times"></i> CANCEL
            </a>
        </div>
    </div>
    <div class="row pad-up">
        <div class="col-12">
            <form [formGroup]="employerFormGroup" novalidate>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Employer Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="employerName" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.employerName.valid || employerFormGroup.controls.employerName.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Address</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="address" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.address.valid || employerFormGroup.controls.address.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">State</label>
                            <div class="col-12 no-padding">
                                <select formControlName="state" class="form-control">
                                        <option value="" selected>Select State</option>
                                        <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="employerFormGroup.controls.state.valid || employerFormGroup.controls.state.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">L.G.A.</label>
                            <div class="col-12 no-padding">

                                <select formControlName="lga" class="form-control">
                                            <option value="" selected>Select L.G.A</option>
                                            <option *ngFor="let lga of lgs" [ngValue]="lga">{{ lga.name }}</option>
                                        </select>
                                <small class="alert-label" [hidden]="employerFormGroup.controls.lga.valid || employerFormGroup.controls.lga.pristine">
                                            This is a required field.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">City</label>
                            <div class="col-12 no-padding">
                                <select formControlName="city" class="form-control">
                                            <option value="" selected>Select City</option>
                                            <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                                        </select>
                                <small class="alert-label" [hidden]="employerFormGroup.controls.city.valid || employerFormGroup.controls.city.pristine">
                                            This is a required field.
                                        </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Neighbourhood</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="neighbourhood" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.neighbourhood.valid || employerFormGroup.controls.neighbourhood.pristine">
                                        This is a required field (minimum 3 and max of 50 characters).
                                    </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Phone Number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="phone" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.phone.valid || employerFormGroup.controls.phone.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                                <label class="col-12 no-padding control-label">Email</label>
                                <div class="col-12 no-padding">
                                    <input type="text" formControlName="email" class="form-control">
                                    <small class="alert-label" [hidden]="employerFormGroup.controls.email.valid || employerFormGroup.controls.email.pristine">
                                        This is a required field.
                                    </small>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                        <div class="row">
                            <div class="col-12 form-group col-md-6">
                                    <label class="col-12 no-padding control-label">Industry Type</label>
                                    <div class="col-12 no-padding">
                                        <select formControlName="type" class="form-control">
                                                <option value="" selected>Select Industry Type</option>
                                                <option *ngFor="let industry of industries" [ngValue]="industry">{{ industry.name }}</option>
                                            </select>
                                        <small class="alert-label" [hidden]="employerFormGroup.controls.type.valid || employerFormGroup.controls.type.pristine">
                                                This is a required field.
                                            </small>
                                    </div>
                            </div>
                            <div class="col-12 form-group col-md-6">
                               
                            </div>
                        </div>
                    </div>










                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Business Contact LastName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bc_lname" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bc_lname.valid || employerFormGroup.controls.bc_lname.pristine">
                                                This is a required field.
                                            </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Business Contact FirstName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bc_fname" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bc_fname.valid || employerFormGroup.controls.bc_fname.pristine">
                                        This is a required field.
                                    </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Business Contact number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bc_phone" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bc_phone.valid || employerFormGroup.controls.bc_phone.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Business Contact position</label>
                            <div class="col-12 no-padding">
                                <select formControlName="bc_position" class="form-control">
                                    <option value="" selected>Select Position</option>
                                    <option *ngFor="let position of contactPositions" [ngValue]="position">{{ position.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bc_position.valid || employerFormGroup.controls.bc_position.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Business Contact Email</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="bc_email" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bc_email.valid || employerFormGroup.controls.bc_email.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <!-- <label class="col-12 no-padding control-label">Industry Type</label>
                            <div class="col-12 no-padding">
                                <select formControlName="type" class="form-control">
                                    <option value="" selected>Select Industry Type</option>
                                    <option *ngFor="let type of industries" [ngValue]="type">{{ type.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="employerFormGroup.controls.type.valid || employerFormGroup.controls.type.pristine">
                                    This is a required field.
                                </small>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">IT Contact LastName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="it_lname" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.it_lname.valid || employerFormGroup.controls.it_lname.pristine">
                                                This is a required field.
                                            </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">IT Contact FirstName</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="it_fname" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.it_fname.valid || employerFormGroup.controls.it_fname.pristine">
                                        This is a required field.
                                    </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">IT Contact Number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="it_phone" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.it_phone.valid || employerFormGroup.controls.it_phone.pristine">
                                    This is a required field (minimum 3 and max of 50 characters).
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">IT Contact Position</label>
                            <div class="col-12 no-padding">
                                <select formControlName="it_position" class="form-control">
                                    <option value="" selected>Select Position</option>
                                    <option *ngFor="let position of contactPositions" [ngValue]="position">{{ position.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="employerFormGroup.controls.it_position.valid || employerFormGroup.controls.it_position.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">IT Contact Email</label>
                            <div class="col-12 no-padding">
                                <input type="email" formControlName="it_email" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.it_email.valid || employerFormGroup.controls.it_email.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <!-- <label class="col-12 no-padding control-label">Industry Type</label>
                            <div class="col-12 no-padding">
                                <select formControlName="type" class="form-control">
                                    <option value="" selected>Select Industry Type</option>
                                    <option *ngFor="let type of industries" [ngValue]="type">{{ type.name }}</option>
                                </select>
                                <small class="alert-label" [hidden]="employerFormGroup.controls.type.valid || employerFormGroup.controls.type.pristine">
                                    This is a required field.
                                </small>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Bank</label>
                            <select formControlName="bank" class="form-control">
                                <option value="" selected>Select Bank</option>
                                <option *ngFor="let bank of banks" [ngValue]="bank" selected>{{bank.name}}</option>
                            </select>
                            <small class="alert-label" [hidden]="employerFormGroup.controls.bank.valid || employerFormGroup.controls.bank.pristine">
                                This is a required field.
                            </small>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Bank Account Name</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bankAccName" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bankAccName.valid || employerFormGroup.controls.bankAccName.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Bank Account Number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bankAccNumber" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bankAccNumber.valid || employerFormGroup.controls.bankAccNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <!-- <label class="col-12 no-padding control-label">Bank Account Number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="bankAccNumber" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.bankAccNumber.valid || employerFormGroup.controls.bankAccNumber.pristine">
                                    This is a required field.
                                </small>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">CIN Number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="cinNumber" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.cinNumber.valid || employerFormGroup.controls.cinNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">CAC Number</label>
                            <div class="col-12 no-padding">
                                <input type="text" formControlName="cacNumber" class="form-control">
                                <small class="alert-label" [hidden]="employerFormGroup.controls.cacNumber.valid || employerFormGroup.controls.cacNumber.pristine">
                                    This is a required field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 form-group col-md-6">
                            <label class="col-12 no-padding control-label">Photos</label>
                            <div class="col-12 no-padding">
                                <button class="btn btn-default btn-flat border-brand text-brand">Search Photo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-12 pad-all">
                <div class="col-12 text-center">
                    <button class="btn btn-primary btn-flat" (click)="onClickSaveEmployer(employerFormGroup, employerFormGroup.valid);"
                        [innerHtml]="saveBtn"></button>
                </div>
            </div>
        </div>
    </div>
</section>