<div style="padding-top:2px;">
    <section class="app-content-wrap content shadow-RB">

        <div class="nut-tab-topSect-wrap">
            <div></div>

            <div class="btn btn-medium btn-grey-outline" routerLink="/modules/platform/platforms">
                <i class="fa fa-times"></i> CANCEL
            </div>
        </div>

        <form [formGroup]="employerFormGroup" novalidate>
            <div class="frm-item-wrap">
                <label class="label">Employer Name</label>
                <div class="input-wrap">
                    <input type="text" formControlName="employerName" class="form-control">
                </div>
                <small class="alert-label" [hidden]="employerFormGroup.controls.providerName.valid || employerFormGroup.controls.providerName.pristine">
                    This is a required field (minimum 3 and max of 50 characters).
                </small>
            </div>




            <div class="text-center">
                <button class="btn btn-medium btn-blue" (click)="onClickSaveProvider(providerFormGroup, providerFormGroup.valid);">
                    NEXT &nbsp; <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </form>
    </section>
</div>