<div class="pad-wrap">
    <ul class="inpage-tabs">
        <li (click)="tabDrug_click()" [class.tab-active]="tab_drug">Drug</li>
        <li (click)="tabInvestigation_click()" [class.tab-active]="tab_investigation">Investigation</li>
        <li (click)="tabProcedure_click()" [class.tab-active]="tab_procedure">Procedure</li>
        <li (click)="tabVisit_click()" [class.tab-active]="tab_visit">Visit Class</li>
    </ul>

    <div class="tab-content">
        <div *ngIf="tab_drug" class="tab-pane fade show active">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Lashma Codes - Drugs</div>
                </div>

                <div class="bar-icos">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>

            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">No</th>
                        <th class="th">Drug Class</th>
                        <th class="th">Drug</th>
                        <th class="th">Code</th>
                        <th class="th">Quantity Required</th>
                        <th class="th">PA</th>
                        <th class="th">Prefered Primary</th>
                        <th class="th">Amount</th>
                        <th class="th">Secondary</th>
                        <th class="th">P</th>
                        <th class="th">R</th>
                        <th class="th">Comment</th>
                        <th class="th"></th>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr class="tr" *ngIf="drugs.length === 0 && !drugLoading">
                        <td class="text-center" colspan="13">No data available in table</td>
                    </tr>
                    <tr class="tr" *ngIf="drugs.length === 0 && drugLoading">
                        <td class="text-center" colspan="13">
                            <i class="fa fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr class="tr" *ngFor="let drug of drugs; let i = index;">
                        <td class="td">{{ i+1 }}</td>
                        <td class="td">{{ drug?.drugClass }}</td>
                        <td class="td">{{ drug?.name }}</td>
                        <td class="td">{{ drug?.code }}</td>
                        <td class="td">{{ drug['quantity required'] }}</td>
                        <td class="td">{{ drug?.pa }}</td>
                        <td class="td">{{ drug?.preferredPrimary }}</td>
                        <td class="td">{{ drug?.amount }}</td>
                        <td class="td">{{ drug?.secondary }}</td>
                        <td class="td">{{ drug?.p }}</td>
                        <td class="td">{{ drug?.r }}</td>
                        <td class="td"></td>
                        <td class="td td-trash-circle"><i class="fa fa-pencil"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="tab_investigation" class="tab-pane fade show active">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Lashma Codes - Investigations</div>
                </div>

                <div class="bar-icos">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>

            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">No</th>
                        <th class="th">Investigation Class</th>
                        <th class="th">Investigation</th>
                        <th class="th">Code</th>
                        <th class="th">Quantity Required</th>
                        <th class="th">PA</th>
                        <th class="th">Prefered Primary</th>
                        <th class="th">Amount</th>
                        <th class="th">Secondary</th>
                        <th class="th">P</th>
                        <th class="th">R</th>
                        <th class="th">Comment</th>
                        <th class="th"></th>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr class="tr" *ngIf="investigations.length === 0 && !investigationLoading">
                        <td class="text-center" colspan="13">No data available in table</td>
                    </tr>
                    <tr class="tr" *ngIf="investigations.length === 0 && investigationLoading">
                        <td class="text-center" colspan="13">
                            <i class="fa fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr class="tr" *ngFor="let investigation of investigations; let i = index;">
                        <td class="td">{{ i+1 }}</td>
                        <td class="td">{{ investigation?.investigationClass }}</td>
                        <td class="td">{{ investigation?.name }}</td>
                        <td class="td">{{ investigation?.code }}</td>
                        <td class="td">{{ investigation['quantity required'] }}</td>
                        <td class="td">{{ investigation?.PA }}</td>
                        <td class="td">{{ investigation?.Amount }}</td>
                        <td class="td">{{ investigation['Preferred Primary'] }}</td>
                        <td class="td">{{ investigation?.Secondary }}</td>
                        <td class="td">{{ investigation?.P }}</td>
                        <td class="td">{{ investigation?.R }}</td>
                        <td class="td"></td>
                        <td class="td td-trash-circle"><i class="fa fa-pencil"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="tab_procedure" class="tab-pane fade show active">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Lashma Codes - Procedures</div>
                </div>

                <div class="bar-icos">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>

            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">No</th>
                        <th class="th">Procedure Class</th>
                        <th class="th">Procedure</th>
                        <th class="th">Code</th>
                        <th class="th">Quantity Required</th>
                        <th class="th">PA</th>
                        <th class="th">Prefered Primary</th>
                        <th class="th">Amount</th>
                        <th class="th">Secondary</th>
                        <th class="th">P</th>
                        <th class="th">R</th>
                        <th class="th">Comment</th>
                        <th class="th"></th>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr class="tr" *ngIf="procedures.length === 0 && !procedureLoading">
                        <td class="text-center" colspan="13">No data available in table</td>
                    </tr>
                    <tr class="tr" *ngIf="procedures.length === 0 && procedureLoading">
                        <td class="text-center" colspan="13">
                            <i class="fa fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr class="tr" *ngFor="let procedure of procedures; let i = index;">
                        <td class="td">{{ i+1 }}</td>
                        <td class="td">{{ procedure?.class }}</td>
                        <td class="td">{{ procedure?.name }}</td>
                        <td class="td">{{ procedure?.code }}</td>
                        <td class="td">{{ procedure['quantity require'] }}</td>
                        <td class="td">{{ procedure?.PA }}</td>
                        <td class="td">{{ procedure?.preferredPrimary }}</td>
                        <td class="td">{{ procedure?.Amount }}</td>
                        <td class="td">{{ procedure?.Secondary }}</td>
                        <td class="td">{{ procedure?.P }}</td>
                        <td class="td">{{ procedure?.R }}</td>
                        <td class="td"></td>
                        <td class="td td-trash-circle"><i class="fa fa-pencil"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="tab_visit" class="tab-pane fade show active">
            <div class="content-top-bar">
                <div class="bar-labels">
                    <div>Lashma Codes - Visit Classes</div>
                </div>

                <div class="bar-icos">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>

            <table class="table" cellpadding="0" cellspacing="0" border="0.5">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">No</th>
                        <th class="th">Class</th>
                        <th class="th">Name</th>
                        <th class="th">Code</th>
                        <th class="th">FR Type</th>
                        <th class="th">PA</th>
                        <th class="th">Prefered Primary</th>
                        <th class="th">Amount</th>
                        <th class="th">Secondary</th>
                        <th class="th">P</th>
                        <th class="th">R</th>
                        <th class="th">Limits</th>
                        <th class="th">Comment</th>
                        <th class="th"></th>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr class="tr" *ngIf="visitTypes.length === 0 && !visitTypeLoading">
                        <td class="text-center" colspan="14">No data available in table</td>
                    </tr>
                    <tr class="tr" *ngIf="visitTypes.length === 0 && visitTypeLoading">
                        <td class="text-center" colspan="14">
                            <i class="fa fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr class="tr" *ngFor="let visitType of visitTypes; let i = index;">
                        <td class="td">{{ i+1 }}</td>
                        <td class="td">{{ visitType?.class }}</td>
                        <td class="td">{{ visitType?.name }}</td>
                        <td class="td">{{ visitType?.code }}</td>
                        <td class="td">{{ visitType['FR TYPE'] }}</td>
                        <td class="td">{{ visitType?.PA }}</td>
                        <td class="td">{{ visitType?.preferredPrimary }}</td>
                        <td class="td">{{ visitType?.Amount }}</td>
                        <td class="td">{{ visitType?.Secondary }}</td>
                        <td class="td">{{ visitType?.P }}</td>
                        <td class="td">{{ visitType?.R }}</td>
                        <td class="td">{{ visitType?.Limits['contents of service'] }}</td>
                        <td class="td"></td>
                        <td class="td td-trash-circle"><i class="fa fa-pencil"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>