@import '../../../../../assets/libs/variables.scss';

.claims-inner-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-sect{
    width: 35%;
    border-right: 3px solid $brand-primary;
}
.right-sect{
    width: 63%;
}
.item-label {
    font-weight: bold;
    margin-right: 10px;
}
.item-val{
    color: $grey-3;
}
.group-wrap{
    margin: 10px 0;
}
.group-item{
    display: flex;
    justify-content: flex-start;
}
.doc-title{
    font-weight: bold;
    margin: 20px 0;
    font-size: $font-x3;
}
.doc-subtitle{
    font-weight: bold;
    font-size: $font-x2;
}
.entry-wrap{
    margin-bottom: 10px;
}
.action-wrap{
    display: flex;
    justify-content: flex-end;
}
.action-wrap .btn{
    margin-right: 10px;
}